<% title 'Sign Up' %>

<h1>Sign Up</h1>


<%# use @user instance variable to capture changes in @account for incorrect form entry%>
<%= simple_form_for(@user.with_account, :as => @user, :url => registration_path(@user), :html => { :honeypot => true } ) do |f| %>

  <% flash[:error] = "There were one or more errors while trying to process your request" if !devise_error_messages!.empty? %>

  <h2>Account Setup</h2>
  <br class = "spacer"/>
  
  <%= f.input :username,              :required => true, 
                                      :hint => "Numbers, letters, underscores only, 15 chars max.",
                                      :placeholder => "ex: BazaarSeller23" %>

  <%= f.input :email ,                :required => true,
                                      :placeholder => "ex: name@domain.com" %>

  <%= f.simple_fields_for :account do |a| %>
																				

  <%= f.input :password,              :required => true, 
                                      :hint => "must be at least 8 characters"  %>

  <%= f.input :password_confirmation, :label => "Confirm Password", 
                                      :required => true %>

  
    <%= a.input :security_question,   :label => "Security Question", 
                                      :collection => [  "Who is your favorite Magic player?",
                                                        "Who taught you to play Magic?",
                                                        "What is your favorite Magic card?",
                                                        "What was the make of your first car?",
                                                        "What is your mother's maiden name?",
                                                        "What was your childhood nickname?",
                                                        "What is your oldest sibling's name?",
                                                        "Who was your childhood hero?",
                                                        "What is your grandfather's name?" ] , 
                                      :include_blank => false,
                                      :required => true,
                                      :input_html => { :class => 'chzn-select'} %>

    <%= a.input :security_answer,     :label => "Answer", 
                                      :required => true,
                                      :hint => "please remember for identity confirmation" %>

  <% end %>

  <br class = "spacer"/>
  <br class = "spacer"/>
  
  <h2>Personal Information</h2>
  <br class = "spacer"/>

  <%= f.simple_fields_for :account do |a| %>
    <%= a.input :first_name,    :required => true %>
    
    <%= a.input :last_name ,    :required => true %>
    <br class = "spacer"/>                               
    <%= a.input :address1,      :label => "Address 1",
                                :placeholder => "ex: 402 Planeswalker Place",
                                :input_html => { :class => "verify_address_input" },                                
                                :required => true %>
                                
    <%= a.input :address2,      :label => 'Address 2',
                                :placeholder => "ex: APT 203",    
                                :input_html => { :class => "verify_address_input" } %>

    <%= a.input :city ,         :required => true,
                                :input_html => { :class => "verify_address_input" } %>

    <%= a.input :state ,        :as => :string,
                                :placeholder => "ex: TX",
                                :input_html => { :maxlength => 2, :class => 'verify_address_input' },                                       
                                :required => true %>
                                
    <%= a.input :zipcode ,      :label => "Zip" , 
                                :input_html => { :maxlength => 5, :class => "verify_address_input" },                                                                
                                :required => true %>    
                                
    <%= a.input :country , :required => true ,
                           :collection => [ ["United States", "US"] ] , 
                           :include_blank => false, 
                           :input_html => {:class => "chzn-select"},
                           :hint => "currently we only support the USA" %>
                           
    <div style="height:70px;">
      <%= a.label "Address Verification", :required => true %>
      <% if @user.account.address_verification.present? %>
        <p id="verify_address_text" style="padding-top:5px;font-style:italic;" class="mr tc-g">Verified!</p>
      <% else %>
        <p id="verify_address_text" style="padding-top:5px;font-style:italic;" class="mr t-l tc-r">Please verify prior to continuing</p>
        <br/>                       
      <% end %>
      <div class="center_wrap">
        <%= link_to "Verify Address", sign_up_verify_address_path(:first_name  => @user.account.first_name,
                                                                  :last_name   => @user.account.last_name,
                                                                  :address1    => @user.account.address1,
                                                                  :address2    => @user.account.address2,              
                                                                  :city        => @user.account.city,
                                                                  :state       => @user.account.state,
                                                                  :zip_code    => @user.account.zipcode ), :remote => true, 
                                                                                                            "data-url" => sign_up_verify_address_path, 
                                                                                                            :id => "verify_address_trigger", 
                                                                                                            :class => "button center" %>
      </div>                                                            
      <br/>
      <%= a.input :address_verification ,      :label => false,
                                               :as => :hidden,
                                               :required => false %>
    </div>

    <br class = "spacer"/>
    <br class = "spacer"/>
    <h2>Seller Setup</h2>
    <br class = "spacer"/>
    
    <%= a.label "", "Verified PayPal Email" %>
  	<%= a.input :paypal_username, 			:label => false,
  																			:required => false,
  																			:placeholder => "this is required for sellers only",
  																			:hint => "first & last name must match PayPal account" %>
      
  <% end # of accounts fields %>


  
  <br class = "spacer"/>
  <br class = "spacer"/>    

  <h2>Terms and Conditions</h2>
  <br class = "spacer"/>  


  	<div class="AcknowledgeOuterDiv center_wrap">
      <%= render :inline => SiteVariable.get("terms_and_conditions") %>
  	</div>

    <br class = "spacer"/>
    <br class = "spacer"/>

    <%= f.input :terms,         :label => '',
                                :as => :check_boxes ,
                                :required => true ,
                                :collection => [["I agree to Terms and Conditions",1]], 
                                :input_html => {  :id => 'AcknowledgeCheckBox',
                          												:checked => "#{'checked' if params[:user][:terms][1] rescue false }" } %>
    
    <br class = "spacer"/>
    <br class = "spacer"/>
    
  <div class="center_wrap">      
    <div id="sign_up_button" class="button" >Sign up for MTGBazaar</div>
    <%= f.submit 'Sign up', :style => "display:none;" %>
  </div>
  
<% end %>

<%= render :partial => "devise/shared/links" %>
