<div style="width:550px;">
  <h2>Sale Confirmation</h2>
  <h3>Your purchase request from <%= link_to @transaction.seller.username, user_url(@transaction.seller) %> for the following items has been confirmed.</h3>
  
  <h3>Transaction number: <%= @transaction.transaction_number %></h3><br/>
  
  <table>
    <%= render :partial => "mtg/transaction_items/teaser_header" %>
    <%= render :partial => "mtg/transaction_items/teaser" , :collection => @transaction.items, :as => "item"   %> 
  </table>

  <br class="spacer"/>
  <p>
    <b>Next Steps:</b>
    <ul>
      <li>The seller will be packaging up your order and will ship the items shortly.</li>
      <li>When the package arrives please take the time to inspect items and confirm everything arrived as anticipated.</li>
      <li>To finalize the transaction, please fill out the seller feedback form.</li>
    </ul>
  </p>
  <br class="spacer"/>
  <br class="spacer"/>
  <p>Cheers!</p>
  <%= image_tag 'logo_sm.png', :alt => "MTGBazaar Logo" %>
</div>