<%= provide :heading, "Shipment Confirmation" %>

<h3>Your purchase from <%= link_to @transaction.seller.username, user_url(@transaction.seller) %> shipped!</h3>
<h3>Transaction number: <%= @transaction.transaction_number %></h3><br/>

<br/>

<p style="text-align:center;"> <%= link_to "Click here for more details", show_mtg_transaction_url(@transaction) %> </p>

<br/>

<p>
  <b><u>Next Steps:</u></b>
  <p>You can now <%= link_to "track", show_mtg_transaction_url(@transaction) %> your package </p>
  <p>Once delivered, finalize your transaction by providing <%= link_to "feedback", create_feedback_url(@transaction) %> to the seller</p>
  <p>For issues, you can contact the seller directly using the communications tab for this transaction</p>
</p>