<%= provide :heading, "Purchase Confirmation" %>

<h3>You submitted an order to <%= link_to @transaction.seller.username, user_url(@transaction.seller) rescue ""%>:</h3>

<br/>

<table width="400px" align="center">
  <tbody>
    <tr>
      <td align="left">Transaction ID:</td>
      <td align="right"> <%= @transaction.transaction_number %></td>  
    </tr>
    <tr>
      <td align="left">Number of Items:</td>
      <td align="right"><%= @transaction.items.count %></td>  
    </tr>
    <tr>
      <td align="left">Item Value:</td>
      <td align="right"><%= number_to_currency @transaction.value %></td>  
    </tr>    
    <tr>
      <td align="left" style="border-bottom:1px;">Shipping Cost:</td>
      <td align="right" style="border-bottom:1px;"><%= number_to_currency @transaction.shipping_cost %></td>  
    </tr>
    <tr><td colspan=2><hr></td></tr>
    <tr>
      <td align="left" style="font-weight:bold;">TOTAL:</td>
      <td align="right" style="font-weight:bold;"><%= number_to_currency(@transaction.shipping_cost + @transaction.value) %></td>  
    </tr>    
  </tbody>
</table>

<br/>

<p style="text-align:center;"> <%= link_to "Click here for more details", show_mtg_transaction_url(@transaction) %> </p>

<br/>

<p>
  <b><u>Next Steps:</u></b>
    <p>The seller will package and ship your items</p>
    <p>Once the items are shipped, the seller will notify you of shipment</p>
    <p>You can track your package <%= link_to "here", show_mtg_transaction_url(@transaction) %></p>
    <p>Once delivered, finalize your transaction by providing <%= link_to "feedback", create_feedback_url(@transaction) %> to the seller</p>
</p>
