<div style="width:550px;">
  <h2>Congratulations!</h2>
  <h3>You have received an order from <%= link_to @transaction.buyer.username, user_url(@transaction.buyer) %></h3>
	
  <table style="width: 100%;">
		<tr style="background-color: rgb(235,235,235); ">
			<th>Buyer</th>
			<th>Transaction ID</th>
			<th>Item(s)</th>
			<th>Value</th>
		</tr>
		<tr>
			<td><%= @transaction.buyer.username %></td>
			<td><%= link_to @transaction.transaction_number, show_mtg_transaction_path(@transaction) %></td>
			<td><%= @transaction.items.to_a.sum(&:quantity_available) %></td>
			<td><%= number_to_currency(@transaction.total_value) %></td>
		</tr>
  </table>
  <br class="spacer"/>
	
  <p>Cheers!</p>
	
  <%= image_tag 'logo_sm.png', :alt => "MTGBazaar Logo" %>
	
</div>