<div style="width:550px;">
  <h2>Congratulations!</h2>
  <h3>You have received a purchase request from <%= link_to @transaction.buyer.username, user_url(@transaction.buyer) %> for the following items:</h3>
  <h3>Transaction number: <%= @transaction.transaction_number %></h3><br/>
  
  <%= render :partial => "mtg/transaction_items/teaser" , :collection => @transaction.items, :as => "item"  %> 

  <br class="spacer"/>
  <p>
    Please confirm that these items are still in your possession and are ready to be shipped to buyer.
    <br/>
    Shipping information will be provided upon confirmation.  
  </p>
  <%= link_to "Confirm Sale", seller_sale_confirmation_url(@transaction.id) %>
  <br class="spacer"/>
  <br class="spacer"/>
  <%= link_to "Reject Sale", seller_sale_rejection_url(@transaction.id), :confirm => "Are you sure you want to reject this sale?" %>
  <br class="spacer"/>
  <br class="spacer"/>

  <p>Cheers!</p>
  <%= image_tag "logo.png" %>
</div>