<div style="width:550px;">
  <h2>Shipping Information</h2>
  <h3>Our records indicate that you have confirmed a sale to <%= @transaction.buyer.username %></h3>
  <h3>Transaction number: <%= @transaction.transaction_number %></h3>
    
  <br class="spacer"/>
  <h3>Please package the following cards:</h3>
  <br class="spacer"/>

  <br/>
  <%= render :partial => "mtg/transaction_items/teaser" , :collection => @transaction.items, :as => "item"   %>

  <h3>Ship cards to the following address:</h3>
  <p>MTGBazaar buyer <%= @transaction.buyer.username %></p>
  <p><%= @transaction.buyer.account.address1 %></p>
  <p><%= @transaction.buyer.account.address2 if not @transaction.buyer.account.address2.empty? %></p>
  <p><%= "#{@transaction.buyer.account.city}, #{@transaction.buyer.account.state} #{@transaction.buyer.account.zipcode}" %></p>
  <br class="spacer"/>
  <p>Cheers!</p>
  <%= image_tag "logo.png" %>
</div>