<div style="width:550px;">
  <h2>Shipment Confirmation</h2>
  <h3>Your purchase from <%= link_to @transaction.seller.username, user_url(@transaction.seller) %> for the following items has been shipped.</h3>
  <h3>Transaction number: <%= @transaction.transaction_number %></h3><br/>
  <br/>
  <%= render :partial => "mtg/transaction_items/teaser" , :collection => @transaction.items, :as => "item"   %>

  <br class="spacer"/>
  <p>
    <b>Next Steps:</b>
    <ul>
      <li>When the package arrives please take the time to inspect items and confirm everything arrived as anticipated.</li>
      <li>Click <%= link_to "here", buyer_delivery_confirmation_url(@transaction) %> to confirm delivery</li>
      <li>To finalize the transaction, please fill out the seller feedback form.</li>
    </ul>
  </p>
  <br class="spacer"/>
  <br class="spacer"/>
  <p>Cheers!</p>
  <%= image_tag "logo.png" %>
</div>