<!-- local variables: mtg_card = current card -->
<% unless @mtg_card.listings.empty?%>
  <table style="width:100%;">
    <tr style="text-align:left;">
    	<th>Price</th><th>Seller</th><th>Condition</th><th>Language</th><th>Foil</th><th>Defects</th><th>Description</th>
    </tr>
    <% @mtg_card.listings.each do |listing| %>
      <tr>
          <td>
            <%= number_to_currency(listing.price / 100) %>
          </td>
          <td>
            <%= "#{listing.seller.username} (#{listing.seller.account.average_rating})" %>
          </td>
          <td>
            <%= display_condition(listing.condition) %>
          </td>
          <td>
            <%= capitalize_first_word(listing.language) %>
          </td>    
          <td>
            <%= listing.foil %>
          </td>    
          <td>
            <%= listing.defect %>
          </td>
      </tr>
    <% end %>
  </table>  
<% else %>
  <%= "There are currently no listings for this card." %>
  <%= link_to "List this card", listing_mtg_card_path , :method => :get %>
<% end %>