<%= form_tag mtg_cards_search_path , :method => :get, :id => "search-form", :remote => false do %>   
  <% cache 'mtg_cards_search_form', :expires_in => 1.days do %>
   
    <%= hidden_field_tag "page", 1 %>
    
    <div class="ma-m">

      <div class="search-select-wrapper">
        <%= text_field_tag "name", params[:name], {:class => "search-text ui-autocomplete-input deletable" , :placeholder => "Name..." , "data-type" => "search", "data-autocomplete" => mtg_cards_autocomplete_name_path }%>
        <%= hidden_field_tag "search_type", nil %>
      </div>

      <div class= "mt-m search-set search-select-wrapper">
        <%#= label_tag "Set:" %>
        <%= select_tag "set" , options_for_select(active_set_list, :sort => "name", :selected => params[:set]), {:tabindex => "-1", :include_blank => true, "data-placeholder" => "Set...", :class => "search-select chzn-select"} %>
      </div>
    
      <div class="mt-m search-type search-select-wrapper">
        <%#= label_tag "Type:" %>
        <%= select_tag "type", options_for_select(card_type_list, :selected => params[:type]) , {:tabindex => "-1", :include_blank => true, "data-placeholder" => "Type...", :class => "search-select chzn-select"} %>            
      </div>

      <div class="mt-m search-subtype search-select-wrapper">
        <%#= label_tag "Subtype:" %>
        <%= select_tag "subtype", options_for_select(card_subtype_list, :selected => params[:subtype]) , {:tabindex => "-1", :include_blank => true, "data-placeholder" => "Subtype...", :class => "search-select chzn-select"} %>            
      </div>          
    
      <div class="mt-m">
        <div class="search-rarity search-select-wrapper">
          <%#= label_tag "Rarity:" %>      
          <%= select_tag "rarity" , options_for_select(rarity_list, :selected => params[:rarity]) , {:tabindex => "-1", :include_blank => true, "data-placeholder" => "Rarity...", :class => "search-select chzn-select chzn-nosearch"} %>                        
        </div>
      </div>
    
      <div class="mt-m search-artist search-select-wrapper">
        <%#= label_tag "Artist:" %>
        <%= select_tag "artist" , options_for_select(artist_list, :selected => params[:artist]) , {:tabindex => "-1", :include_blank => true, "data-placeholder" => "Artist...", :class => "search-select chzn-select"} %>                        
      </div>
    
      <div class="mt-s search-color">
        <%#= label_tag "Color:" %>
        <table width="100%" cellspacing='2' class="data fixed">
          <tr>
            <td align="center">
              <%#= image_tag "https://mtgbazaar.s3.amazonaws.com/images/mtg/mana_symbols/mana_w.jpg" , :class => "search-color-icon" %>
              <%= display_symbols("{w_lg}") %>
              <div class="mt-s"/>
              <%= check_box_tag "white", "W", cookies[:search_white] == "true", :class => "search-color-check" %>                        
            </td>
            <td align="center">
              <%#= image_tag "https://mtgbazaar.s3.amazonaws.com/images/mtg/mana_symbols/mana_u.jpg" , :class => "search-color-icon" %>
              <%= display_symbols("{u_lg}") %>              
              <div class="mt-s"/>
              <%= check_box_tag "blue", "U", cookies[:search_blue] == "true", :class => "search-color-check" %>
            </td>
            <td align="center">
              <%#= image_tag "https://mtgbazaar.s3.amazonaws.com/images/mtg/mana_symbols/mana_b.jpg" , :class => "search-color-icon" %>
              <%= display_symbols("{b_lg}") %>
              <div class="mt-s"/>
              <%= check_box_tag "black", "B", cookies[:search_black] == "true", :class => "search-color-check" %>
            </td>
            <td align="center">
              <%#= image_tag "https://mtgbazaar.s3.amazonaws.com/images/mtg/mana_symbols/mana_r.jpg" , :class => "search-color-icon" %>
              <%= display_symbols("{r_lg}") %>
              <div class="mt-s"/>
              <%= check_box_tag "red", "R", cookies[:search_red] == "true", :class => "search-color-check" %>            
            </td>
            <td align="center">
              <%#= image_tag "https://mtgbazaar.s3.amazonaws.com/images/mtg/mana_symbols/mana_g.jpg" , :class => "search-color-icon" %>
              <%= display_symbols("{g_lg}") %>
              <div class="mt-s"/>
              <%= check_box_tag "green", "G", cookies[:search_green] == "true", :class => "search-color-check" %>            
            </td>                                
          </tr>
        </table>
      </div>
    
      <div class="mt-s mb-s search-abilities">
        <%#= label_tag "Abilities:" %>
        <%= select_tag "abilities" , options_for_select(abilities_list, :selected => cookies[:search_abilities]), { :multiple => true, 
                                                                                                                    :class => "search-select-multi chzn-select", 
                                                                                                                    "data-placeholder" => "Abilities...",
                                                                                                                    'data-no_results_text' => 'no abillity'} %>                        
      </div> 

      <div class="mt-m search-select-wrapper">
        <%#= label_tag "Language" %>
        <%= select_tag "language", options_for_select(language_list, :selected => cookies[:search_language]) , {:tabindex => "-1", :include_blank => true, "data-placeholder" => "Language...", :class => "search-select chzn-select"} %>            
      </div>
      
  	  <div class="">
  	    <%#= label_tag "Color:" %>
        <table width="100%" cellspacing='8' class="data fixed">
  	      <tr>
  	        <td align="center">
  	          <%#= image_tag "https://s3.amazonaws.com/mtgbazaar/images/mtg/options/foil.png" , :title => "Show only foil cards", :class => "search-options-icon" %>
  	          <%= content_tag :span, nil, :class => "option_symbol_sprite option_symbol_foil_lg", :title => "Show only foil cards" %>
  	          <br class="spacer"/>
  	          <%= check_box_tag "options[]", "f", cookies[:search_foil] == "true", :class => "search-options-check", :id => "search-foil" %>                        
  	        </td>
  	        <td align="center">
  	          <%#= image_tag "https://s3.amazonaws.com/mtgbazaar/images/mtg/options/signed.png", :title => "Show only signed cards", :class => "search-options-icon" %>
  	          <%= content_tag :span, nil, :class => "option_symbol_sprite option_symbol_signed_lg", :title => "Show only signed cards" %>  	          
  	          <br class="spacer"/>
  	          <%= check_box_tag "options[]", "s", cookies[:search_signed] == "true", :class => "search-options-check", :id => "search-signed" %>            
  	        </td>          
  	        <td align="center">
  	          <%#= image_tag "https://s3.amazonaws.com/mtgbazaar/images/mtg/options/alt.png", :title => "Show only alt art cards", :class => "search-options-icon" %>
  	          <%= content_tag :span, nil, :class => "option_symbol_sprite option_symbol_alt_lg", :title => "Show only altered cards" %>  	          
  	          <br class="spacer"/>
  	          <%= check_box_tag "options[]", "a", cookies[:search_altart] == "true", :class => "search-options-check", :id => "search-altart" %>
  	        </td>          
  	        <td align="center">
  	          <%#= image_tag "https://s3.amazonaws.com/mtgbazaar/images/mtg/options/miscut.png", :title => "Show only misprinted cards", :class => "search-options-icon" %>
  	          <%= content_tag :span, nil, :class => "option_symbol_sprite option_symbol_miscut_lg", :title => "Show only misprinted cards" %>  	            	          
  	          <br/>
  	          <%= check_box_tag "options[]", "m", cookies[:search_miscut] == "true", :class => "search-options-check", :id => "search-miscut" %>
  	        </td>
  	      </tr>
  	    </table>
  	  </div>

    	<div class="mt-s search-seller group search-select-wrapper">
  	    <%= text_field_tag "seller", cookies[:search_seller], {:class => "search-text ui-autocomplete-input mb-m deletable" , :placeholder => "Only from this seller..." , "data-autocomplete" => autocomplete_name_users_path }%>
  	    <%= text_field_tag "seller_id", cookies[:search_seller_id], :style => "display:none;" %>
  	    <%#= select_tag "seller_id" , grouped_options_for_select({"Top 10 Sellers" => top_sellers_list}, :selected => cookies[:serach_seller_id]), {:tabindex => "-1", :include_blank => true, "data-placeholder" => "Only from this seller...", :class => "search-select chzn-select-ajax", "data-url" => '/users/autocomplete_name_chosen.json'} %>
  	  </div>
    	<br/>
    	<div>
        <div id="clear-search" class="button2 left mt-s"><b><i>X </i></b> clear filters</div>
        <%= submit_tag "Search", :class => "search-submit mr-s" %>
      </div>
      
    </div>

  <% end %>
  
<% end %>
