<div class="card_image_wrapper">
  <%= image_tag(mtg_card.image_path, :class => "mtg_card_image") %>
  <% if mtg_card.dual_sided_card? %>
    <div>
        <%= image_tag image_path("mtg/various_symbols/day.png"), :height => "25px", :class => "dfc_day_icon left", :style => "margin-left:40px" %>
        <%= image_tag image_path("mtg/various_symbols/night.png"), :height => "25px", :class => "dfc_night_icon right", :style => "margin-right:40px"  %>    
    </div>
  <% end %>
</div>
<!-- SET -->
<div class="card_show_info">
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Set:
    </div>
    <div class="card_show_info_value">
      <%= display_name(mtg_card.set.name) %>
    </div>   
  </div>
<!-- COST -->    
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Cost:
    </div>
    <div class="card_show_info_value">
      <%= display_symbols(mtg_card.mana_string) %>
    </div>      
  </div>
<!-- COLOR -->    
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Color:
    </div>
    <div class="card_show_info_value">
      <%= display_color(mtg_card.mana_color) %>
    </div>      
  </div>
<!-- COLOR -->    
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Type:
    </div>
    <div class="card_show_info_value">
      <%= "#{mtg_card.card_type}" %>
      <%= "- #{mtg_card.card_subtype}" if not mtg_card.card_subtype.empty? %>
    </div>      
  </div>    
<!-- TEXT -->        
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Text:
    </div>
    <div class="card_show_info_value">
      <p><%= display_symbols(mtg_card.description) %></p>
    </div>      
  </div>    
  <!-- RARITY -->        
    <div class="card_show_info_row">
      <div class="card_show_info_label">
        Rarity:
      </div>
      <div class="card_show_info_value">
        <%= display_rarity(mtg_card.rarity) %>
      </div>      
    </div>
    <!-- RARITY -->        
      <div class="card_show_info_row">
        <div class="card_show_info_label">
          Artist:
        </div>
        <div class="card_show_info_value">
          <%= mtg_card.artist %>
        </div>      
      </div>      
</div>