<h2>
  <%= pluralize(@listings.count, "Listing","Listings") %> 

</h2>


  <!-- Heading -->

<% unless listings.empty? %>

  <div> 
    <span style="text-align:left;margin-left:5px;"><i>Click on table headers for sorting</i></span>
  	<% if params[:filter] == "true" %> 
      <%= link_to "Remove search filters", params.merge(:filter => false), :remote => true, :id => "filter_link", :class => "right", :style => "font-weight:normal;" %>
    <% else %>
      <%= link_to "Apply search filters", params.merge(:filter => true), :remote => true, :id => "filter_link", :class => "right", :style => "font-weight:normal;" %>  
    <% end %>
  </div>
  <table class="data">
   <tr class="header_row">
   	<th> <%= sort_table_header("Seller", "seller", :remote => true) %> (<%= sort_table_header("Sales", "seller_sales", :remote => true) %>, <%= sort_table_header("Feedback", "seller_feedback", :remote => true) %>) </th>
    <th> <%= sort_table_header("Lang.", "language", :remote => true) %> </th>      
    <th> <%= sort_table_header("Cond.", "condition", :remote => true) %> </th>
  	<th> Options </th>
  	<th> <%= sort_table_header("Price", "price", :remote => true) %> </th>
  	<th> <%= sort_table_header("Qty.", "quantity", :remote => true) %> </th>
  	<th> Add to Cart </th>
   </tr>

	<% @listings.each do |listing| %>  
    <% if listing.scan.present? %>
      <%= listing_option_scan_overlay(listing) %>
    <% end %>
		<tr class=<%= cycle("odd","even") %>> 

		<td style="text-align:left;width:150px;padding-left:10px;">
      <%=  link_to "#{listing.seller.username}", user_path(listing.seller) %>
      </br>
      <div>
        <%= "(#{number_with_delimiter(listing.seller.statistics.number_sales, :delimiter => ",")} / #{listing.seller.statistics.display_approval_percent})" %>
      </div>
	  </td>
		<td><%= display_flag_symbol(listing.language) %></td>
		<td><%= display_condition(listing.condition) %></td>
		<td style="max-width:52px;">
		  <% if listing.foil %>
        <%= listing_option_foil_icon %>
      <% end %>
      <% if listing.misprint %>
        <%= listing_option_misprint_icon %>
      <% end %>
      <% if listing.signed %>
        <%= listing_option_signed_icon %>
      <% end %>
      <% if listing.altart %>
        <%= listing_option_altart_icon %>
      <% end %>    
      <% if listing.description != "" %>
        <%= listing_option_description_icon(listing) %>
      <% end %>
  		<% if listing.scan.present? %>
        <%= listing_option_scan_icon(listing) %>
        <%#= listing_option_scan_overlay(listing) %>
      <% end %>
    </td>
		<td><%= number_to_currency(listing.price) %></td>
		<td><%= listing.quantity_available %></td>
		<td style="text-align:right;width:80px">
		  <%= form_tag add_to_cart_mtg_listing_path(listing.id), :method => :post do %>
        <% if listing.quantity > 1 %>
          <%= text_field_tag "quantity", 1, :id => nil, :style => "width:30px;text-align:center;"%>            
        <% else %>
          <%= listing.quantity %> &nbsp; &nbsp;
          <%= text_field_tag "quantity", 1, :id => nil, :style => "width:30px;text-align:center;display:none;"%>        
        <% end %>
        <%= submit_tag "Buy" %>
      <% end %>
    </td>
		</tr>
		<% end %>
		</table>

<% else %>

  <div style="text-align:center;">
    <%= "There are currently no listings for this card. " %>
  	<% if params[:filter] == "true" %> 
      <%= link_to "Remove search filters", params.merge(:filter => false), :remote => true, :id => "filter_link", :style => "font-weight:normal;" %>
    <% end %>    
  </div>
<% end %>
 
