<div class="card_image_wrapper">
  <%= content_tag :div, "", :class => "mtg_card_image #{"mtg_card_image_horizontal" if mtg_card.card_type == "Plane"}", :style => "background-image:url('#{mtg_card.image_path}');" %>
  <%#= image_tag(mtg_card.image_path, :class => "mtg_card_image #{"mtg_card_image_horizontal" if mtg_card.card_type == "Plane"}") %>
  <% if mtg_card.dual_sided_card? %>
    <div>
        <%= image_tag image_path("https://mtgbazaar.s3.amazonaws.com/images/mtg/various_symbols/day.png"), :height => "25px", :class => "dfc_day_icon left", :style => "margin-left:40px" %>
        <%= image_tag image_path("https://mtgbazaar.s3.amazonaws.com/images/mtg/various_symbols/night.png"), :height => "25px", :class => "dfc_night_icon right", :style => "margin-right:40px"  %>    
    </div>
  <% end %>
</div>

<div class="card_show_info">
  <!-- SET -->
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Set
    </div>
    <div class="card_show_info_value">
      <%= link_to mtg_card.set.name, mtg_cards_path(:set => mtg_card.set.code) %>
    </div>   
  </div>
  <!-- COST -->    
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Cost
    </div>
    <div class="card_show_info_value">
      <%= display_symbols(mtg_card.mana_string) %>
    </div>      
  </div>
  <!-- COLOR -->    
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Color
    </div>
    <div class="card_show_info_value">
      <%= display_color(mtg_card.mana_color) %>
    </div>      
  </div>
  <!-- COLOR -->    
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Type
    </div>
    <div class="card_show_info_value">
      <%= "#{mtg_card.card_type}" %>
      <%= "- #{mtg_card.card_subtype}" if not mtg_card.card_subtype.empty? %>
    </div>      
  </div>    
  <!-- TEXT -->        
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Text
    </div>
    <div class="card_show_info_value">
      <p><%= display_symbols(mtg_card.description) %></p>
    </div>      
  </div>    
  <!-- RARITY -->        
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Rarity
    </div>
    <div class="card_show_info_value">
      <%= display_rarity(mtg_card.rarity) %>
    </div>      
  </div>
  <!-- ARTIST -->        
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Artist
    </div>
    <div class="card_show_info_value">
      <%= link_to mtg_card.artist, search_mtg_cards_path(:artist => mtg_card.artist) %>
    </div>      
  </div>
  <!-- PRICE -->        
  <div class="card_show_info_row">
    <div class="card_show_info_label t-l">
      Value
    </div>
    <div class="card_show_info_value t-l t-b">
      <%= number_to_currency(mtg_card.statistics.price_med) %> - <%= number_to_currency(mtg_card.statistics.price_high) %>
    </div>      
  </div>
  <!-- VERSIONS -->
  <div class="card_show_info_row">
    <div class="card_show_info_label">
      Versions
    </div>
    <div class="card_show_info_value t-l">
      <% @card_variants.each do |v| %>
        <%= link_to display_set_symbol(v.set), mtg_card_path(v, :update_card_info => true), :remote => true %>
      <% end %>
    </div>   
  </div>    
</div>