
<ul class="tabs2">
  <li <%= "class=selected" if not params[:type].present?  %>> <%= link_to "Singles for Sale (#{@listings_singles_count})",  url_for(params.merge(:type => nil)), :remote => true %> </li>  
  <li <%= "class=selected" if params[:type] == "playsets" %>> <%= link_to "Playsets for Sale (#{@listings_playsets_count})", url_for(params.merge(:type => "playsets")), :remote => true %> </li>  
  <li class="tab2 message">
    <%= render :partial => '/mtg/apply_filters', :locals =>  { :remote => true } %>
  </li>  
</ul>

  <!-- Heading -->

<% unless @listings.empty?  && @listings_seller.empty? %>

  <table class="data fixed">
    <col width="30%">
    <col width="9%">    
    <col width="9%">   
    <col width="10%">   
    <col width="12%">
    <col>
    <col width="20%">               
    <tr class="header_row">
      <th> <%= table_sort_header("Seller", :params => {:update_card_info => false}, :remote => true) %> (<%= table_sort_header("Sales", :params => {:update_card_info => false}, :remote => true) %>, <%= table_sort_header("Feedback", :params => {:update_card_info => false}, :remote => true) %>) </th>
      <th> <%= table_sort_header("Lang", :params => {:update_card_info => false}, :value => "language", :remote => true) %> </th>      
      <th> <%= table_sort_header("Cond", :params => {:update_card_info => false}, :value => "condition", :remote => true) %> </th>
      <th> Options </th>
      <th> <%= table_sort_header("Price", :params => {:update_card_info => false}, :remote => true) %> </th>
      <th> <%= table_sort_header("Qty", :params => {:update_card_info => false}, :value => "quantity", :remote => true) %> </th>
      <th> Add to Cart </th>
    </tr>
    
    <% if cookies[:search_seller_id].present? && @listings_seller.present? %>
      <%= render :partial => "show_listings_teaser", :collection => @listings_seller, :as => :listing, :locals => { :highlight => true } %>
    <% end %>
    
    <%= render :partial => "show_listings_teaser", :collection => @listings,        :as => :listing %>
    
    <%= table_paginate_footer :variable => @listings, :colspan => 7 %>
    
  </table>

<% else %>

  <div style="text-align:center;">
    
  	<% if params[:filter] == "true" %>
      <%= render :partial => "mtg/no_results", :locals => { :filter_by => "cookies", :use_card_filters => false } %>
      <%#= link_to "Remove search filters", params.merge(:filter => false), :remote => true, :id => "filter_link", :style => "font-weight:normal;" %>
    <% else %>
      <br/>
      <%= "There are currently no listings for this card." %>
    <% end %>    
    
  </div>
  
<% end %>
 
