<%= render :partial => '/mtg/apply_filters', :locals =>  { :remote => true } %>
<h2><%= pluralize(@listings.count, "Listing","Listings") %></h2>


  <!-- Heading -->

<% unless listings.empty? %>

  <table class="data fixed">
    <col width="30%">
    <col width="9%">    
    <col width="9%">   
    <col width="10%">   
    <col width="12%">
    <col>
    <col width="20%">               
    <tr class="header_row">
      <th> <%= table_sort_header("Seller", :params => {:update_card_info => false}, :remote => true) %> (<%= table_sort_header("Sales", :params => {:update_card_info => false}, :remote => true) %>, <%= table_sort_header("Feedback", :params => {:update_card_info => false}, :remote => true) %>) </th>
      <th> <%= table_sort_header("Lang", :params => {:update_card_info => false}, :value => "language", :remote => true) %> </th>      
      <th> <%= table_sort_header("Cond", :params => {:update_card_info => false}, :value => "condition", :remote => true) %> </th>
      <th> Options </th>
      <th> <%= table_sort_header("Price", :params => {:update_card_info => false}, :remote => true) %> </th>
      <th> <%= table_sort_header("Qty", :params => {:update_card_info => false}, :value => "quantity", :remote => true) %> </th>
      <th> Add to Cart </th>
    </tr>
    <% @listings.each do |listing| %>  
  		<tr class=<%= cycle("odd","even") %>> 
    		<td style="width:150px;padding-left:10px;">
          <%=  link_to "#{listing.seller.username}", user_path(listing.seller.username) %>
          </br>
          <div>
            <%= "(#{number_with_delimiter(listing.seller.statistics.number_sales, :delimiter => ",")} / #{listing.seller.statistics.display_approval_percent})" %>
          </div>
    	  </td>
    		<td><%= display_flag_symbol(listing.language) %></td>
    		<td><%= display_condition(listing.condition) %></td>
    		<td class="mtg_options_cell">
    		  <% if listing.foil %>
            <%= listing_option_foil_icon %>
          <% end %>
          <% if listing.misprint %>
            <%= listing_option_misprint_icon %>
          <% end %>
          <% if listing.signed %>
            <%= listing_option_signed_icon %>
          <% end %>
          <% if listing.altart %>
            <%= listing_option_altart_icon %>
          <% end %>    
          <% if listing.description != "" %>
            <%= listing_option_description_icon(listing) %>
          <% end %>
      		<% if listing.scan.present? %>
            <%= listing_option_scan_icon(listing) %>
            <%= listing_option_scan_overlay(listing) %>
          <% end %>
        </td>
    		<td><%= number_to_currency(listing.price) %></td>
    		<td><%= listing.quantity_available %></td>
    		<td>
    		  <%= form_tag add_to_cart_mtg_listing_path(listing.id), :method => :post do %>
            <%= text_field_tag "quantity", 1, :id => nil, :maxlength => 4, :style => "width:30px;text-align:center;"%>            
            <%= submit_tag "Add" %>
          <% end %>
        </td>
  		</tr>
  	<% end %>
  </table>

<% else %>

  <div style="text-align:center;">
    <%= "There are currently no listings for this card. " %>
  	<% if params[:filter] == "true" %> 
      <%= link_to "Remove search filters", params.merge(:filter => false), :remote => true, :id => "filter_link", :style => "font-weight:normal;" %>
    <% end %>    
  </div>
<% end %>
 
