<!-- local variables: mtg_card = current card -->

<div class="mtg_teaser">
  <div class="mtg_teaser_image_wrapper">
    <%= link_to image_tag(mtg_card.thumbnail_image_path, :class => "mtg_teaser_image"), mtg_card_path(mtg_card)%>
  </div>
  <div class="mtg_teaser_info">
    <h2>
      <div class="right mt-s">
        <%= display_symbols(mtg_card.mana_string)%>
      </div>
      <%= display_name(mtg_card.name)%>
      &nbsp;
      <%= display_set_symbol(mtg_card.set) %>            
    </h2>
    <div class= "mtg_teaser_info_details">
      <table style="width:100%">
        <tr>
          <td> <%= display_type(mtg_card.card_type, mtg_card.card_subtype) %> </td>
          <td style="text-align:right;"> <u>Estimated Value</u> </td>
        </tr>
        <tr>
          <td> <%= mtg_card.set.name %> </td>
          <td class="t-l t-b" style="text-align:right;"> <%= number_to_currency(mtg_card.statistics.price_low.dollars) %> - <%= number_to_currency(mtg_card.statistics.price_high.dollars) %> </td>
        </tr>
        <tr>
          <td> <i><%= "(#{display_rarity(mtg_card.rarity)})" %></i> </td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align:right;">
            <div style="margin-top:-10px;">
              <% 
                if params[:show_level] == "details"
                  #listings        = mtg_card.listings.available.where(mtg_filters_query(:filter_by => "params", :card_filters => false))
                  available_count = mtg_card.listings.to_a.inject(0) { |sum, listing| sum += (listing.quantity_available * listing.number_cards_per_item)}
                  min_price       = Money.new(mtg_card.listings.available.to_a.collect { |listing| listing[:price] }.sort.first)
                  #min_price = Money.new(mtg_card.listings.minimum(:price))
                  #available_count = mtg_card.listings.available.sum(:quantity_available)
                else
                  available_count = mtg_card.statistics.listings_available
                  min_price       = mtg_card.statistics.price_min
                end           
              %>
              <% if available_count > 0 %>
                <%= link_to "#{available_count} For Sale from #{number_to_currency(min_price)}", mtg_card_path(mtg_card) %>        
              <% else %>
                <i>None Currently Available</i>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
      
    </div>
  </div>
</div>