<!-- local variables: mtg_card = current card -->

<div class="mtg_teaser">
  <div class="mtg_teaser_image_wrapper">
    <%= link_to image_tag(mtg_card.thumbnail_image_path, :class => "mtg_teaser_image"), mtg_card_path(mtg_card)%>
  </div>
  <div class="mtg_teaser_info">
    <h2>

      <%= display_name(mtg_card.name)%>
      <%= display_set_symbol(mtg_card.set) %>            
      <div class="right">
        <%= display_symbols(mtg_card.mana_string)%>
      </div>
    </h2>
    <div class= "ml-s">      
      <%= display_type(mtg_card.card_type, mtg_card.card_subtype) %>
      <br class="spacer"/>
      <%= mtg_card.set.name %> &nbsp; 
      <br class="spacer"/>
      <div class="right mr-s">
        <%= link_to "#{mtg_card.listings.available.pluck(:quantity_available).inject(:+) || 0} Available", mtg_card_path(mtg_card)  %>
      </div>
      <i><%= "(#{display_rarity(mtg_card.rarity)})" %></i>  <%#= button_to "Quick Buy: $#{Random.rand(50)}.#{"%02d" % Random.rand(99)}",  root_path , :class => "right"%>

    </div>


  </div>
</div>