<% title @title %>

<h1><%= @title %></h1>

<div class ="content">
      
  <% if params[:set] %>
    <% page_description "Magic the Gathering single cards and playsets for sale from #{@set.name}" %>
    
    <table class="data">
      <tr class="header_row">
        <td>Set</td>
        <td>Release Date</td>
        <td>Symbol</td>        
        <td>Cards</td>
      </tr>
      <tr class=<%= cycle("even","odd") %>>
        <td><%= @set.name %></td>
        <td><%= display_time(@set.release_date, :day => false) rescue ""%> </td>
        <td><%= display_set_symbol(@set) %></td>
        <td><%= @set.cards.count %></td>
      </tr>

    </table>
    
    <%= render :partial => "teaser", :collection => @mtg_cards, :as => "mtg_card" %>
    
    <div class="paginator center_wrap">
      <%= paginate @mtg_cards, :method => :get %>
    </div>
    
  <% else %>

    <% page_description "Magic the Gathering single cards and playsets for sale" %>
    
    <table class="data">
      <tr class="header_row">
        <td>Set</td>
        <td>Release Date</td>        
        <td>Symbol</td>
      </tr>
      <% @sets.each do |set| %>
        <tr class=<%= cycle("even","odd") %>>
          <td><%= link_to "#{set.name}", mtg_cards_path(:set => set.code) %></td>
          <td><%= set.display_release_date rescue "" %> </td>
          <td><%= display_set_symbol(set) %></td>
        </tr>
      <% end %>  
    </table>
    
  <% end %>

</div>

