<% title "search cards" %>

<h1>Search Cards</h1>

<div class="group center_wrap">
  <ul class="tabs">
    <% if params[:show] == "listed" %>
      <li>                  <%= link_to "All Results", url_for(params.merge(:show => "all", :page => 1)), :remote => true %> </li>
      <li class="selected"> <%= link_to "With Listings", url_for(params.merge(:show => "listed", :page => 1)), :remote => true %> </li>
    <% else %>
      <li class="selected"> <%= link_to "All Results", url_for(params.merge(:show => "all", :page => 1)), :remote => true %> </li>
      <li>                  <%= link_to "With Listings", url_for(params.merge(:show => "listed", :page => 1)), :remote => true %> </li>      
    <% end %>  
  </ul>
</div>


<div class ="content">

  <div>
  <div class="text_in_h2">
    <% if params[:seller_id].present? && params[:show] != "all" %>
      showing listings from <b><%= User.find(params[:seller_id]).username %></b> | 
      <%= link_to "show all listings", url_for(params.merge(:seller => nil, :seller_id => nil)), :remote => true, :class => 'button2' %>      
    <% end %>
  </div>
  <h2><%= pluralize(@mtg_cards.total_count, "Search Result", "Search Results")%></h2>
  </div>
  <% if @mtg_cards.present? %>
  
    <div id="search_results">
      <%= render :partial => "teaser", :collection => @mtg_cards, :as => "mtg_card" %>      
    </div>        
    

  
  <% else %>

    <%# NO RESULTS SPLASH SCREEN %>
  
    <%= render :partial => "mtg/no_results", :locals => { :filter_by => "params" } %>
  
  <% end %>
  
</div>

<div class="center_wrap">
  <div class="paginator"><%= paginate @mtg_cards, :window => 2, :remote => true ,:collection => @mtg_cards %></div>
</div>
<br class='spacer'/>
