<% title "MTG Cards" %>

<h1>Search Results</h1>

<div class ="content">
  <div class="group center_wrap">
    <ul class="tabs">
      <% if params[:show] == "listed" %>
        <li>                  <%= link_to "All Results (#{@other_count})", url_for(params.merge(:show => "all", :page => 1)), :remote => true %> </li>
        <li class="selected"> <%= link_to "With Listings (#{@mtg_cards.total_count})", url_for(params.merge(:show => "listed", :page => 1)), :remote => true %> </li>
      <% else %>
        <li class="selected"> <%= link_to "All Results (#{@mtg_cards.total_count})", url_for(params.merge(:show => "all", :page => 1)), :remote => true %> </li>
        <li>                  <%= link_to "With Listings (#{@other_count})", url_for(params.merge(:show => "listed", :page => 1)), :remote => true %> </li>      
      <% end %>  
    </ul>
  </div>
  
  <div id="search_results">
    <%= render :partial => "teaser", :collection => @mtg_cards, :as => "mtg_card" %>
  </div>        
  <div class="center_wrap">
    <div class="paginator"><%= paginate @mtg_cards, :window => 2, :remote => true ,:collection => @mtg_cards %></div>
  </div>
  
</div>