<% title "search results" %>

<h1><%= pluralize(@mtg_cards.total_count, "Search Result", "Search Results")%></h1>

<div class ="content">

  <% if @mtg_cards.present? %>
  
    <div class="group center_wrap">
      <ul class="tabs">
        <% if params[:show] == "listed" %>
          <li>                  <%= link_to "All Results", url_for(params.merge(:show => "all", :page => 1)), :remote => true %> </li>
          <li class="selected"> <%= link_to "With Listings", url_for(params.merge(:show => "listed", :page => 1)), :remote => true %> </li>
        <% else %>
          <li class="selected"> <%= link_to "All Results", url_for(params.merge(:show => "all", :page => 1)), :remote => true %> </li>
          <li>                  <%= link_to "With Listings", url_for(params.merge(:show => "listed", :page => 1)), :remote => true %> </li>      
        <% end %>  
      </ul>
    </div>  
    <div id="search_results">
      <%= render :partial => "teaser", :collection => @mtg_cards, :as => "mtg_card" %>      
    </div>        
    <div class="center_wrap">
      <div class="paginator"><%= paginate @mtg_cards, :window => 2, :remote => true ,:collection => @mtg_cards %></div>
    </div>
  
  <% else %>

    <%# NO RESULTS SPLASH SCREEN %>
  
    <h5 class="ma t-l"></h5>        
    <div class="center_wrap">

      <div class="group center" style="width:80%">
        <p><b>Oops! There were no results with your current search filters:</b></p>
        <table class="fixed data mt">
          
          <% if params[:name].present? %>
            <tr class=<%=cycle "odd", "even"%>>
              <th>Card Name:</th>
              <td><%= params[:name] %></td>
            </tr>
          <% end %>
          <% if params[:set].present? %>
            <tr class=<%=cycle "odd", "even"%>>
              <th>Set:</th>
              <td><%= display_set_symbol(Mtg::Set.find_by_code(params[:set])) %></td>
            </tr>
          <% end %>
          <% if params[:type].present? %>
            <tr class=<%=cycle "odd", "even"%>>
              <th>Card Type:</th>
              <td><%= params[:type] %></td>
            </tr>
          <% end %>
          <% if params[:subtype].present? %>
            <tr class=<%=cycle "odd", "even"%>>
              <th>Card Subtype:</th>
              <td><%= params[:subtype] %></td>
            </tr>
          <% end %>        
          <% if params[:rarity].present? %>
            <tr class=<%=cycle "odd", "even"%>>
              <th>Rarity:</th>
              <td><%= display_rarity params[:rarity] %></td>
            </tr>
          <% end %>         
          <% if params[:artist].present? %>
            <tr class=<%=cycle "odd", "even"%>>
              <th>Artist:</th>
              <td><%= params[:artist] %></td>
            </tr>
          <% end %>
          <% if params[:white].present? || params[:black].present? || params[:blue].present? || params[:red].present? || params[:green].present?%>
            <tr class=<%=cycle "odd", "even"%>>
              <th>Color:</th>
              <td><%= display_symbols "{#{params[:white]}}{#{params[:blue]}}{#{params[:black]}}{#{params[:red]}}{#{params[:green]}}" %></td>
            </tr>
          <% end %>          
          <% if params[:abilities].present?%>
            <tr class=<%=cycle "odd", "even"%>>
              <th>Abilities:</th>
              <td>
                <% params[:abilities].each do |ability| %>
                  <%= ability %><br/>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if params[:language].present? %>
            <tr class=<%=cycle "odd", "even"%>>
              <th>Language:</th>
              <td><%= display_flag_symbol params[:language] %></td>
            </tr>
          <% end %>  
          <% if params[:options].present?%>
            <tr class=<%=cycle "odd", "even"%>>
              <th>Advanced Options:</th>
              <td>
                <%= listing_option_foil_icon if params[:options].include?('f') %>
                <%= listing_option_signed_icon if params[:options].include?('s') %>
                <%= listing_option_altart_icon if params[:options].include?('a') %>
                <%= listing_option_misprint_icon if params[:options].include?('m') %>
              </td>
            </tr>
          <% end %>                      
                
          <% if params[:seller].present? %>
            <tr class=<%=cycle "odd", "even"%>>
              <th>Seller:</th>
              <td><%= params[:seller] %></td>
            </tr>
          <% end %>
        </table>
        <br/>
        <p class="mt">Please update your filters and try again...</p>
      </div>
      
    </div>
  
  <% end %>
  
</div>