<% title "Seller Feedback"%>

<h1>Seller Feedback</h1>

<%= simple_form_for @feedback, :url => create_feedback_path, :method => :post do |f| %>
  <table class="data">
    <tr class="header_row">
  	  <th>Transaction ID</th>
  	  <th>Seller</th>      	    
  	  <th>Value</th>
  	  <th>Status</th>      
  	</tr>
  	<tr class="even">
  	  <td><%= link_to @transaction.transaction_number, show_mtg_transaction_path(@transaction) %></td>
  	  <td><%= link_to @transaction.seller.username, user_path(@transaction.seller.username)%> </td>    	  
  	  <td><%= "#{ number_to_currency(@transaction.total_value) }" %> </td>  
  	  <td> <%= "#{@transaction.status.capitalize}" %> </td>
  	</tr>
  </table>

  <br class="spacer" />
  <br class="spacer" />  
  
  <div class="inputs">

    <%= f.input :rating,              :label => "Seller Feedback",
                                      :as => :select,
                                      :collection => [["Postive (+)","1"], ["Neutral ( )","0"], ["Negative (-)","-1"]], 
                                      :default => "+",
                                      :include_blank => false,
                                      :hint => "Do you recommend this seller?",                                      
                                      :input_html => {:class => 'chzn-select chzn-nosearch'},
                                      :required => true %>
          
    <%= f.input :comment,             :label => "Optional Message",
                                      :as => :text,
                                      :hint => "Reminder: all feedback is public",
                                      :required => false,
                                      :input_html => {:max_length => '255'} %>
  </div>
  
  <br class="spacer"/>
  <br class="spacer"/>
  <br class="spacer"/>  

  <div class="center_wrap">
    <%= f.button :submit, "Submit Feedback", :class => "center" %>
  </div>
  
<% end %>