<%= semantic_form_for [:admin, @news_feed] do |f| %>
  
  <%= f.inputs "Form" do %>
  
    <%= f.input :author_id,   :label => "Author",
                              :as => :select,
                              :collection => [[current_admin_user.email, current_admin_user.id]],
                              :selected => current_admin_user.id.to_s,
                              :disabled => true %>                 
    <%= f.input :title %>
    <%= f.input :description %>

    <div style="margin:20px;">
      <%= f.cktext_area :data, :toolbar => 'Easy', :width => 900, :height => 500 %>  
    </div>
    
    <%= f.input :start_at,       :as => :date, :hint => "post will go live at this time.  Leave blank to make post live immediately" %>
    <%= f.input :end_at,         :as => :date, :hint => "post will go offline at this time.  Leave blank to make post live indefinitely" %>    
    <%= f.input :active,         :as => :boolean,
                                 :default => true %>
                                                
  <% end %>
  
  <%= f.submit %>
  
<% end %>