<h1>Make a Deposit</h1>

<%= simple_form_for(@deposit) do |f| %>
  <%= f.error_notification %>
  <br class="spacer"/>
  <br class="spacer"/>
  <div class="inputs">
    <%= f.input :balance,       :label => "Amount",
                                :as => :select,
                                :required => 'true' , 
                                :collection => list_deposit_options , 
                                :include_blank => false , 
                                :input_html => { :class => 'chzn-select' } %>    
  </div>
  <br class="spacer"/>
  <%= f.input :current_password, :required => "true", :hint => "enter current password to confirm deposit"%>
  <br class="spacer"/>
  <br class="spacer"/>  
  <div class="center">
    <%= f.button :submit, "Submit", :class => "center"%>
  </div>
<% end %>
