<% role ||= 'user' %>

<table class='data fixed'>
  <col width='14%'>
  <col width='47%'>    
  <col width='14%'>    
  <col width='25%'>        
  <tr class='header_row'>
    <th>Date</th>
    <th>Article</th>
    <th>Status</th>
    <th>Options</th>      
  </tr>
  <% articles.each do |article| %>
    <tr class='<%= cycle 'odd', 'even' %>'>
      <td><%= display_time (article.active_at || article.created_at) %></td>
      <td><%= article.title %><%= " (#{article.profile.display_name})" if role == 'manager' %></td>
      <td><%= article.status %></td>
      <td>
        <%= link_to 'View', team_z_article_path(article), :class => 'mr-s' %>
        <%= link_to 'Edit', edit_team_z_article_path(article), :class => '' if article.status == 'working' or (role == 'manager' and !article.active)%>
        <%= link_to 'Publish', edit_to_publish_team_z_article_path(article), :remote => true, :class => 'ml-s' if article.status == 'complete' and role == 'manager' %>
        <%= link_to 'Un-Publish', unpublish_team_z_article_path(article), :method => :put, :class => 'ml-s' if article.status == 'approved' and role == 'manager' and article.active %>        
        <%= link_to 'Delete', team_z_article_path(article), :method => :delete, :confirm => 'Are you sure you want to delete this article?', :class => 'ml-s' if article.status == 'working' or (role == 'manager' and !article.active) %>
      </td>
    </tr>    
  <% end %>
  <%= table_paginate_footer :variable => articles, :colspan => 4 %>  
</table>