<% title @article.title %>
<% page_description @article.description %>

<h1><%= @article.profile.display_name %></h1>

<div id='content'>
  <div class='team_z_profile'>
    <%= render :partial => 'team_z/profiles/show_header', :locals => {:profile => @article.profile, :section => 'articles' } %>
  </div>
  <div class='mb-s mr' style='text-align:right;'><%= link_to 'View all Articles', team_z_profile_path(@article.profile, :section => 'articles'), :remote => true %></div>
  <div class='article_header group content_shadow'>
    <h2><%= @article.title %></h2>
    <div class='article_header_date right mr-m mb-s group'><%= display_time(@article.active_at || @article.created_at, :format => 'long') %></div>
    <div class='left ml-m mb-s'><div class="fb-like" data-href="<%= team_z_article_url(@article) %>" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial" style='text-align:right;'></div></div>
  </div>
  <div class='article_body'>
    <%= @article.body.html_safe %>
  </div>
  <div class='article_footer mt'>
    <div class="fb-comments" data-href="<%= team_z_article_url(@article) %>" data-width="520" data-num-posts="5"></div>
  </div>
  
</div>