<tr class=<%= cycle("odd","even") %>>
  <td>
    <%= check_box "edit_listings_ids", listing.id, {:class => "listing_check_box"}, 1, nil %>
  </td>
  <td>
    <%= link_to display_name(listing.card.name), mtg_card_path(listing.card) %>
  </td>
  <td>
    <%= display_set_symbol(listing.card.set) %>
  </td> 
  <td>
    <%= display_condition(listing.condition) %>
  </td>
  <td>
    <%= display_flag_symbol(listing.language) %>
  </td>
  <td class="mtg_options_cell">
      <% if listing.foil %>
        <%= listing_option_foil_icon %>
      <% end %>
      <% if listing.misprint %>
        <%= listing_option_misprint_icon %>
      <% end %>
      <% if listing.signed %>
        <%= listing_option_signed_icon %>
      <% end %>
      <% if listing.altart %>
        <%= listing_option_altart_icon %>
      <% end %>    
      <% if listing.description != "" %>
        <%= listing_option_description_icon(listing) %>
      <% end %>
  		<% if listing.scan.present? %>
        <%= listing_option_scan_icon(listing) %>
        <%= listing_option_scan_overlay(listing) %>
      <% end %> 
  </td>
  <td>
    <%= number_to_currency(listing.price) %>
  </td>  
  <td>
    <%= listing.quantity %>
  </td>
  <td>
    <%= link_to menu_icon, edit_mtg_cards_listing_path(listing)%>
  </td>
  
</tr>     
