<% title "Sell Singles"%>
<h1>Sell Singles</h1>

<%= simple_form_for @listing, :url => create_generic_mtg_cards_listings_path, :method => :post, :html => {:multipart => true} do |f| %>
  <div class="inputs">
    <br class="spacer"/>  

    <div id="New_Generic_Name_Block">                      
      <%= f.input :name,          :label => "Card Name",
                                  :input_html => { :class => "search_text ui-autocomplete-input" , :placeholder => "Name..." , "data-autocomplete" => autocomplete_name_mtg_cards_path },
                                  :required => true %>
    </div>
    
    <% if not (params[:mtg_cards_listing] && params[:mtg_cards_listing][:set].present?) %>
      <div id="New_Generic_Set_Block" style="display:none;">        
        <%= f.input :set,           :label => "Set",
                                    :as => :select,                                  
                                    :required => true,
                                    :input_html => {:class => "chzn-select", "data-placeholder" => "Select a set..." } %>
      </div>
    <% else %>
      <div id="New_Generic_Set_Block">        
        <%= f.input :set,           :label => "Set",
                                    :as => :select,                                  
                                    :required => true,
                                    :collection => @sets.collect(&:name).zip(@sets.collect(&:code)),
                                    :input_html => {:class => "chzn-select", "data-placeholder" => "Select a set..." } %>
      </div>    
    <% end %>
    
    <div id="New_Generic_Info_Block" <%= "style=display:none;" if not params[:mtg_cards_listing].present? %>>                      
      <%= f.input :condition,     :label => "Condition",
                                  :as => :select,
                                  :collection => condition_list,
                                  :default => "NM",
                                  :input_html => { :class => "chzn-select chzn-nosearch" },
                                  :required => 'true' %>

      <%= f.input :quantity,      :label => "Quantity for sale",
                                  :as => :string,
                                  :input_html => { :style => "width:50px;" },
                                  :required => 'true' %>                                

      <%= f.input :price_options, :label => "Asking Price",
                                  :as => :select,
                                  #:collection =>  params[:mtg_cards_listing].present? ? [["Low (#{number_to_currency @card.statistics.price_low.dollars})", @card.statistics.price_low.dollars],
                                  #                ["Average (#{number_to_currency @card.statistics.price_med.dollars})", @card.statistics.price_med.dollars], 
                                  #                ["High (#{number_to_currency @card.statistics.price_high.dollars})", @card.statistics.price_high.dollars], 
                                  #                ["Other", "other"]] : [],
                                  :collection =>  params[:mtg_cards_listing].present? ? [["Low (#{number_to_currency @listing.product_recommended_pricing[:price_low]})", @listing.product_recommended_pricing[:price_low]],
                                                  ["Average (#{number_to_currency @listing.product_recommended_pricing[:price_med]})", @listing.product_recommended_pricing[:price_med]], 
                                                  ["High (#{number_to_currency @listing.product_recommended_pricing[:price_high]})", @listing.product_recommended_pricing[:price_high]], 
                                                  ["Other", "other"]] : [],                                                  
                                  :input_html => { :class => "chzn-select chzn-nosearch" },                                  
                                  :required => 'true' %>

      <div id="Custom_Pricing_Block" <%= "style=display:none;" unless (params[:mtg_cards_listing] && params[:mtg_cards_listing][:price_options] == "other") %>> 
        <%= f.input :price,         :label => "Custom Pricing",
                                    :as => :string,
                                    :input_html => {:class => "currency_input", :maxlength => 9, :value => params[:mtg_cards_listing].present? ? params[:mtg_cards_listing][:price] : "$ 1.00"},
                                    :required => true %>                                  
      </div>

      <%= f.input :language,      :label => "Language",
                                  :as => :select,
                                  :collection => language_list,
                                  :default => "EN",
                                  :input_html => { :class => "chzn-select chzn-nosearch" },
                                  :required => false %>    

      <%= f.input :scan,     		  :label => "Upload Scan",
                                  :as => :file,
																	:hint => "Required for Signed, Misprints and Altered" %>

      <%= f.input :description,   :label => "Description",
                                  :placeholder => "Optional",
                                  :input_html => { :maxlength => 100 },
                                  :as => :string %>

      <%= f.label "Options",      :style => "height:100px;"%>

      <%= f.input :foil,          :label => "Foil",
                                  :default => false %>                                     

      <%= f.input :signed,        :label => "Signed by artist",
                                  :default => false %> 

      <%= f.input :misprint,      :label => "Misprinted",
                                  :default => false %>

      <%= f.input :altart,        :label => "Contains alternate art",
                                  :default => false %>    

      
      <br class="spacer"/>
      <br class="spacer"/>  
      <div class="center_wrap">
        <%= f.button :submit, "Create Listing", :class => "center" %>
      </div>
      <br class="spacer"/>
      <br class="spacer"/>      
    </div> <%# Custom_P %>
  </div> <%# inputs %>



<% end %>
