<% title "Prepare to Import Bulk Singles "%>

<h1>Step 1: Prepare to Import Bulk Singles</h1>

<%= simple_form_for @listing, :url => new_bulk_mtg_cards_listings_path, :method => :get do |f| %>
  <div class="inputs">
    <br class="spacer"/>
    <br class="spacer"/>  

    <%= f.input :set,           :label => "Set",
                                :as => :select,
                                :input_html => { :class => "chzn-select" },
                                :collection => active_set_list,
                                :default => "",                              
                                :required => true %>
                                
    <%= f.input :rarity,        :label => "Rarity",
                                :as => :check_boxes,
                                :collection => [["Common",   "C"], 
                                                ["Uncommon", "U"], 
                                                ["Rare",     "R"],
                                                ["Mythic",   "M"]],
                                :checked => ['C','U','R','M'],
                                :input_html => {:class => 'ml-s'},
                                :wrapper_html => {:class => 'pb'},
                                :required => true %>                                

    <%= f.input :condition,     :label => "Condition",
                                :as => :select,
                                :collection => condition_list,
                                :default => "NM",
                                :input_html => { :class => "chzn-select chzn-nosearch" },
                                :required => true %>

    <%= f.input :language,      :label => "Language",
                                :as => :select,
                                :collection => language_list,
                                :default => "EN",
                                :input_html => { :class => "chzn-select chzn-nosearch" },
                                :required => true %>



    <%= f.input :price,         :label => "Default Pricing",
                                :as => :select,
                                :collection => [["Low", "low"], 
                                                ["Average", "med"], 
                                                ["High",  "high"],
                                                ['Other', 'other']],
                                :default => "med",
                                :input_html => { :class => "chzn-select chzn-nosearch" },                                  
                                :required => true %>
                                
    <br class="spacer"/>        
                                      
    <%= f.label "Sort Cards By" %>
    <div class="input select">                        
      <%= select_tag "sort", options_for_select([["Card Name", "name"], ["Card Number", "number"]]), :class => "chzn-select" %>
    </div>                                
                              
    <%= f.label " " %>
    <%= f.input :foil,          :label => "All cards are foil",
                                :default => false %>                                     

 

  </div>
  <br class="spacer"/>
  
  <div class="center_wrap">
    <div style="width:200px" class="center">Note: the options above will be used for importing all the cards in step 2.</div>  
    <br class="spacer"/>
    <br class="spacer"/>    
    <br class="spacer"/>    
    <%= f.button :submit, "Proceed to Step 2: Complete Bulk Import", :class => "center" %>
  </div>
  <br class="spacer"/>

<% end %>
