<% title "Complete Bulk Singles Import"%>

<h1>Step 2: Complete Bulk Singles Import</h1>

<div id="content">
  
  <%= form_tag create_bulk_mtg_cards_listings_path do %>

    <%= hidden_field_tag 'sort',                          params[:sort] %>    
    <%= hidden_field_tag 'mtg_cards_listing[price]',      params[:mtg_cards_listing][:price] %>            
    <%= hidden_field_tag 'mtg_cards_listing[set]',        params[:mtg_cards_listing][:set] %>        
    <%= hidden_field_tag 'mtg_cards_listing[language]',   params[:mtg_cards_listing][:language] %>
    <%= hidden_field_tag 'mtg_cards_listing[condition]',  params[:mtg_cards_listing][:condition] %>
    <%= hidden_field_tag 'mtg_cards_listing[foil]',       params[:mtg_cards_listing][:foil] %>
    
    <%# SETTINGS FOR ALL DATA %>
    <%# SETTINGS FOR ALL DATA %>
        
    <table class="data">
      <tr class="header_row">
        <th colspan=2>Settings for all listings</th>
      </tr>
      <tr class="odd">
        <td width="50%">Set</td>
        <td><%= display_set_symbol @set %></td>
      </tr>      
      <tr class="even">
        <td width="50%">Language</td>
        <td><%= display_flag_symbol(params[:mtg_cards_listing][:language]) %></td>
      </tr>
      <tr class="odd">
        <td width="50%">Condition</td>
        <td><%= display_condition params[:mtg_cards_listing][:condition] %></td>
      </tr>   
      <tr class="even">
        <td width="50%">Options</td>
        <td><%= params[:mtg_cards_listing][:foil] == "1" ? "Foil" : "None" %></td>
      </tr>
    </table>
    
    <br class="spacer"/>
    
    <%# INDIVIDUAL LISTING DATA %>
    <%# INDIVIDUAL LISTING DATA %>    
        
    <table class="data">
      <tr class="header_row">
        <th colspan=4>Settings For Individual listings</th>
      </tr>
      <tr class="header_row">
        <th>Number</th>
        <th>Card Name</th>
        <th>Asking Price</th>
        <th>
          <span class="quantity_minus_all button t-l mr-s" style="padding:0px 6px 1px 6px;" title="Decrease all">-</span>            
          Quantity
          <span class="quantity_plus_all button t-l ml-s" style="padding:0px 6px 1px 6px;" title="Increase all">+</span>                      
        </th>
      </tr>
      <% @cards.each do |card| %>
        <tr class=<%= cycle("odd", "even") %>>
          <td><%= card.card_number.to_i %></td>
          <td><%= link_to card.name, mtg_card_path(card), :target => "_blank", :alt => "click to see card details" %></td>
          <td>
            <%# DETERMINE DEFAULT VALUE FOR PRICE BOX BASED ON PREVIOUS SELECTION OR PARAMETERS IF REFRESHING FORM %>
            <%
              if params[:sales] && params[:sales]["#{card.id}"]
                price_selection = params[:sales]["#{card.id}"][:price]
              elsif params[:mtg_cards_listing][:price] == "low"
                price_selection = card.statistics.price_low
              elsif params[:mtg_cards_listing][:price] == "high"
                price_selection = card.statistics.price_high
              else                
                price_selection = card.statistics.price_med
              end                
            %>
              <%= select_tag "sales[#{card.id}][price]", options_for_select( [["Low ($#{card.statistics.price_low})",     card.statistics.price_low], 
                                                                     ["Average ($#{card.statistics.price_med})",  card.statistics.price_med], 
                                                                     ["High ($#{card.statistics.price_high})",    card.statistics.price_high],
                                                                     ["Other", "other"]], :selected => price_selection ), 
                                                 :class => "chzn-select bulk_price_options",
                                                 :style => "width:150px;" %>
              <br/>           
              <div style="margin-top:5px;<%= "#{(params[:sales] && params[:sales]["#{card.id}"] && params[:sales]["#{card.id}"][:price] == "other") ? "" : "display:none;"}"%>" class="bulk_price_custom">     
                Custom Pricing: <%= text_field_tag "sales[#{card.id}][custom_price]", (params[:sales] && params[:sales]["#{card.id}"]) ? params[:sales]["#{card.id}"][:custom_price] : nil, :style => "width:55px;text-align:center;", :class => "currency_input", :maxlength => 9 %>
              </div>
          </td>
          <td>
            <span class="quantity_minus button t-l mr-s" style="padding:0px 6px 1px 6px;">-</span>            
            <%= text_field_tag "sales[#{card.id}][quantity]", (params[:sales] && params[:sales]["#{card.id}"]) ? params[:sales]["#{card.id}"][:quantity] : 0, :style => "width:30px;text-align:center;", :class => "numeric listings_quantity", :maxlength => 3 %>
            <span class="quantity_plus button t-l ml-s" style="padding:0px 5px 1px 5px;">+</span>
          </td>
        </tr>
      <% end %>
      <tr class="header_row">
        <th colspan=4>
          Please double check the form for accuracy before submitting.<br/> This process cannot be easily reversed!
        </th>
      </tr>
    </table>
    
    <script>
      $('.quantity_plus_all').live('click', function() {
        $('#content input[type="text"].listings_quantity').each(function(index) {
           var input = $(this);
           var value = parseInt(input.val()) || 0;
           if (value < 999) {
             input.val(value + 1);
           }
        });     
      });
      $('.quantity_minus_all').live('click', function() {
        $('#content input[type="text"].listings_quantity').each(function(index) {
          var input = $(this);
          var value = parseInt(input.val()) || 0;
          if (value > 0) {
            input.val(value - 1);
          }
        });     
      });  
      $('.quantity_plus').live('click', function() {
        var input = $(this).siblings('input');
        var value = parseInt(input.val()) || 0;
        if (value < 999) {
          input.val(value + 1);
        }        
      });
      $('.quantity_minus').live('click', function() {
        var input = $(this).siblings('input');
        var value = parseInt(input.val()) || 0;
        if (value > 0) {
          input.val(value - 1);
        }
      });      
    </script
    
    <br class="spacer"/>
    <br class="spacer"/>
    <br class="spacer"/> 
    <div class="center_wrap">   
      <%= submit_tag "Complete Bulk Import", :class => "center", :confirm => "Are you sure you want to add sale listings for all these cards?"%>
    </div>
    <br class="spacer"/>
    <br class="spacer"/>    
        
  <% end %>
  
</div>