<% title "Complete Bulk Import"%>

<h1>Step 2: Complete Bulk Import</h1>

<div class="content">
  
  <%= form_tag create_bulk_mtg_cards_listings_path do %>

    <%= hidden_field_tag 'sort', params[:sort] %>    
    <%= hidden_field_tag 'mtg_cards_listing[price]', params[:mtg_cards_listing][:price] %>            
    <%= hidden_field_tag 'mtg_cards_listing[set]', params[:mtg_cards_listing][:set] %>        
    <%= hidden_field_tag 'mtg_cards_listing[language]', params[:mtg_cards_listing][:language] %>
    <%= hidden_field_tag 'mtg_cards_listing[condition]', params[:mtg_cards_listing][:condition] %>
    <%= hidden_field_tag 'mtg_cards_listing[foil]', params[:mtg_cards_listing][:foil] %>
    
    <%# SETTINGS FOR ALL DATA %>
    <%# SETTINGS FOR ALL DATA %>
        
    <table class="data">
      <tr class="header_row">
        <th colspan=2>Settings for all listings</th>
      </tr>
      <tr class="odd">
        <td width="50%">Set</td>
        <td><%= display_set_symbol @set %></td>
      </tr>      
      <tr class="even">
        <td width="50%">Language</td>
        <td><%= display_flag_symbol(params[:mtg_cards_listing][:language]) %></td>
      </tr>
      <tr class="odd">
        <td width="50%">Condition</td>
        <td><%= display_condition params[:mtg_cards_listing][:condition] %></td>
      </tr>   
      <tr class="even">
        <td width="50%">Advanced Options</td>
        <td><%= params[:mtg_cards_listing][:foil] == "1" ? "Foil Stamped" : "None" %></td>
      </tr>
    </table>
    
    <br class="spacer"/>
    
    <%# INDIVIDUAL LISTING DATA %>
    <%# INDIVIDUAL LISTING DATA %>    
        
    <table class="data">
      <tr class="header_row">
        <th colspan=4>Individual listings</th>
      </tr>
      <tr class="header_row">
        <th>Number</th>
        <th>Card Name</th>
        <th>Asking Price</th>
        <th>Quantity</th>
      </tr>
      <% previous_card = Mtg::Card.new(:mana_color => "fake") %>
      <% @cards.each do |card| %>
        <% if (card.mana_color != previous_card.mana_color) && params[:sort] ==  "color"%>
          <th colspan=4 class="header_row">
            <%= display_color(card.mana_color) %>
          </td>
          <% previous_card = card %>
        <% end %>
        <tr class=<%= cycle("odd", "even") %>>
          <td><%= card.card_number.to_i %></td>
          <td><%= link_to card.name, mtg_card_path(card), :target => "_blank", :alt => "click to see card details" %></td>
          <td>
            <%# DETERMINE DEFAULT VALUE FOR PRICE BOX BASED ON PREVIOUS SELECTION OR PARAMETERS IF REFRESHING FORM %>
            <%
              if params[:sales] && params[:sales]["#{card.id}"]
                price_selection = params[:sales]["#{card.id}"][:price]
              elsif params[:mtg_cards_listing][:price] == "low"
                price_selection = card.statistics.price_low
              elsif params[:mtg_cards_listing][:price] == "high"
                price_selection = card.statistics.price_high
              else                
                price_selection = card.statistics.price_med
              end                
            %>
              <%= select_tag "sales[#{card.id}][price]", options_for_select( [["Low ($#{card.statistics.price_low})",     card.statistics.price_low], 
                                                                     ["Average ($#{card.statistics.price_med})",  card.statistics.price_med], 
                                                                     ["High ($#{card.statistics.price_high})",    card.statistics.price_high],
                                                                     ["Other", "other"]], :selected => price_selection ), 
                                                 :class => "chzn-select bulk_price_options",
                                                 :style => "width:150px;" %>
              <br/>           
              <div style="margin-top:5px;<%= "#{(params[:sales] && params[:sales]["#{card.id}"] && params[:sales]["#{card.id}"][:price] == "other") ? "" : "display:none;"}"%>" class="bulk_price_custom">     
                Custom Pricing: <%= text_field_tag "sales[#{card.id}][custom_price]", (params[:sales] && params[:sales]["#{card.id}"]) ? params[:sales]["#{card.id}"][:custom_price] : "$#{price_selection}", :style => "width:55px;text-align:center;", :class => "currency_input", :maxlength => 9 %>
              </div>
          </td>
          <td>
            <%= text_field_tag "sales[#{card.id}][quantity]", (params[:sales] && params[:sales]["#{card.id}"]) ? params[:sales]["#{card.id}"][:quantity] : 0, :style => "width:30px;text-align:center;" %>
          </td>
        </tr>
      <% end %>
      <tr class="header_row">
        <th colspan=4>
          Please double check the form for accuracy before submitting.<br/> This process cannot be easily reversed!
        </th>
      </tr>
    </table>
    
    <br class="spacer"/>


    <br class="spacer"/>
    <br class="spacer"/> 
    <div class="center_wrap">   
      <%= submit_tag "Complete Bulk Import", :class => "center", :confirm => "Are you sure you want to add sale listings for all these cards?"%>
    </div>
    <br class="spacer"/>
    <br class="spacer"/>    
        
  <% end %>
  
</div>