<tr class=<%= cycle("odd","even") %>> 
  <td style="text-align:left;">
    <%= display_name(item.card.name) %>
  </td>
  <td>
    <%= display_set_symbol(item.card.set) %>
  </td>  
  <td>
    <%= number_to_currency(item.price) %>
  </td> 
  <td>
    <%= display_condition(item.condition) %>
  </td>
  <td>
    <%= display_flag_symbol(item.language) %>
  </td>
  <td class="mtg_options_cell">
    <% if item.foil %>
      <%= listing_option_foil_icon %>
    <% end %>
    <% if item.misprint %>
      <%= listing_option_misprint_icon %>
    <% end %>
    <% if item.signed %>
      <%= listing_option_signed_icon %>
    <% end %>
    <% if item.altart %>
      <%= listing_option_altart_icon %>
    <% end %>    
    <% if item.description != "" %>
      <%= listing_option_description_icon(item) %>
    <% end %>
  </td>
  <td> 
    <%= item.quantity_available %>
  </td> 
</tr>   
