<% title("My Sales") %>

<h1>My Sales</h1>

<div id="content">
  <div class="group center_wrap">
    <ul class="tabs center">
        <li <%= "class=selected" if request.fullpath ==  account_sales_path %>> <%= link_to "All (#{current_user.mtg_sales.count})", account_sales_path %> </li>
        <li <%= "class=selected" if params[:status] == "confirmed" %>> <%= link_to "Ready to Ship (#{current_user.mtg_sales.where(:status => "confirmed").count})", account_sales_path(:status => "confirmed") %> </li>      
        <li <%= "class=selected" if params[:status] == "shipped" %>> <%= link_to "Shipped (#{current_user.mtg_sales.where(:status => "shipped").count})", account_sales_path(:status => "shipped") %> </li>
    </ul>
  </div>
  
<h2><%= pluralize @sales.total_count, "#{params[:status].capitalize if params[:status].present?} Sale", "#{params[:status].capitalize if params[:status].present?} Sales" %></h2>

<table class="data">
  <tr class="header_row">
    <th>Date</th>
    <th>Transaction ID</th>      
    <th>Buyer</th>
    <th>Status</th>
    <th>Items</th>
    <th>Value</th>
  </tr>
  
  <%= render :partial => "mtg/transactions/teaser", :collection => @sales, :as => "transaction" %>

  <% if @sales.count == 0 %>
    <tr>
      <td colspan=6 class="odd"><i>None</i></td>
    </tr>
  <% end %>

</table>

  <div class="paginator center_wrap">
    <%= paginate @sales, :method => :get %>
  </div>
  
</div>