<% title("My Purchases") %>

<h1>My Purchases</h1>

<div class="content">
  <div class="group center_wrap">
    <ul class="tabs center">
        <li <%= "class=\'selected\'" if request.fullpath ==  account_purchases_path %>> <%= link_to "All (#{current_user.mtg_purchases.count})", account_purchases_path %> </li>
        <li <%= "class=\'selected\'" if params[:status] == "pending" %>> <%= link_to "Pending (#{current_user.mtg_purchases.where(:status => "pending").count})", account_purchases_path(:status => "pending")%> </li>
        <li <%= "class=\'selected\'" if params[:status] == "confirmed" %>> <%= link_to "Confirmed (#{current_user.mtg_purchases.where(:status => "confirmed").count})", account_purchases_path(:status => "confirmed") %> </li>      
        <li <%= "class=\'selected\'" if params[:status] == "shipped" %>> <%= link_to "Shipped (#{current_user.mtg_purchases.where(:status => "shipped").count})", account_purchases_path(:status => "shipped") %> </li>
        <li <%= "class=\'selected\'" if params[:status] == "delivered" %>> <%= link_to "Delivered (#{current_user.mtg_purchases.where(:status => "delivered").count})", account_purchases_path(:status => "delivered") %> </li>        
    </ul>
  </div>
  
<h2><%= pluralize @sales.total_count, "#{params[:status].capitalize if params[:status].present?} Purchase", "#{params[:status].capitalize if params[:status].present?} Purchases" %></h2>

 <table class="data">
 <tr class="header_row">
 	<th>Date</th>
   	<th>Number</th>      
  	<th>Seller</th>
	<th>Status</th>
	<th>Items</th>
	<th>Value</th>
	<th>Menu</th>
 </tr>
  
  <% @sales.each do |t| %>
    <%= render :partial => "mtg/transactions/teaser" , :locals => {:transaction => t} %>      
  <% end %>

</table>

  <div class="paginator center">
    <%= paginate @sales, :method => :get %>
  </div>
  
</div>