<% title "My Account" %>

<h1> My Account </h1>

<div id="content">
  
  <div class="group center_wrap">
    <ul class="tabs center">
      <li <%= "class=selected" if not params[:section].present? %>> <%= link_to "Account Info", account_info_path %> </li>
      <li <%= "class=selected" if params[:section] == "history" %>> <%= link_to "Login History", account_info_path(:section => "history") %> </li>
    </ul>
  </div>
  
  <br class="spacer"/>
  
  <% unless params[:section].present? %>
  
    <table class="data">
      <tr class="header_row">
        <th colspan=2>Account</th>
      </tr>
      <tr>
        <td width="33%" class="header_row">Username</td>
        <td width="67%" class=<%= cycle "odd", "even" %>><%= "#{current_user.username}" %></td>
      </tr>
      <tr>
        <td class="header_row">Email</td>
        <td class=<%= cycle "odd", "even" %>><%= current_user.email %></td>
      </tr>
    </table>
    
    <table class="data mt">
      <tr class="header_row">
        <th colspan=2>Seller Information</th>
      </tr>

      <tr>
        <td width="33%" class="header_row">Seller Status</td>
        <td width="67%" class=<%= cycle "odd", "even" %>><%= current_user.active ? "Active" : "Inactive" %></td>
      </tr>
      <tr>
        <td width="33%" class="header_row">Seller PayPal Email</td>
        <td width="67%" class=<%= cycle "odd", "even" %>><%= current_user.account.paypal_username.present? ? current_user.account.paypal_username : "<i>none</i>".html_safe %></td>
      </tr>
      <tr>
        <td class="header_row">For Sale</td>
        <td class=<%= cycle "odd", "even" %>><%= pluralize current_user.mtg_listings.to_a.inject(0) {|sum, listing| sum + listing.quantity}, "Card", "Cards" %> / <%= number_to_currency current_user.mtg_listings.to_a.inject(0) {|sum, listing| sum + listing.quantity * listing.price.dollars} %></td>
      </tr>
      <tr>
        <td class="header_row">Previously Sold</td>
        <td class=<%= cycle "odd", "even" %>><%= pluralize current_user.mtg_sale_items.to_a.inject(0) {|sum, item| sum + item.quantity_requested}, "Card", "Cards" %> / <%= number_to_currency current_user.mtg_sale_items.to_a.inject(0) {|sum, item| sum + item.quantity_requested * item.price.dollars} %></td>
      </tr>
    </table>
  
    <table class="data mt">

      <tr class="header_row">
        <th colspan=2>Personal Information</th>
      </tr>
      <tr>
        <td width="33%" class="header_row">Name</td>
        <td width="67%" class=<%= cycle "odd", "even" %>><%= "#{current_user.account.first_name} #{current_user.account.last_name}" %></td>
      </tr>
      <tr>
        <td class="header_row">Address</td>
        <td class=<%= cycle "odd", "even" %>><%= current_user.account.address1 %> <%= "<br/> #{current_user.account.address2}".html_safe if current_user.account.address2.present?  %></td>
      </tr>
      <tr>
        <td class="header_row">City</td>
        <td class=<%= cycle "odd", "even" %>><%= current_user.account.city %></td>
      </tr>    
      <tr>
        <td class="header_row">State</td>
        <td class=<%= cycle "odd", "even" %>><%= current_user.account.state %></td>
      </tr>   
      <tr>
        <td class="header_row">Zipcode</td>
        <td class=<%= cycle "odd", "even" %>><%= current_user.account.zipcode %></td>
      </tr>
    </table>
  
    <br/>
  
    <div class="ma center_wrap">
      <%= link_to "Edit Account Info", edit_user_registration_path, :class => "button" %>
    </div>
  
  <% else %>
    <% begin %>
    
      <table class="data">
        <% ip_log_reverse = current_user.statistics.ip_log.reverse %>
    
        <% 6.times do |index| %>
          <% if index < ip_log_reverse.length %>
            <tr class="header_row">
              <th colspan=2>Logged in <%= "#{time_ago_in_words(ip_log_reverse[index][:time])} ago" %></th>
            </tr>
            <tr>
              <td width="33%" class="header_row">IP Address</td>
              <td width="67%" class=<%= cycle "odd", "even" %>><%= ip_log_reverse[index][:ip] %></td>
            </tr>            
          <% end %>
        <% end %>
      </table> 
      
    <% rescue %>
    
    <% end %>
  
  <% end %> 
  


   
   
</div>