<%= render :partial => "users/manage_account_header" %>
<div class="ma">
  <div class="group">
    <ul class="tabs center">
        <li> <%= link_to "Confirmation Needed (#{current_user.mtg_sales.where(:status => "pending").count})", account_sales_path(:status => "pending")%> </li>
        <li> <%= link_to "Ready to Deliver (#{current_user.mtg_sales.where(:status => "confirmed").count})", account_sales_path(:status => "confirmed") %> </li>      
        <li> <%= link_to "Complete (#{current_user.mtg_sales.where(:status => "delivered").count})", account_sales_path(:status => "delivered") %> </li>
    </ul>
  </div>
  <h2><%="#{pluralize(@sales.count, "Sale", "Sales")}"%></h2>
  <% @sales.each do |t| %>
    
    <%= render :partial => "mtg/transactions/teaser" , :locals => {:transaction => t} %>
    <%= render :partial => "mtg/transactions/options" , :locals => {:transaction => t} %>          
  <!--  <table style="width:100%; font-size:80%;">
      <th>Card Name</th><th>Set</th><th>Price</th><th>Condition</th><th>Language</th><th>Foil</th><th>misprints</th>    
      <% t.listings.each do |listing| %>
        <div>
          <tr>
            <td>
              <%= listing.card.name%>
            </td>
            <td>
              <%= listing.card.set.name%>
            </td>
            <td>
              <%= number_to_currency(listing.price.dollars)%>
            </td>          
            <td>
              <%= listing.condition %>
            </td>
            <td>
              <%= listing.language %>
            </td>          
            <td>
              <%= listing.foil %>
            </td>
            <td>
              <%= listing.misprint %>
            </td> 
          <tr/>
        </div>
      <% end %>
    </table> -->
      
  <% end %>
</div>