<h1>My Listings</h1>
<div class="content">

  <div class="group center_wrap">
    <ul class="tabs">
      <li <%= "class=selected" if params[:status] == nil || params[:status] == "" %>> <%= link_to "All (#{current_user.mtg_listings.count})", url_for(params.merge(:status => nil)) %> </li>
      <li <%= "class=selected" if params[:status] == "active" %>>                     <%= link_to "Active (#{current_user.mtg_listings.active.count})", url_for(params.merge(:status => "active")) %> </li>
      <li <%= "class=selected" if params[:status] == "inactive" %>>                   <%= link_to "Inactive (#{current_user.mtg_listings.inactive.count})", url_for(params.merge(:status => "inactive")) %> </li>      
    </ul>
  </div>

  <%= form_tag account_listings_path, :method => :get, :id => "account_listings_filters", :remote => false do %>   
    <%= hidden_field_tag :status, params[:status] %>
    <div class="ma">
      <div class="left">
        <%= text_field_tag "filters[name]", (params[:filters][:name] rescue ""), {:class => "search-text ui-autocomplete-input deletable", :style => "width:180px;", :placeholder => "Name..." , "data-type" => "search", "data-autocomplete" => autocomplete_name_mtg_cards_path }%>
      </div>  
      <div class="left ml">
        <%= select_tag "filters[set]" , options_for_select(active_set_list, :selected => (params[:filters][:set] rescue "")), {:tabindex => "-1", :include_blank => true, "data-placeholder" => "Set...", :class => "chzn-select", :style => "width:200px;"} %>    
      </div>
      <div class="right">
        <%= submit_tag "Search" %>
      </div>      
    </div>
  <% end %>

  <br class="spacer"/>  

  <%= link_to "Create a New Listing", new_generic_mtg_cards_listings_path, :class => "right", :style => "margin-top:23px;margin-right:10px;" %>
  <h2><%="#{@listings.total_count} #{(params[:status] || "").capitalize} Listings"%></h2>

	<%= form_tag mtg_cards_listings_multiple_process_request_path, :id => "multiple_listing_edit_form", :method => :post do %>
    <%= submit_tag "Delete", :id => "delete_submit_button", :style => "display:none;", :confirm => "Are you sure you want to permanently delete selected listing(s)?"%>
    <%= hidden_field_tag "action_input" %>
    <div class="right mr mb">
      <%= select_tag "action_selector" , options_for_select([["Set checked items to active", "active"], ["Set checked items to inactive", "inactive"], ["Delete checked items","delete"]], :selected => ""), {:tabindex => "-1", :include_blank => true, "data-placeholder" => "Actions...", :id => "multiple_listings_actions", :class => "chzn-select"} %> 
    </div>
    
    <table class="data">

    	<tr class="header_row">
    	  <th><%= check_box_tag "listings", 1, false, {:id => "check_all_listings"} %></th>
    		<th>Card Name</th>
    		<th>Set</th>      
    		<th>Price</th>
    		<th>Cond.</th>
    		<th>Lang.</th>
    		<th>Options</th>
    		<th>Qty.</th>
    		<th>Edit</th>
    	</tr>
  	
      <%= render :partial => "mtg/cards/listings/teaser" , :collection => @listings, :as => "listing" %>
    
      <% if @listings.count == 0 %>
        <tr>          
          <% if (not current_user.active) && params[:section] == "active" %>
            <td colspan=9 class="odd"><i>Note: All your listings are temporarily inactive due to your seller status</i></td>
          <% else %>
            <td colspan=9 class="odd"><i>None</i></td>            
          <% end %>
        </tr>
      <% end %>

  

  <% end %>
  
  <div class="center_wrap">
    <div class="paginator center">
      <%= paginate @listings, :method => :get %>
    </div>
  </div>
    
</div>



<div id="dialog-confirm" class="hidden" title="Empty the recycle bin?">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>