<h1>My Listings</h1>
<div class="ma">
  
  <div class="group">
    <ul class="tabs center">
      <li <%= "class=\'selected\'" if request.fullpath ==  user_current_listings_path %>> <%= link_to "All (#{current_user.mtg_listings.count})", user_current_listings_path %> </li>
      <li <%= "class=\'selected\'" if params[:status] == "active" %>> <%= link_to "Active (#{current_user.mtg_listings.active.count})", user_current_listings_path(:status => "active")%> </li>
      <li <%= "class=\'selected\'" if params[:status] == "inactive" %>> <%= link_to "Inactive (#{current_user.mtg_listings.inactive.count})", user_current_listings_path(:status => "inactive") %> </li>      
    </ul>
  </div>
  
  <h2><%="#{@listings.total_count} #{(params[:status] || "").capitalize} Listings"%></h2>

  <p>Note: Only active listings will be visible to be purchased.  While you are in inactive mode, all your listings invisible regardless if they are set to active or not.</p>  
  <br class="spacer"/>
  
  <table class="data">
    	<tr class="header_row">
    		<th>Card Name</th>
    		<th>Set</th>      
    		<th>Price</th>
    		<th>Cond.</th>
    		<th>Lang.</th>
    		<th>Options</th>
    		<th>Qty.</th>
    		<th>Menu</th>
    	</tr>
      <%= render :partial => "mtg/listings/teaser" , :collection => @listings, :as => "listing" %>      
  </table>

  <div class="paginator center" style="display:inline-block;">
    <%= paginate @listings, :method => :get %>
  </div>
  
  <br class="spacer"/>
  <br class="spacer"/>

    
</div>