<h1>My Listings</h1>
<div class="ma">
  
  <div class="group">
    <ul class="tabs center">
      <li <%= "class=\'selected\'" if request.fullpath ==  user_current_listings_path %>> <%= link_to "All (#{current_user.mtg_listings.count})", user_current_listings_path %> </li>
      <li <%= "class=\'selected\'" if params[:status] == "active" %>> <%= link_to "Active (#{current_user.mtg_listings.active.count})", user_current_listings_path(:status => "active")%> </li>
      <li <%= "class=\'selected\'" if params[:status] == "inactive" %>> <%= link_to "Inactive (#{current_user.mtg_listings.inactive.count})", user_current_listings_path(:status => "inactive") %> </li>      
    </ul>
  </div>
  
  <h2><%="#{@listings.count} #{(params[:status] || "").capitalize} Listings"%></h2>

  <div class="teaser_row">
    <div style="width:25%;text-align:left;">
      <u>Card Name</u>
    </div>
    <div style="width:8%">  
      <u>Set</u>
    </div>
    <div style="width:10%">
      <u>Price</u>
    </div>
    <div style="width:8%">
      <u>Cond</u>
    </div>    
    <div style="width:9%">
      <u>Lang</u>
    </div>      
    <div style="width:15%">
      <u>Options</u>
    </div>
    <div style="width:10%">
      <u>Quantity</u>
    </div>      
    <div class="teaser_row_actions">
    </div>
  </div>

  <%= render :partial => "mtg/listings/teaser_user" , :collection => @listings, :as => "listing" %>      

  <div class="paginator">
    <%= paginate @listings, :method => :get %>
  </div>
    
  <br class="spacer"/>
  <br class="spacer"/>
  <p>Note: Only active listings will be visible to be purchased.  While you are in vacation mode, all your listings invisible regardless if they are set to active or not.</p>  
    
</div>