<% title "members"%>

<h1>Member List</h1>
<div class="ma">
  
	<table class="data">
		<tr class="header_row">
			<th>Member Since</th>
			<th>Username</th>
			<th># Sales</th>
			<th># Purchases</th>
			<th>Feedback Rating</th>
		</tr>
		
	  <% @users.each do |user| %>
	    <tr class=<%= cycle("even","odd") %>>
	      <td><%= user.created_at.strftime("%B %Y") %></td>
				<td><%= link_to user.username, user_path(user) %></td>
				<td><%= user.statistics.number_sales %></td>
				<td><%= user.statistics.number_purchases %></td>
				<td><%= "#{user.statistics.display_approval_percent}" %></td>
	    </tr>
	  <% end %>  

</table>

<div class="paginator center_wrap">
  <%= paginate @users, :method => :get %>
</div>

</div>
