<% title "sellers list" %>

<h1>Sellers List</h1>
<div id="content">
  
	<table class="data fixed">
		<tr class="header_row">

			<th width="25%"> <%= table_sort_header("User", :params => {}, :value => "user", :remote => true) %> </th>
			<th > <%= table_sort_header("Member Since", :params => {}, :value => "member_since", :remote => true) %> </th>			
			<th > <%= table_sort_header("Sales",    :params => {}, :value => "sales",    :remote => true) %> </th>			

			<th> <%= table_sort_header("Feedback", :params => {}, :value => "feedback", :remote => true) %> </th>
			<th> <%= table_sort_header("Cards", :params => {}, :value => "cards", :remote => true) %> </th>			
		</tr>
				
	  <% @users.each do |user| %>
	    <tr class=<%= cycle("even","odd") %>>
				<td><%= link_to user.username, user_path(user.username) %></td>
	      <td><%= display_time(user.created_at, :day => false) %></td>	
  			<td><%= user.statistics.number_sales %></td>

				<td><%= "#{user.statistics.display_approval_percent}" %></td>
        <td><a class="seller_sales_link" style="cursor:pointer;" data-seller=<%= user.username %> data-sellerid=<%= user.id %> title="Search this users's listings with your current search filters"><%= user.mtg_listings.available.sum(:quantity_available) %></a></td>				
	    </tr>
	  <% end %>

</table>

<div class="paginator center_wrap">
  <%= paginate @users, :method => :get %>
</div>

</div>
