<%= render :partial => "users/manage_account_header" %>
<div class="ma">
  <h2><%="Your Cart (#{pluralize(current_cart.item_count,"item","items")})"%></h2>
  
  <%# Do this if the user's cart is not empty %>
  <% if current_cart.item_count > 0 %>
    <%# organize items in cart by seller %>
    <% current_cart.seller_ids.each do |s_id| %>
      <h3><%= "Items to be purchased from #{User.where(:id => s_id).pluck(:username).first}" %></h3>
        <%# show the items under this seller, organize by duplicates, include unavailable listings (since they're already in a cart) %>
        <% current_cart.mtg_listings_for_seller_id(s_id).organize_by_duplicates(false).each do |duplicate_item| %>
          <table>
            <tr>
              <td>
                <%= display_name(duplicate_item["listing"].card.name)%>
              </td>
              <td>
                <%= display_set_symbol(duplicate_item["listing"].card.set)%>
              </td>
              <td>
                <%= number_to_currency(duplicate_item["listing"].price)%>
              </td>          
              <td>
                <%= duplicate_item["listing"].condition %>
              </td>
              <td>
                <%= display_flag_symbol(duplicate_item["listing"]) %>
              </td>          
              <td>
                <% if duplicate_item["listing"].foil %>
                  <div class ="left"> Foil </div><div class="right"> X </div><br/>
                <% end %>
                <% if duplicate_item["listing"].misprint %>
                  <div class ="left"> Misprint </div><div class="right"> X </div><br/>
                <% end %>
                <% if duplicate_item["listing"].signed %>
                  <div class ="left"> Signed </div><div class="right"> X </div><br/>
                <% end %>
                <% if duplicate_item["listing"].altart %>
                  <div class ="left"> Alt. Art </div><div class="right"> X </div><br/>
                <% end %>
              </td>
              <td>
                <%= duplicate_item["count"] %>
              </td>
              <td>
                <%= link_to "remove", remove_from_cart_mtg_listing_path(:id => duplicate_item["listing"].id), :method => :delete %>
              </td>   
            <tr/>
          </table>          
        <% end %>
      <% end %>

    <br class="spacer"/>
    <div class="right">
      <%= "Subtotal: #{number_to_currency(current_cart.total_price)}" %>
    </div>
    <br class="spacer"/>
    <div class="center">
      <%= button_to "Check Out", cart_checkout_path, :method => :post %>
    </div>

    <%# do this if there are no items in the user's cart%>
    <% else %>
    
      <div class="center"><%= "Your cart is currently empty" %></div>
      
    <% end %>  
  
</div>