<% title @user.username %>

<h1><%= @user.username %></h1>
<div id="content">
  
  <div class="group center_wrap">
    <ul class="tabs center">
      <li <%= "class=selected" if not params[:section].present? %>> <%= link_to "Profile", user_path(@user.username) %> </li>
      <li <%= "class=selected" if params[:section] == "feedback" %>> <%= link_to "Feedback", user_path(@user.username, :section => "feedback") %> </li>
      <li <%= "class=selected" if params[:section] == "mtg_cards" %>> <%= link_to "For Sale", user_path(@user.username, :section => "mtg_cards") %> </li>      
    </ul>
  </div>
  
  
  <%# PROFILE SECTION %>
  <% if not params[:section].present? %>
    <h2>Profile</h2>
    <table class="data">
      <tr class="header_row">
        <th colspan=2>Location</th>    
      </tr>
      <tr class="odd">
        <td  width="50%">Country</td>
        <td><%= @user.account.country %></td>
      </tr>
      <tr class="even">
        <td>State</td>
        <td><%= @user.account.state.upcase %></td>
      </tr>
      <tr class="odd">
        <td>City</td>
        <td><%= capitalize_first_letters(@user.account.city.capitalize) %></td>
      </tr>
    </table>
    <br class="spacer"/>
    <table class="data">

      <tr class="header_row">
        <th colspan=2>Stats</th> 
      </tr>   
      <tr class="odd">
        <td width="50%">Feedback</td>
        <td ><%= @user.statistics.display_approval_percent %></td>
      </tr>           
      <tr class="even">
        <td>Member Since</td>
        <td><%= @user.created_at.strftime("%B %Y") %></td>
      </tr>      
      <tr class="odd">
        <td>Number of Purchases</td>
        <td><%= @user.statistics.number_purchases.to_s %></td>
      </tr> 
      <tr class="even">
        <td>Number of Sales</td>
        <td><%=  @user.statistics.number_sales.to_s  %></td>
      </tr> 
      <tr class="odd">
        <td>Average time to ship a sale</td>
        <td><%= @user.statistics.display_average_ship_time  %></td>
      </tr>      
      
    </table>

  <% end %>

  <%# FEEDBACK SECTION %>
  <% if params[:section] == "feedback" %>
  
    <h2><%= pluralize(@sales.total_count, "User Review", "User Reviews") %></h2>
  	<table class="data fixed">
      <tr class="header_row">
        <th width="9%">Date</th>
        <th width="10%">Feedback</th>
        <th width="55%">Comments</th>
      </tr>
    	<% @sales.each do |s| %>
        <% if s.feedback.seller_response_comment.present? %>
          <tr class=<%= cycle("odd", "even") %>> 
            <td rowspan=2>
              <%= display_time(s.created_at, :day => false)%>
            </td>
            <td rowspan=2>
              <%= s.feedback.display_rating %>
            </td>
            <td>
              <p><b><%= link_to s.buyer.username, user_path(s.buyer.username) %> commented:</b>&nbsp;&nbsp;&nbsp;<i>"<%= s.feedback.comment %></i>"</p>
            </td>    
      		</tr>
      		<tr>      		  
      		  <% cycle("odd", "even") %>
      		  <td class=<%= cycle("odd", "even") %>><p><b>seller response:</b>&nbsp;&nbsp;&nbsp;<i>"<%= s.feedback.seller_response_comment %>"</i></p></td>
    		  </tr>
    		<% else %>
      		<tr class=<%= cycle("odd", "even") %>> 
            <td>
              <%= display_time(s.created_at, :day => false)%>
            </td>
            <td>
              <%= s.feedback.display_rating %>
            </td>
            <td>
              <p><b><%= link_to s.buyer.username, user_path(s.buyer.username) %> commented:</b> &nbsp;&nbsp;&nbsp;<i>"<%= s.feedback.comment %>"</i></p>
            </td>    
      		</tr>
    		<% end %>
      <% end %>
      			
  	  <% if @sales.count == 0 %>
  	    <tr>
  	      <td colspan=3 class="odd"><i>None</i></td>
  	    </tr>
  	  <% end %>
    </table>
      
    <br class="spacer">
    <div class="mt paginator center_wrap">
      <%= paginate @sales, :method => :get %>
    </div>

  <% end %>
  
  <%# MTG_CARDS SECTION %>
  <% if params[:section] == "mtg_cards" %>
  
    <div>
      <%= render :partial => '/mtg/apply_filters', :locals =>  { :remote => true } %>
      <h2><%= pluralize(@listings.total_count, "Listing", "Listings") %></h2>
    </div>
  
    <% if @listings.count > 0 %>

      <table class="data fixed">
        <tr class="header_row">
          <th width="25%"> <%= table_sort_header("Name") %> </th>
          <th width="9%"> <%= table_sort_header("Set") %> </th>      
          <th width="8%"> <%= table_sort_header("Lang", :value => "language") %> </th>
          <th width="8%"> <%= table_sort_header("Cond", :value => "condition") %> </th>              
          <th width="10%"> Options </th>
          <th width="12%"> <%= table_sort_header("Price") %> </th>
          <th width="8%"> <%= table_sort_header("Qty", :value => "quantity") %> </th>
          <th width="20%"> Add to Cart </th>
        </tr>
        <% @listings.each do |listing| %>
          <tr class=<%= cycle("odd","even") %>>  
            <td><%= link_to listing.card.name, mtg_card_path(listing.card) %></td>
            <td><div><%= display_set_symbol(listing.card.set) %></div></td>          
            <td><%= display_flag_symbol(listing.language) %></td>
            <td><%= display_condition(listing.condition)%>
            <td>
              <% if listing.foil %>
                <%= listing_option_foil_icon %>
              <% end %>
              <% if listing.misprint %>
                <%= listing_option_misprint_icon %>
              <% end %>
              <% if listing.signed %>
                <%= listing_option_signed_icon %>
              <% end %>
              <% if listing.altart %>
                <%= listing_option_altart_icon %>
              <% end %>    
              <% if listing.description != "" %>
                <%= listing_option_description_icon(listing) %>
              <% end %>
              <% if listing.scan.present? %>
                <%= listing_option_scan_icon(listing) %>
                <%= listing_option_scan_overlay(listing) %>
              <% end %> 
            </td>
            <td><%= number_to_currency(listing.price)%></td>
            <td><%= listing.quantity_available %></td>
            <td>
              <%= form_tag add_to_cart_mtg_listing_path(listing.id), :method => :post do %>
                <%= text_field_tag "quantity", 1, :id => nil, :maxlength => 4, :style => "width:30px;text-align:center;"%>            
                <%= submit_tag "Add" %>
              <% end %>
            </td>         
          </tr>
        <% end %>
        <% if @listings.count == 0 %>
          <tr class="odd"><td colspan=8><i>No listings</i></td></tr>
        <% end %>
      </table>
    
      <div class="mt paginator center_wrap">
        <%= paginate @listings, :method => :get %>
      </div>
    <% elsif params[:filter] != "false" %>  
      <%= render :partial => "mtg/no_results", :locals => { :filter_by => "cookies" } %>
    <% else %>
      <p class="ma"><i>This user currently has no listings...</i></p>
    <% end %>
    
  <% end %>
</div>
