<%= title "Shopping Cart"%>
<h1><%="Your Cart (#{pluralize(current_cart.item_count,"item","items")})"%></h1>
<div class="ma">
  <%# Do this if the user's cart is not empty %>
  <% if current_cart.item_count > 0 %>
    <%# organize items in cart by seller %>
    <% current_cart.seller_ids.each do |s_id| %>
      <% seller_items = @reservations.where("mtg_listings.seller_id" => s_id) %>
      <h2><%= "#{seller_items.sum(:quantity)} Items from #{User.where(:id => s_id).pluck(:username).first}" %></h2>
        <%# show the items under this seller %>
      <!-- Heading -->
      <div class="cart_item_teaser">
        <div class="cart_item_teaser_name"> Name </div>
        <div class="cart_item_teaser_set"> Set </div>  
        <div class="cart_item_teaser_condition"> Cond </div>      
        <div class="cart_item_teaser_language"> Lang </div>
        <div class="cart_item_teaser_options"> Options </div> 
        <div class="cart_item_teaser_price"> Price </div>     
        <div class="cart_item_teaser_available"> Available </div>                  
        <div class="cart_item_teaser_quantity"> In cart </div>
        <div class="cart_item_teaser_remove"> Remove </div>  
      </div>        
      <% seller_items.each do |reservation| %>
        <!-- listings -->
        <div class="cart_item_teaser <%= cycle("even", "odd") %>">
          <div class="cart_item_teaser_name">
            <%= display_name(reservation.card.name)%>
          </div>
          <div class="cart_item_teaser_set">
            <%= display_set_symbol(reservation.card.set)%>
          </div>
          <div class="cart_item_teaser_condition">
            <%= display_condition(reservation.listing.condition) %>
          </div>    
          <div class="cart_item_teaser_language">
            <%= display_flag_symbol(reservation.listing) %>
          </div>          
          <div class="cart_item_teaser_options">
            <% if reservation.listing.foil %>
              <%= listing_option_foil_icon %>
            <% end %>
            <% if reservation.listing.misprint %>
              <%= listing_option_misprint_icon %>
            <% end %>
            <% if reservation.listing.signed %>
              <%= listing_option_signed_icon %>
            <% end %>
            <% if reservation.listing.altart %>
              <%= listing_option_altart_icon %>
            <% end %>    
            <% if reservation.listing.description != "" %>
              <%= listing_option_description_icon(reservation.listing) %>
            <% end %>
          </div>
          <div class="cart_item_teaser_price">
            <%= number_to_currency(reservation.listing.price) %>
          </div>
          <div class="cart_item_teaser_available"> <%= reservation.quantity + reservation.listing.quantity_available %> </div>                            
          <div class="cart_item_teaser_quantity">
            <%= form_tag update_quantity_in_cart_mtg_cards_path(reservation), :method => :post do %>
              <%= text_field_tag "quantity", 1, :class => "quantity_in_cart", :id => nil, :value => reservation.quantity, :style => "width:30px;text-align:center;"%>
              <%# This form is automatically submitted when changed per cart.js.erb no need for submit tag %>
              <%#= submit_tag "Update" , :style => "display:none;"%>
            <% end %>
          </div>      
          <div class="cart_item_teaser_remove">
            <%= form_tag remove_from_cart_mtg_listing_path(:id => reservation.id, :quantity => reservation.quantity ), :method => :delete do %>
              <%= submit_tag "X" %>
            <% end %>
          </div>  
        </div>
      <% end %>        
    <% end %>

    <br class="spacer"/>
    <div class="right">
      <%= "Subtotal: #{number_to_currency(current_cart.total_price)}" %>
    </div>
    <br class="spacer"/>
    <br class="spacer"/>    
    <br class="spacer"/>        
    <%= button_to "Check Out", cart_checkout_path, :method => :post , :class => "center"%>

    <%# do this if there are no items in the user's cart%>
    <% else %>
    
      <div class="center"><%= "Your cart is currently empty" %></div>
      
    <% end %>  
  
</div>

