<% title @user.username %>

<h1><%= @user.username %></h1>
<div class="content">
  
  <div class="group center_wrap">
    <ul class="tabs center">
        <li <%= "class=selected" if not params[:section].present? %>> <%= link_to "Profile", user_path(@user) %> </li>
        <li <%= "class=selected" if params[:section] == "feedback" %>> <%= link_to "Feedback", user_path(@user, :section => "feedback") %> </li>                
    </ul>
  </div>
  
  <%# PROFILE SECTION %>
  <% if not params[:section].present? %>
    <h2>Profile</h2>
    <table class="data">
      <tr class="header_row">
        <th colspan=2>Location</th>    
      </tr>
      <tr class="odd">
        <td  width="50%">Country</td>
        <td><%= @user.account.country %></td>
      </tr>
      <tr class="even">
        <td>State</td>
        <td><%= @user.account.state.upcase %></td>
      </tr>
      <tr class="odd">
        <td>City</td>
        <td><%= capitalize_first_word(@user.account.city.capitalize) %></td>
      </tr>
    </table>
    <br class="spacer"/>
    <table class="data">

      <tr class="header_row">
        <th colspan=2>Stats</th> 
      </tr>   
      <tr class="odd">
        <td width="50%">Approval Rating</td>
        <td ><%= @user.statistics.display_approval_percent %></td>
      </tr>           
      <tr class="even">
        <td>Member Since</td>
        <td><%= @user.created_at.strftime("%B %Y") %></td>
      </tr>      
      <tr class="odd">
        <td>Number of Purchases</td>
        <td><%= @user.statistics.number_purchases.to_s %></td>
      </tr> 
      <tr class="even">
        <td>Number of Sales</td>
        <td><%=  @user.statistics.number_sales.to_s  %></td>
      </tr> 
      <tr class="odd">
        <td>Average time to ship a sale</td>
        <td><%= @user.statistics.display_average_ship_time  %></td>
      </tr>      
      
    </table>

  <% end %>

  <%# FEEDBACK SECTION %>
  <% if params[:section] == "feedback" %>
  <h2><%= pluralize(@sales.total_count, "User Review", "User Reviews") %></h2>
	<table class="data fixed">
    <tr class="header_row">
      <th width="13%">Date</th>
      <th>Buyer</th>      
      <th width="12%">Rating</th>
      <th width="50%">Feedback</th>
    </tr>
	<% @sales.each do |s| %>
        <tr class=<%= cycle("odd","even") %>> 
          <td>
            <%= display_time(s.created_at)%>
          </td>
          <td>  
            <%= link_to s.buyer.username, user_path(s.buyer) %>
          </td>
          <td>
            <%= s.feedback.display_rating %>
          </td>
          <td>
            <p><%= s.feedback.comment %></p>  
          </td>    
		</tr>

      <% end %>
  </table>
      
      <br class="spacer">
      <div class="paginator center">
        <%= paginate @sales %>
      </div>

  
  <% end %>
</div>
