<div id="navbar" class="group">
  <ul class="group">
    
    <% unless user_signed_in? %>
  		<li><%= link_to "Sign up", new_user_registration_path, :class => 'round_right' %></li>    
  	<% else %>
    	<li class="navbar_drop">    
    		<%= link_to "Account", account_info_path, :class => 'round_right' %>        
    		<div class="navbar_drop_child">
      		<ul>
            <li><%= link_to "My Account Info", account_info_path %></li>
            <li><%= link_to "My Public Profile", user_path(current_user.username) %></li>          
            <li><%= link_to "Communication Center", communications_path %></li>                      
            <li class="heading"> E-Commerce </li>
            <li><%= link_to "My Listings", account_listings_path %></li>  
            <li><%= link_to "My Purchases", account_purchases_path %></li>  
            <li><%= link_to "My Sales", account_sales_path %></li>                        
      		</ul>
    		</div>
      </li>

    	<li class="navbar_drop">
    		<%= link_to "Sell", mtg_cards_path %>
    		<div class="navbar_drop_child">
    			<ul>
      	    <li><%= link_to "Sell a Card", new_generic_mtg_cards_listings_path %></li>
      	    <li><%= link_to "Bulk Cards Sale",  new_bulk_prep_mtg_cards_listings_path  %></li>
        	</ul>
        </div>
      </li>
    <% end %>


		<li class="navbar_drop">
			<%= link_to "Support"%>
			<div class="navbar_drop_child">
  			<ul>
  		    <li><%= link_to "Leave Feedback", feedback_path %></li>
  		    <% if user_signed_in? %>
    		    <li class="heading"> Support Issues </li>
            <li><%= link_to "Submit a Ticket", new_ticket_path %></li>
     		    <li><%= link_to "View Ticket History", tickets_path %></li>                   
   		    <% end %>
          <li class="heading"> Documentation </li>
          <li><%= link_to "FAQ", faq_path %></li>
    			<li><%= link_to "Card Condition Guide", condition_path %></li>  
  			</ul>
			</div>
	  </li>
		
		<li class="navbar_drop">
			<%= link_to "The Bazaar", users_path %>
			<div class="navbar_drop_child">
  			<ul>
					<li><%= link_to "Sellers List", users_path %></li>
          <li class="heading"> Cards </li>					
  		    <li><%= link_to "Singles", mtg_cards_path %></li>
  		    <li><%= link_to "Complete Sets (Coming Soon)", root_path %></li>  		    
          <li class="heading"> Other Products </li>
          <li><%= link_to "Coming Soon", root_path %></li>
  			</ul>
			</div>
	  </li>
		
		<li><%= link_to "About", about_path %></li>	
		<li><%#= link_to "News", news_feeds_path %></li>		   			
		<li><%= link_to "Home", root_path %></li>

  </ul>
</div>