<div id="navbar" class="group">
  <ul class="group">
    
    <% unless user_signed_in? %>
      <li><%= link_to "Sign up", new_user_registration_path, :class => 'round_right' %></li>
    
	<% else %>
      
		<li class="navbar_drop">    
  		<%= link_to "Account", show_account_info_path, :class => 'round_right' %>        
  		<div class="navbar_drop_child">
    		<ul>
    			<li><%= link_to "Account Summary", show_account_info_path %></li>
          <li class="heading"> Setup </li>            
          <li><%= link_to "Edit Account", edit_user_registration_path %></li>
          <li><%= link_to "Make a Deposit", new_account_deposit_path %></li>            
          <li><%= link_to "Make a Withdraw", new_account_withdraw_path %></li>                        
          <li class="heading"> E-Commerce </li>
          <li><%= link_to "My Listings", user_current_listings_path %></li>  
          <li><%= link_to "My Purchases", account_purchases_path %></li>  
          <li><%= link_to "My Sales", account_sales_path %></li>                        
    		</ul>
  		</div>
    </li>

<% end %>

			<li class="navbar_drop">
  			<%= link_to "Support"%>
  			<div class="navbar_drop_child">
    			<ul>
    		    <li><%= link_to "Leave Feedback", feedback_path %></li>
    		    <% if user_signed_in? %>
      		    <li class="heading"> Support Issues </li>
              <li><%= link_to "Submit a Ticket", new_ticket_path %></li>
       		    <li><%= link_to "View Ticket History", tickets_path %></li>                   
     		    <% end %>
            <li class="heading"> Documentation </li>
            <li><%= link_to "FAQ", faq_path %></li>  
            <li><%= link_to "Terms of Service", terms_path %></li>  
            <li><%= link_to "Privacy Policy", privacy_path %></li>              
    			</ul>
  			</div>
		  </li>

 			<li><%= link_to "About", about_path %></li>	 
  			<li><%= link_to "Home", root_path %></li>

  </ul>
</div>