<div id="right_bar3">	
  
  <div id="slider1" class="hidden">
  
  	<% cache("top_cards", :expires_in => 1.days) do %>  
  	  <div>	
  	    <h1>Top Cards</h1>
  		  <% top_cards = Mtg::Card.includes(:set, :statistics).order('mtg_card_statistics.number_sales DESC').limit(7) %>
  		  <div class="mt-s mr-s ml-s">
  		    <table class="data">
  		      <% top_cards.each do |card| %>
  		        <tr style="margin:2px;padding:0;">
  		          <td style="margin:1px;padding:1px;"> <%= display_set_symbol(card.set) %> </td>
  		          <td style="margin:1px;padding:1px;vertical-align:top;text-align:left;text-overflow:ellipsis;max-width:150px;white-space:nowrap;overflow:hidden;"> <%= link_to card.name, mtg_card_path(card) %> </td>
  		          <td style="margin:1px;padding:1px;vertical-align:top;text-align:left;"> <%= number_to_currency(card.statistics.price_low) %> </td>          
  		        </tr>        
  		      <% end %>
  		    </table>
  		  </div>
  		</div>
  	<% end %>	
	
  	<% cache("recent_expansions", :expires_in => 1.days) do %>  	
  	  <div>	
    	  <h1>Recent Expansions</h1>
    	  <% recent_added = Mtg::Set.order('release_date DESC').limit(7) %>
    	  <div class="mt-s mr-s ml-s">
          <table class="data">
            <% recent_added.each do |set| %>
              <tr style="margin:2px;padding:0;">
                <td style="margin:1px;padding:1px;"> <%= display_set_symbol(set) %> </td>
                <td style="margin:1px;padding:1px;vertical-align:top;text-align:left;text-overflow: ellipsis;max-width:150px;white-space: nowrap;overflow:hidden;"> <%= link_to set.name, mtg_cards_path(:set => set.code) %> </td>          
              </tr>
           	<% end %>
          </table>
      	</div>
    	</div>
  	<% end %>
  	
  	<% cache("top_sellers", :expires_in => 1.days) do %>  	
  	  <div>	
    	  <h1>Top Sellers</h1>
    	  <% top_sellers = User.active.includes(:statistics).order("user_statistics.number_sales DESC").limit(7) %>
    	  <div class="mt-s mr-s ml-s">
          <table class="data">
            <% top_sellers.each do |seller| %>
              <tr style="margin:2px;padding:0;">
                <td style="margin:1px;padding:1px;text-align:left;"> <%= link_to display_name(seller.username), user_path(seller) %> </td>
                <td style="margin:1px;padding:1px;text-align:right;"> <%= "(#{seller.statistics.number_sales} / #{seller.statistics.display_approval_percent})" %> </td>  
              </tr>
           	<% end %>
          </table>
      	</div>
    	</div>
  	<% end %>

  </div>  
  
</div>