
  <% unless user_signed_in? %> <%# user is not logged in %>

  	<h1> </h1>
  	<div class="ma">
  	  <br/>
  		<br/>
  		<center>You are not currently logged in<br/> Please login or <%= link_to "join us", new_user_registration_path %></center>
  	</div>
  	
  <% else %>

    <h1>
      <%= "#{current_user.username}" %>   
    </h1>
    <div class="ma-m">
      <div class="mt-s"> 
        <div class="left" style="margin-top:-3px;"><%= link_to image_tag("https://s3.amazonaws.com/mtgbazaar/images/mtg/misc/cart.png", :height => "20px", :width => "auto"), show_cart_path %></div>
        <div class="left ml-s"> <%= current_cart.item_count > 0 ? link_to("Cart (#{pluralize(current_cart.item_count,"item","items")}):", show_cart_path) : " Cart: 0 items" %></div>  
        <div class="right"><%= number_to_currency(current_cart.total_price) %></div>  
      </div>
      <br/>
      <div class="mt-m"> <div class="left">Active Purchases:</div>  <div class="right"><%= current_user.mtg_purchases.active.count %></div> </div>
      <br/>
      <div class=""> <div class="left">Purchases Awaiting Shipment:</div> <div class="right"><%= current_user.mtg_purchases.ready_to_ship.count %></div> </div>
      <br/>
      <div class="mt-m"> <div class="left">Active Sales:</div>  <div class="right"><%= current_user.mtg_sales.active.count %></div>  </div>
      <br/>
	    <div class=""> <div class="left">Orders to Ship:</div> <div class="right"><%= current_user.mtg_sales.ready_to_ship.count %></div>  </div>
      <br/>
      <div class=""><div class="left">Active Listings:</div><div class="right"><%= current_user.mtg_listings.active.count %></div></div>
      <br/>
      <div class=""><div class="left">New Messages:</div><div class="right"><%= current_user.communications_received.unread.count %></div></div>
      <br/>        
      <div class="">
        <div class="left">Seller Status:</div>
        <% if current_user.active %>
          <div id="active" class="right">
						<span id="a"><%= link_to "Active", seller_status_toggle_users_path, :remote => true, :method => :post%> </span>
						<span id="b"><%= link_to "Set to Inactive", seller_status_toggle_users_path, :remote => true, :method => :post, :confirm => "Going inactive will make all your listings temporarily invisible to buyers" %></span>
					</div>
        <% else %>
          <div id="inactive" class="right">
						<span id="c"><%= link_to "Inactive", seller_status_toggle_users_path, :remote => true, :method => :post %> </span>
						<span id="d"><%= link_to "Set to Active", seller_status_toggle_users_path, :remote => true, :method => :post, :confirm => "Going active will make all your <i>active</i> listings visible to buyers" %></span>
					</div>
        <% end %>
      </div>
    </div>
    
  <% end %>  