<div id="right_bar">
  <% unless user_signed_in? %><%# user is not logged in %>
    <h1>right bar</h1>
    <div class="ma">
      <%= image_tag "http://www.wizards.com/Magic/Assets/magic_logo.gif" %>
      <p>test stuff ... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... </p>
    </div>
  <% else %>
    <h1><div class="left t-s"><%= "#{current_user.username}" %></div> <div class="right t-s"><%= number_to_currency(current_user.account.balance) %></div></h1>
    <div class="ma">
      <div class="mt-s"> <div class="left">Shopping Cart (<%= link_to "#{pluralize(current_cart.item_count,"item","items")}", show_cart_path%>):</div>  <div class="right"><%= number_to_currency(current_cart.total_price) %></div>  </div>
      <br/>
      <div class="mt-s"> <div class="left">My Pending Transactions:</div> <div class="right"><%= current_user.pending_transactions.count %></div>  </div>
      <br/>
      <div class="mt-s"> <div class="left">My Active Transactions:</div>  <div class="right"><%= current_user.active_transactions.count %></div>  </div>
      <br/>

      <div class="mt"><div class="left">Seller Status:</div><div class="right">active</div></div>
      <br/>
      <div class="mt-s"><div class="left">My Active Listings:</div><div class="right"><%= current_user.mtg_listings.count %></div></div>
      <br/>      
      <%= link_to "Manage Account", show_account_info_path, :class => "left mt-s"%>

    </div>
  <% end %>  
</div>