
  <% unless user_signed_in? %><%# user is not logged in %>
    <%= link_to "", new_user_registration_path, :id => "right_bar", :style => "background-image: url(https://s3.amazonaws.com/mtgbazaar/images/joinus.jpg);" %>
    <%#= link_to image_tag("https://s3.amazonaws.com/mtgbazaar/images/joinus.jpg", :title => "Join MTGBazaar", :style => "height:210px;width:230px;"), new_user_registration_path%>
  <% else %>
    <div id="right_bar">
      <h1>
        <div style="padding-top:3px;">
          <table width="100%">
            <tr>
              <td align="left"><%= "#{current_user.username}" %></td>
              <td align="right"><%= number_to_currency(current_user.account.balance.dollars) %></td>
            </tr>
          </table>
        </div>
      </h1>
      <div class="ma">
        <div class="mt-s"> <div class="left">Shopping Cart (<%= link_to "#{pluralize(current_cart.item_count,"item","items")}", show_cart_path%>):</div>  <div class="right"><%= number_to_currency(current_cart.total_price) %></div>  </div>
        <br/>
        <div class="mt-s"> <div class="left">My Pending Transactions:</div> <div class="right"><%= current_user.pending_transactions.count %></div>  </div>
        <br/>
        <div class="mt-s"> <div class="left">My Active Transactions:</div>  <div class="right"><%= current_user.active_transactions.count %></div>  </div>
        <br/>
		<br/>
        <div class="mt"><div class="left">Seller Status:</div><div class="right">active</div></div>
        <br/>
        <div class="mt-s"><div class="left">My Active Listings:</div><div class="right"><%= current_user.mtg_listings.active.count %></div></div>
      </div>
    </div>
  <% end %>  
