
  <% unless user_signed_in? %> <%# user is not logged in %>

    <div id="right_bar">
      
  		<h1> </h1>
  		<div class="ma">
  		  <br/>
    		<br/>
    		<center>You are not currently logged in. Please login or <%= link_to "join us", new_user_registration_path %> by signing up above!</center>
  		</div>
	
  	</div>
  	
  <% else %>
  
    <div id="right_bar">
      <h1>
        <div class="left">
          <%= "#{current_user.username}" %>   
        </div>
		    <div class="right">
          <%= number_to_currency(current_user.account.balance.dollars) %>
        </div>
      </h1>
      <div class="ma-m">
        <div class="mt-s"> <div class="left"><%= current_cart.item_count > 0 ? link_to("Cart (#{pluralize(current_cart.item_count,"item","items")}):", show_cart_path, :class => "t-l") : "Cart: 0 items" %></div>  <div class="right"><%= number_to_currency(current_cart.total_price) %></div>  </div>
        <br/>
        <div class="mt-m"> <div class="left">Pending Purchases:</div> <div class="right"><%= current_user.pending_purchases.count %></div>  </div>
        <br/>
        <div class=""> <div class="left">Active Purchases:</div>  <div class="right"><%= current_user.active_purchases.count %></div>  </div>
        <br/>
		    <div class="mt-m"> <div class="left">Pending Sales:</div> <div class="right"><%= current_user.pending_sales.count %></div>  </div>
        <br/>
        <div class=""> <div class="left">Active Sales:</div>  <div class="right"><%= current_user.active_sales.count %></div>  </div>
        <br/>
        <div class="mt-m"><div class="left">Active Listings:</div><div class="right"><%= current_user.mtg_listings.active.count %></div></div>
        <br/>        
        <div class=""><div class="left">Seller Status:</div><div class="right">active</div></div>
      </div>
    </div>
    
  <% end %>  
