
  <% unless user_signed_in? %> <%# user is not logged in %>

  	<h1> </h1>
  	<div class="ma">
  	  <br/>
  		<br/>
  		<center>You are not currently logged in<br/> Please login or <%= link_to "join us", new_user_registration_path %></center>
  	</div>
  	
  <% else %>

    <h1>
      <%= "#{current_user.username}" %>   
    </h1>
    <div class="ma-m">
      <div class="mt-s"> 
        <div class="left" style="margin-top:-3px;"><%= link_to image_tag("https://s3.amazonaws.com/mtgbazaar/images/mtg/misc/cart.png", :height => "20px", :width => "auto"), show_cart_path %></div>
        <div class="left ml-s"> <%= current_cart.item_count > 0 ? link_to("Cart (#{pluralize(current_cart.item_count,"item","items")}):", show_cart_path) : " Cart: 0 items" %></div>  
        <div class="right"><%= number_to_currency(current_cart.total_price) %></div>  
      </div>
      <br/>
      <div class="mt-m"> <div class="left">Pending Purchases:</div> <div class="right"><%= current_user.pending_purchases.count %></div>  </div>
      <br/>
      <div class=""> <div class="left">Active Purchases:</div>  <div class="right"><%= current_user.active_purchases.count %></div>  </div>
      <br/>
	    <div class="mt-m"> <div class="left">Pending Sales:</div> <div class="right"><%= current_user.pending_sales.count %></div>  </div>
      <br/>
      <div class=""> <div class="left">Active Sales:</div>  <div class="right"><%= current_user.active_sales.count %></div>  </div>
      <br/>
      <div class="mt-m"><div class="left">Active Listings:</div><div class="right"><%= current_user.mtg_listings.active.count %></div></div>
      <br/>        
      <div class="">
        <div class="left">Seller Status:</div>
        <% if current_user.active %>
          <div class="right"><%= link_to "Active", seller_status_toggle_users_path, :remote => true, :method => :post %></div>
        <% else %>
          <div class="right"><%= link_to "Inactive", seller_status_toggle_users_path, :remote => true, :method => :post %></div>
        <% end %>
      </div>
    </div>
    
  <% end %>  