<div id="user_login" class="right mt-m ml" style="min-height:25px;width:50%;">
  
  <%unless user_signed_in? %>
    <%= form_for(:user, :url => user_session_path) do |f| %>

      <div class="left">
        <%= f.submit "Sign In" , :class => "right", :style => "visibility:hidden;" %>       
      </div>

      <div class="right">

        <%= f.label :email, "Email" %>
        <%= f.text_field :email, :style =>"width:120px;", :id => "login_email" %>
        &nbsp;
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, :style =>"width:120px;", :id => "login_password" %>
        &nbsp;

      </div>
      
    <% end %>
  <% else %>
    <div class="right">
      <%= "#{current_user.account.first_name} #{current_user.account.last_name}" %> [<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>]
    </div>
  <% end %>
</div>