<% title "A Better Way to Buy and Sell MTG" %>

<div id='news_bar'>
  <%= cache "newest_news_feeds", :expires_in => 1.hours do %>
    <% recent_news_feeds = NewsFeed.viewable.order(:start_at).limit(5) %>
    <div class='news_article_shadow'> </div>
    <div id='slider_news_bar'>
      <% recent_news_feeds.each do |news_feed| %>      
        <a class='news_article' href='<%= news_feed_path(news_feed) %>'>
          <div class='news_article_teaser_picture' style="background-image:url(<%= news_feed.teaser_picture_url %>)"></div>
          <div class='news_article_text'>
            <h2 class='news_article_title'><%= news_feed.title %></h2>
            <div class='news_article_description'><%= news_feed.description %></div>
          </div>
        </a>
      <% end %>      
    </div>
  <% end %>
</div>

<div id='articles_wrapper'>
  <%= cache "newest_articles", :expires_in => 1.hours do %>
    <%   
        articles = []
        TeamZ::Profile.scoped.each {|profile| articles << TeamZ::Article.where(:team_z_profile_id => profile.id).order('active_at DESC').limit(1).first}
        articles = articles.sort_by(&:active_at).reverse         
    %>
    <% articles.each do |article| %>
      <%= render :partial => 'team_z/articles/teaser', :locals => {:article => article} %>
    <% end %>   
  <% end %>
</div>

