<% title "A Better Way to Buy and Sell MTG" %>

<div id='news_bar'>
  <%= cache "content_center_slider", :expires_in => 1.hours do %>
    <% slides = Admin::SliderCenterSlide.viewable %>
    <div class='news_article_shadow'> </div>
    <div id='slider_news_bar'>
      <% slides.each do |slide| %>      
        <a class='news_article' href='<%= slide.link %>'>
          <div class='news_article_teaser_picture' style="background-image:url(<%= slide.image %>)"></div>
          <div class='news_article_text'>
            <h2 class='news_article_title'><%= slide.title %></h2>
            <div class='news_article_description'><%= slide.description %></div>
          </div>
        </a>
      <% end %>      
    </div>
  <% end %>
</div>

<div id='articles_wrapper'>
  <%= cache "content_newest_articles", :expires_in => 1.hours do %>
    <%   
        articles = []
        TeamZ::Profile.scoped.each {|profile| articles << TeamZ::Article.where(:team_z_profile_id => profile.id).order('active_at DESC').limit(1).first }
        articles.delete(nil)
        articles = articles.sort_by(&:active_at).reverse
    %>
    <% articles.each do |article| %>
      <%= render :partial => 'team_z/articles/teaser', :locals => {:article => article} %>
    <% end %>   
  <% end %>
</div>

