<%= simple_form_for @ticket, :url => tickets_path, :method => :post do |f| %>

  <div class="inputs">
    <br class="spacer"/>  

    <%= f.input :problem,                   :label => "Problem",
                                            :as => :select,
                                            :collection => MTGBazaar::Application::TICKET_PROBLEM_OPTIONS,
                                            :input_html => { :class => "chzn-select" },
                                            :required => true %>
                            
    <%= f.input :transaction_number,        :label => "Transaction Number",
                                            :as => :string,
                                            :hint => "only for issues regarding specific transactions",
                                            :required => false %>
                                            
    <%= f.input :offender_username,         :label => "Offending User",
                                            :as => :string,
                                            :hint => "only for issues regarding specific user",
                                            :required => false %>                                            

    <%= f.input :description,               :label => "Description",
                                            :as => :text,
                                            :required => true,
                                            :hint => "500 Characters Maximum",
                                            :input_html => {:maxlength => "500"} %>      
                                
  </div>

  <p style="margin:40px;"> Note: Please include as much detail as possible to help facilitate a speedy resolution.  Include URLs to specific content if applicable. </p>

  <div class="center_wrap">
    <%= f.button :submit, "Submit", :class => "center" %>
  </div>
  
<% end %>