<% title "Ticket Details" %>

<h1>Ticket Details</h1>
<div id="content">
 
 <h2>Overview</h2>
  
	<table class="data fixed">
  <tr class="header_row">
  	<th>Number</th>
  	<th>Status</th>      
 		<th>Problem</th>
		<th>Offender</th>
 		<th>Updates</th>
 		<th>Last Updated</th>
  </tr>
	
 
  <tr class="odd">
		<td><%= @ticket.ticket_number %></td>
		<td><%= @ticket.status.capitalize %></td>
		<td><%= @ticket.problem.capitalize %></td>
		<td><% if @ticket.offender_id.present? %> 
				<%= @ticket.offender.username %>
				<% else %>
				N/A
				<% end %>
			</td>
		<td><%= @ticket.updates.count %></td>
		<td><%= display_time(@ticket.updated_at) %></td>
	</tr>
	<tr class="header_row">
		<th colspan=6>Description</th>
	</tr>
	<tr>
		<td colspan=6 class="odd"><div class="ml-m" style="text-align:left"><%= @ticket.description %></div></td>
	</tr>
	</table>

  <h2><%= pluralize @ticket.updates.count, "Update", "Updates" %></h2>
  
	<table class="data fixed">
		
		<tr class="header_row">
			<th width="18%">Updated On</th>
			<th> Updated By </th>
			<th width="55%">Description</th>
		</tr>
		
		<% @ticket_updates.each do |ticket_update| %>
  		<tr class=<%= cycle("odd","even") %>>
  			<td><%= display_time(ticket_update.created_at) %></td>
  			<td><% if ticket_update.author.class.name == "User" %>
        		<%= ticket_update.author.username %>
      		<% else %>
        		<%= "Admin" %>
      		<% end %>
  			</td>
			  <td >
  				<div class="ma-s"><%= ticket_update.description %> </p>
  				</div>
  			</td>
  		</tr>		
    <% end %>
    
    <% if @ticket.status == "closed" %>
      <tr class="header_row"><td colspan=3><i>This ticket has been closed</i></td></tr>
    <% end %>
	
  </table>

  <% if @ticket.status != "closed" %>
    <h2>Post a New Update</h2>
    <%= render :partial => "form_update" %>
  <% end %>
  <br class="spacer"/>

  
</div>