<% title "Ticket Details" %>

<h1>Ticket Details</h1>
<div class="ma">
 
 <h2>Overview</h2>
  
	<table class="data">
  <tr class="header_row">
  	<th>Number</th>
  	<th>Status</th>      
 		<th>Problem</th>
		<th>Offender</th>
 		<th>Updates</th>
 		<th>Last Updated</th>
  </tr>
	
 
  <tr class="odd">
		<td><%= @ticket.ticket_number %></td>
		<td><%= @ticket.status.capitalize %></td>
		<td><%= @ticket.problem.capitalize %></td>
		<td><% if @ticket.offender_id.present? %> 
				<%= @ticket.offender.username %>
				<% else %>
				N/A
				<% end %>
			</td>
		<td><%= @ticket.updates.count %></td>
		<td><%= display_time(@ticket.updated_at) %></td>
	</tr>
	<tr class="header_row">
		<th colspan=6>Description</th>
	</tr>
	<tr>
		<td colspan=6 class="odd"><%= @ticket.description %></td>
	</tr>
	</table>

  <h2><%= pluralize @ticket.updates.count, "Update", "Updates" %></h2>
  
	<table class="data">
		
		
		<tr class="header_row">
			<th>Updated On</th>
			<th>Updated By</th>
			<th>Description</th>
		</tr>
					<% @ticket.updates.each do |ticket_update| %>
		<tr class=<%= cycle("odd","even") %>>
			<td><%= display_time(ticket_update.created_at) %></td>
			<td><% if ticket_update.author.class.name == "User" %>
      		<%= ticket_update.author.username %>
    		<% else %>
      		<%= "Admin" %>
    		<% end %>
			</td>
			<td width="50%">
				<div class="ma-s"><%= ticket_update.description %> </p>
    	<% if ticket_update.complete_ticket? %>    
      <p> This ticket was closed </p>
    		<% end %>
				</div>
			</td>
		</tr>
		
  <% end %>
	
</table>

  
  <h2>Post a New Update</h2>
  <%= render :partial => "form_update" %>
  
</div>