<h2>Tracking <%= @transaction.transaction_number %></h2>
<table class='data'>
  <tr class='header_row'>
    <th>Date</th>
    <th>Location</th>
    <th>Event</th>    
  </tr>

  <% @response[:tracking_events].each do |event| %>
    <tr>
      <td> <%= event[1][:timestamp] %> </td>
      <% if event[1][:city]  %>      
        <td> <%= "#{event[1][:city]}, #{event[1][:state]} #{event[1][:zip]}" %> </td>            
      <% else %>
        <td> <%= "#{event[1][:zip]}" %> </td>            
      <% end %>
      <td> <%= event[1][:event] %> </td>
    </tr>
  <% end %>

</table>