<h2>Tracking <%= @transaction.transaction_number %></h2>
<table class='data'>
  <tr class='header_row'>
    <th>Date</th>
    <th>Location</th>
    <th>Event</th>    
  </tr>

  <% @response[:tracking_events][:tracking_event].each do |event| %>
    <tr>
      <td> <%= event[:timestamp] %> </td>
      <% if event[:city]  %>      
        <td> <%= "#{event[:city]}, #{event[:state]} #{event[:zipcode]}" %> </td>            
      <% else %>
        <td> <%= "#{event[:zipcode]}" %> </td>            
      <% end %>
      <td> <%= event[:event] %> </td>
    </tr>
  <% end %>

</table>