<%= title "Shopping Cart"%>
<h1><%="Your Cart (#{pluralize(current_cart.orders.to_a.count,"order","orders")})"%></h1>
<div id="content">

  <% if current_cart.item_count <= 0 # Do this if the user's cart is not empty %>
    <br class="spacer"/>
    <br class="spacer"/>    
    <div class="center_wrap">
      <%= "Your cart is currently empty" %>
    </div>
    
  <% else # Do this if there are items in the cart %>
  
    <% if @orders.to_a.length > 1 %>
      <div class="group center_wrap">
        <ul class="tabs">
          <% @orders.each do |order| %>        
            <li <%= "class=selected" if order.id == @selected_order_id %>> <%= link_to "#{order.seller.username} (#{order.item_count})", url_for(params.merge(:order => order.id)) %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h2><%= "Your order for #{@selected_order.seller.username}" %></h2>
 		<table class="data fixed">
 		  <col width="23%">
 		  <col width="8%"> 		  
 		  <col width="7%"> 		  
 		  <col width="7%"> 		  
 		  <col width="10%"> 		  
 		  <col width="12%"> 
 		  <col>		  
 		 	<col width="15%">  
      <tr class="header_row">
        <th>Item</th>
        <th>Set</th>      
        <th>Cond</th>
        <th>Lang</th>
        <th>Options</th>
        <th>Price<br/>Each</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
  
      <%= render :partial => "cart_mtg_card_teaser", :collection => @reservations, :as => 'reservation' %>          
      <% if @reservations.num_pages > 1 %>
        <tr class=<%=cycle "odd", "even" %>>
          <td colspan=8>
            <div class="paginator right"><%= paginate @reservations, :window => 3, :remote => true ,:collection => @mtg_cards %></div>
          </td>
        </tr>
      <% end %>
      
      <tr class="header_row">
      	<td colspan=7 style="text-align:left;padding-left:15px;">Subtotal<div class="right mr-s"><%= @selected_order.item_count %> Items / <%= @selected_order.cards_quantity %> Cards</div></td>
        <td><%= number_to_currency(@selected_order.item_price_total) %> </td>      
      </tr>
      <% if @selected_order.item_price_total >= minimum_price_for_checkout %>
        <tr class="header_row">
        	<td colspan=7 style="text-align:left;padding-left:15px;">Shipping <i><span class="ml-s t-s">(includes delivery confirmation)</span></i></td>
          <td><%= number_to_currency(@selected_order.shipping_cost) %> </td>      
        </tr>          
        <tr class="header_row">
        	<th colspan=7 style="text-align:left;padding-left:15px;">Total Cost</th>
          <th><%= number_to_currency(@selected_order.total_cost) %> </th>
        </tr>
      <% end %>
    </table>



    <div class="center_wrap">

      <% if @selected_order.item_price_total < minimum_price_for_checkout %>
      
        <p><i>Minimum order value for checkout is <%= number_to_currency(minimum_price_for_checkout)%></i></p>
        
      <% elsif mobile_device? %>

        <%= button_to "Check Out This Order", order_checkout_path(@selected_order), :method => :post, :format => :mobile, :class => "center"%>

      <% else %>
      
        <p style="margin: 20px 50px;">In fairness to all buyers, carts will clear after a period of inactivity.<br/>Please make purchases in a timely manner to reserve your items. </p>
      
      
        <%= button_to "Check Out This Order", order_checkout_path(@selected_order), :method => :post, :remote => true, :class => "center"%>
        
        <form id="checkout_form" action="<%= PAYPAL_CONFIG[:embedded_pay_url] %>" target="PPDGFrame">  
      		<input id="checkout_type" type="hidden" name="expType" value="light">	 
      		<input id="checkout_paykey" type="hidden" name="paykey" value="">
      		<input type="submit" id="checkout_submit" style="display:none;"> 	
        </form>
        
        <script src="https://www.paypalobjects.com/js/external/dg.js"></script>

        <%# PAYPAL Lightbox embedded flow activate %>
        <script type="text/javascript" charset="utf-8">
        	var dgFlow = new PAYPAL.apps.DGFlow({ trigger: 'checkout_submit'});
          //dgFlow = top.dgFlow || top.opener.top.dgFlow; 
        	//dgFlow.closeFlow(); 
        	//top.close();
        </script>
        
      <% end %>
      

    </div>
    
    <br class="spacer"/>
    <br class="spacer"/>

    <%# UPDATE QUANTITY IN CART WHEN CHANGED %>
    <%# If ajax is not working properly, the value of the select box won't change to avoid confusion %>
    <script type="text/javascript" charset="utf-8">
      $('.quantity_in_cart').each(function() {
        $(this).data('lastSelected', $(this).find('option:selected'));
      });
      $('.quantity_in_cart').click(function() {
        $(this).data('lastSelected', $(this).find('option:selected'));
      });
      $(".quantity_in_cart").change(function() {
        $(this).closest("form").submit();
        $(this).data('lastSelected').attr('selected', true);    
        $(this).trigger("liszt:updated");
      });
    </script>

  <% end # of display items %> 
  
</div>

