<%= title "Shopping Cart"%>
<h1><%="Your Cart (#{pluralize(current_cart.item_count,"item","items")})"%></h1>
<div class="content">
  <%# Do this if the user's cart is not empty %>
  <% if current_cart.item_count <= 0 %>
    <br class="spacer"/>
    <br class="spacer"/>    
    <div class="center_wrap">
      <%= "Your cart is currently empty" %>
    </div>
    
  <% else %>

    <% @orders.each do |order| %>
      <h2><%= "#{order.item_count} Items from #{order.seller.username}" %></h2>
   		<table class="data">
        <tr class="header_row">
          <th>Name</th>
          <th>Set</th>      
          <th>Cond</th>
          <th>Lang</th>
          <th>Options</th>
          <th>Price<br/>Each</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
        <% order.reservations.each do |reservation| %>
          <%= render :partial => "cart_mtg_card_teaser", :locals => {:reservation => reservation} %>          
        <% end %>
        <tr class="header_row">
        	<td colspan=7 style="text-align:right;">Subtotal</td>
          <td><%= number_to_currency(order.item_price_total) %> </td>      
        </tr>
        <tr class="header_row">
        	<td colspan=7 style="text-align:right;">Shipping (with delivery confirmation)</td>
          <td><%= number_to_currency(order.shipping_cost) %> </td>      
        </tr>          
        <tr class="header_row">
        	<th colspan=7 style="text-align:right;">Total cost for this order</th>
          <th style="min-width:40px;"><%= number_to_currency(order.total_cost) %> </th>
        </tr>
      </table>
      <br class="spacer"/>
      <div class="center_wrap">
        <%= button_to "Check Out This Order", order_checkout_path(order), :method => :post, :remote => :true, :class => "center"%>
      </div>
      <% reset_cycle("rows") %>
      <br class="spacer"/>
      <br class="spacer"/>      
    <% end %>

  <% end %>  
  
  <%#= content_tag(:div, "", :class => "overlay_trigger hidden", :id => "checkout_overlay_trigger", :rel => "#checkout_overlay" ) %>
  <%#= content_tag(:div, content_tag(:div, "yeehaw", :id => "checkout_overlay_content"), :class => "overlay_window", :id => "checkout_overlay") %>
  <form id="checkout_form" action="<%= PAYPAL_CONFIG[:embedded_pay_url] %>" target="PPDGFrame">  
		<input id="checkout_type" type="hidden" name="expType" value="light">	 
		<input id="checkout_paykey" type="hidden" name="paykey" value="">
		<input type="submit" id="checkout_submit" style="display:none;"> 	
  </form>
  
</div>

<script src="https://www.paypalobjects.com/js/external/dg.js"> </script>

<script type="text/javascript" charset="utf-8">
  //PAYPAL MINI EMBEDDED FLOW
 /*
	var returnFromPayPal = function(){
    location.reload();
	}
	
  var dgFlowMini = new PAYPAL.apps.DGFlowMini({ trigger: 'checkout_submit', expType: 'mini', callbackFunction: 'returnFromPayPal'});
*/
	var dgFlow = new PAYPAL.apps.DGFlow({ trigger: 'checkout_submit'});

  if (window != top) {
//    top.location.replace(document.location);
    location.reload(true);
  }
  dgFlow = top.dgFlow || top.opener.top.dgFlow; 
	dgFlow.closeFlow(); 
	top.close();
	

</script>

<script type="text/javascript" charset="utf-8">
  // UPDATE QUANTITY IN CART WHEN CHANGED
  // If ajax is not working properly, the value of the select box won't change to avoid confusion
  
  $('.quantity_in_cart').each(function() {
    $(this).data('lastSelected', $(this).find('option:selected'));
  });
  $('.quantity_in_cart').click(function() {
    $(this).data('lastSelected', $(this).find('option:selected'));
  });
  $(".quantity_in_cart").change(function() {
    $(this).closest("form").submit();
    $(this).data('lastSelected').attr('selected', true);    
    $(this).trigger("liszt:updated");
  });
  
</script>

