<% title "Edit Listed Playset"%>
<h1>Edit Listed Playset</h1>

<div id="content">

  <%= simple_form_for @listing, :url => mtg_cards_listings_playset_path(@listing), :method => :put do |f| %>

    <div class="inputs">
      <br class="spacer"/>
      <%= f.input :card_id,       :as => :hidden,
                                  :input_html => { :value => ( params[:card_id] != "" ? params[:card_id] : @listing.card.id ), 
                                                   :name => :card_id } %>

      <%= f.input :name,          :label => "Card",
                                  :input_html => { :value => "#{@listing.card.name}" },
                                  :disabled => true,
                                  :required => 'false' %>

      <%= f.input :set,           :label => "Set",
                                  :as => :string,
                                  :input_html => { :value => "#{@listing.card.set.name}" },
                                  :disabled => true,                                
                                  :required => 'false' %>

      <%= f.input :condition,     :label => "Card Condition",
                                  :as => :select,
                                  :collection => condition_list,
                                  :default => "NM",
                                  :input_html => { :class => "chzn-select chzn-nosearch" },
                                  :required => 'true' %>

      <%= f.input :quantity,      :label => "Playsets for sale",
                                  :as => :string,
                                  :input_html => { :style => "width:50px;" },
                                  :hint => "Quantity of playsets, not quantity of cards",
                                  :required => true %>                              

      <%
        price_low   = (@listing.card.present? && @listing.card.statistics.present?) ? @listing.product_recommended_pricing[:price_low].dollars  : 0.50
        price_med   = (@listing.card.present? && @listing.card.statistics.present?) ? @listing.product_recommended_pricing[:price_med].dollars  : 1.50
        price_high  = (@listing.card.present? && @listing.card.statistics.present?) ? @listing.product_recommended_pricing[:price_high].dollars : 2.50                
      %>
      <%= f.input :price_options, :label => "Playset Asking Price",
                                  :as => :select,
                                  :collection => [[generate_pricing_label("Low", price_low),  (price_low)], 
                                                  [generate_pricing_label("Med", price_med),   (price_med)], 
                                                  [generate_pricing_label("High", price_high),  (price_high)],
                                                  ["Other", "other"]],
                                  :selected => @listing.new_record? ? "#{price_med}" : "other",
                                  :input_html => { :class => "chzn-select chzn-nosearch" },
                                  :required => true %>

      <div id="Custom_Pricing_Block" style=<%="display:none;" if @listing.new_record? %>> 
        <%= f.input :price,         :label => "Custom Pricing",
                                    :hint => "cost per playset",        
                                    :as => :string,
                                    :input_html => { :class => "currency_input", :maxlength => 9, :value => "$ #{@listing.price}" },   
                                    :required => true %>                                  
      </div>

      <%= f.input :language,      :label => "Language",
                                  :hint => "All cards should be the same language",
                                  :as => :select,
                                  :collection => language_list,
                                  :default => "EN",
                                  :input_html => { :class => "chzn-select chzn-nosearch" },
                                  :required => false %>

      <div id="scan_upload_wrapper" class=<%= "hidden" if @listing.scan? && !@listing.new_record?%>>
       	<%= f.input :scan,     		  :label => "Upload Scan", 
       	                            :hint => "Required only for Signed, Misprints, and Altered",
       	                            :as => :file %>
     	</div>

      <%= f.input :description,   :label => "Description",
                                  :placeholder => "Optional",
                                  :input_html => { :maxlength => 100 },
                                  :as => :string %>

      <%= f.label "Options",      :style => "height:100px;"%>

      <%= f.input :foil,          :label => "All cards are foil",
                                  :default => false %>

      <%= f.input :signed,        :label => "All cards are signed",
                                  :default => false %> 

      <%= f.input :misprint,      :label => "All cards are misprinted",
                                  :default => false %>

      <%= f.input :altart,        :label => "All cards contain alternate art",
                                  :default => false %>

      <%= f.input :playset,       :as => :hidden,
                                  :input_html => { :value => true } %>                                  

    </div>
    <br class="spacer"/>
    <br class="spacer"/>  
    <div class="center_wrap">
      <%= f.button :submit, "Update Playset Listing", :class => "center" %>
    </div>
    <br class="spacer"/>

  <% end # form %>

</div>