

<h1>Sign in</h1>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :honeypot => true }) do |f| %>

  <% flash[:error] = "There were one or more errors while trying to process your request" if !devise_error_messages!.empty? %>
  <%# flash[:error] = devise_error_messages! if !devise_error_messages!.empty? %>
  
  <br class = "spacer"/>

  <br class = "spacer"/>
  
  <%= f.input :email , :required => 'true' %>
  <%= f.input :password, :required => 'true'  %>
  
  
  <% if devise_mapping.rememberable? -%>
    <div><%= f.label :remember_me %> <%= f.check_box :remember_me %> </div>
  <% end -%>

  <br class = "spacer"/>
  <%= f.submit 'Sign In' , :class => 'center'%>

<% end %>

<%= render :partial => "devise/shared/links" %>
