<%# displays options for a given transaction %>
<%# LOCALS: transaction = current transaction %>

<div style="padding:10px 10px 20px 0;">
  <%= link_to "View items", seller_sale_confirmation_path(transaction), :class => "button ma-s" %>
  <%= link_to "Confirm this sale", seller_sale_confirmation_path(transaction), :class => "button ma-s" if current_user == transaction.seller && transaction.status == "pending" %>
  <%= link_to "Reject this sale", seller_sale_rejection_path(transaction), :class => "button ma-s" if current_user == transaction.seller && transaction.status == "pending" %>
  <%= link_to "Confirm shipment", seller_shipment_confirmation_path(transaction), :class => "button ma-s" if current_user == transaction.seller && transaction.status == "confirmed" %>
  <%= link_to "Finalize purchase", buyer_delivery_confirmation_path(transaction), :class => "button ma-s"  if current_user == transaction.buyer && transaction.status == "shipped" %>  
  <%= link_to "Report a Problem", new_mtg_transaction_issue_path(transaction), :class => "button ma-s" if transaction.status != "delivered"%>          
</div>

