<%# displays items in a given transaction %>
<%# LOCALS: transaction = current transaction %>
<div>
   <div class="transaction_teaser <%= cycle("even", "odd") %>">
      <div class="transaction_teaser_date">
        <%= transaction.created_at.strftime("%d-%b %Y") %>
      </div>
      <div class="transaction_teaser_transaction_number">      
        <%= transaction.transaction_number %>
      </div>
      <div class="transaction_teaser_username">
        <% if current_user.id == transaction.buyer_id %>
           <%= transaction.seller.username %>
        <% else %>
           <%= transaction.buyer.username %>
        <% end %>
      </div>
      <div class="transaction_teaser_status">
        <%= transaction.status %>
      </div>      
      <div class="transaction_teaser_item_count">
        <%= transaction.items.to_a.sum(&:quantity_available) %>
      </div>
      <div class="transaction_teaser_total_value">
        <%= number_to_currency(transaction.total_value) %>
      </div>      
      <div class="teaser_row_actions">
        <div class="teaser_row_actions_icon">
          Options
        </div>
        <div class="teaser_row_actions_list">
          <ul>
            <li> <%= link_to "Details", show_mtg_transaction_path(transaction) %> </li>
            <% if @current_user.id == transaction.seller_id && transaction.status == "pending" %>
              <li> <%= link_to "Confirm Sale", seller_sale_confirmation_path(transaction) %> </li>
            <% end %>
            <% if current_user.id == transaction.seller_id && transaction.status == "pending" %>
              <li> <%= link_to "Reject Sale", seller_sale_rejection_path(transaction) %> </li>
            <% end %>
            <% if current_user.id == transaction.seller_id && transaction.status == "confirmed" %>
              <li> <%= link_to "Confirm Shipment", seller_shipment_confirmation_path(transaction)  %> </li>
            <% end %>
            <% if current_user.id == transaction.buyer_id && transaction.status == "shipped"%>
              <li> <%= link_to "Complete Purchase", buyer_delivery_confirmation_path(transaction)  %> </li>
            <% end %>        
            <% if transaction.status != "delivered" %>
              <li> <%= link_to "Cancel Sale", mtg_transaction_buyer_sale_cancellation_path(transaction) %> </li>
            <% end %>  
          </ul>
        </div>
      </div>
    </div>
    
</div>
