<tr class=<%= cycle("odd","even") %>> 
	<td><%= transaction.created_at.strftime("%d-%b %Y") %></td>
  <td><%= transaction.transaction_number %></td>
 	<td>
 	  <% if current_user.id == transaction.buyer_id %>
       <%= link_to transaction.seller.username, user_path(transaction.seller) %>
    <% else %>
       <%= link_to transaction.buyer.username, user_path(transaction.buyer) %>
    <% end %>
  </td>
	<td><%= transaction.status %></td>      
  <td><%= transaction.items.to_a.sum(&:quantity_available) %></td>
  <td><%= number_to_currency(transaction.total_value) %></td>      
  <td><%= link_to "Details", show_mtg_transaction_path(transaction) %></td>  
</tr>
        
      

