<% title "Shipment Confirmation"%>

<h1>Shipment Confirmation</h1>

<%= simple_form_for @transaction, :url => create_seller_shipment_confirmation_path, :method => :put do |f| %>
  <br class="spacer" />
  <br class="spacer" />

  
  <table class="data">
	  <tr class="header_row">
  	  <th>Transaction ID</th>
  	  <th>Buyer</th>      	    
  	  <th>Value</th>
  	  <th>Status</th>      
  	</tr>
  	<tr class="even">
  	  <td><%= link_to @transaction.transaction_number, show_mtg_transaction_path(@transaction) %></td>
  	  <td><%= @transaction.buyer.username %> </td>    	  
  	  <td><%= "#{ number_to_currency(@transaction.total_value) }" %> </td>  
  	  <td> <%= "#{@transaction.status.capitalize}" %> </td>
  	</tr>
	</table>
  <br class="spacer"/>
  <br class="spacer"/>
  
  <br class="spacer"/>
  <br class="spacer"/>
  <div class="center_wrap">
    <%= f.button :submit, "Confirm Shipment", :class => "center" %>
  </div>
<% end %>
