<% title "#{@transaction.transaction_number}" %>

<h1>Modify Sale <%= @transaction.transaction_number %></h1>

<div class="content">
  <h2>Sale Items</h2>
  <%= form_tag create_seller_sale_modification_path(@transaction), :method => :put do %>
    <table class="data">
      <tr class="header_row">
        <th>Name</th>
        <th>Set</th>
        <th>Price</th>
        <th>Condition</th>
        <th>Language</th>
        <th>Options</th>
        <th>Quantity<br/>Requested</th>
        <th>Quantity<br/>Available</th>        
      </tr>
      <% @transaction.items.each do |item| %>
        <tr class=<%=cycle("even","odd")%>>
          <td><%= display_name(item.card.name) %></td>
          <td><%= display_set_symbol(item.card.set) %></td>
          <td><%= number_to_currency(item.price) %></td>   
          <td><%= display_condition(item.condition) %></td>    
          <td><%= display_flag_symbol(item.language) %></td>
          <td>
        		<div style="max-width:52px;">
        		  <% if item.foil %>
                <%= listing_option_foil_icon %>
              <% end %>
              <% if item.misprint %>
                <%= listing_option_misprint_icon %>
              <% end %>
              <% if item.signed %>
                <%= listing_option_signed_icon %>
              <% end %>
              <% if item.altart %>
                <%= listing_option_altart_icon %>
              <% end %>    
              <% if item.description != "" %>
                <%= listing_option_description_icon(item) %>
              <% end %>
            </div>
          </td>
          <td><%= item.quantity_requested %></td>
          <td><%= text_field_tag "quantity_available_#{item.id}", 1, :id => nil, :value => params["quantity_available_#{item.id}"] || item.quantity_available, :style => "width:30px;text-align:center;"%></td>
        </tr>
      <% end %>
    </table>
    
    
    <h2>Confirmation</h2>
    <div class="simple_form">
      <div class="inputs">
        <div class="input">
           <%= label_tag "Response Message"%>
           <%= text_area_tag :response_message, "", :rows => 5, :cols => 45, :maxlength => 255 %>
        </div>                                          
      </div>
    </div>
    
    <br class="spacer"/>
    <%= submit_tag "Propose Modifications", :class => "center" %>
    
  <% end %>

</div>