<% title "Transaction Info" %>

<h1>Transaction Info</h1>

<div class="content">

  <div class="group center_wrap">
    <ul class="tabs center">
        <li <%= "class=selected" if not params[:section].present? %>> <%= link_to "Details", url_for(params.merge(:section => nil, :message => nil)) %> </li>
        <li <%= "class=selected" if params[:section] == "items" %>> <%= link_to "Items", url_for(params.merge(:section => "items", :message => nil)) %> </li>        
        <li <%= "class=selected" if params[:section] == "communication" %>> <%= link_to "Communication", url_for(params.merge(:section => "communication", :message => nil)) %> </li>                
    </ul>
  </div>

  <br class="spacer"/>  

  <% if params[:section] == "items" %>

  	<table class="data">
      <%= render :partial => "mtg/transaction_items/teaser_header" %>
      <%= render :partial => "mtg/transaction_items/teaser", :collection => @items, :as => "item" %>  
  	</table>

    <div class="center_wrap paginator">
      <%= paginate @items, :collection => @items %>
    </div>
    <br/>
  
  <% elsif params[:section] == "communication" # end of section listings %> 

    <table class="data fixed">
  	  <tr class="header_row">
    	  <th width="15%">Sent On</th>
    	  <th width="25%">Sender</th>      
    	  <th width="60%">Message</th>
    	</tr>

      <% @communications.each do |communication| %>  
        <tr class="<%= communication.sender.id == @transaction.buyer.id ? "odd" : "even" %>">
          <td><%= display_time(communication.created_at) %></td>
          <td><%= communication.sender.username %></td>          
          <td><p class="ma-s"><%= communication.message %></p></td>
        </tr>
      <% end %>
      
      <% if @communications.length == 0 %>
        <tr><td colspan=3 class="odd"><i>None</i></td></tr>
      <% end %>
    
  	</table>
    <br class="spacer"/>
    
    <div class="center_wrap paginator">
      <%= paginate @communications, :collection => @items %>
    </div>
    
    <% if @transaction.valid_for_communication? %>
      <%= render :partial => "communications/transaction_form", :locals => {:transaction => @transaction} %>
    <% else %>
      <br class="spacer"/>
      <p class="center_wrap">Communication for this transaction has been closed...</p>
    <% end %>
  
  <% else # end of communication section %>
  
    <table class="data">
      <tr class="header_row">
        <th colspan=3>Details</th>
      </td>
  	  <tr class="header_row">
    	  <th style="width:50%;">Transaction Number</th>      	    
    	  <th style="width:25%;">Item Value</th>
    	  <th style="width:25%;">Creation Date</th>      
    	</tr>
    	<tr class="odd">
    	  <td><%= "#{@transaction.transaction_number}" %></td>
    	  <td><%= number_to_currency(@transaction.value) %> </td>  
    	  <td><%= display_time(@transaction.created_at) %> </td>
    	</tr> 

    	<tr class="header_row">
    	  <th>Buyer</th>
    	  <th colspan=2>Seller</th>      
    	</tr>
    	<tr class="odd">
    	  <td>  <%= link_to @transaction.buyer.username, user_path(@transaction.buyer) %> </td>
    	  <td colspan=2>  <%= link_to @transaction.seller.username, user_path(@transaction.seller) %> </td>
    	</tr>
    </table>
  
    <br class="spacer"/>
  
    <table class="data fixed">
      <% if current_user.id == @transaction.seller_id %>
        <tr class="header_row">
          <th colspan=3>Shipping</th>
      	</tr>    
      	<tr class="odd">
      	  <td colspan=3>
        	  <div id="shipping_label_button">
      	      <% if not @transaction.shipping_label.present? %>
                <%= link_to "Create Shipping Label", create_shipping_label_path(@transaction), :remote => true, :class => "button ma-s", :style => "display:inline-block;", :confirm => "To avoid issues with USPS, Package should be shipped within 24-hours after creating label. Please mark package as shipped once sent." %>  	      
      	      <% else @transaction.seller_shipped_at.nil? %>
                <%= link_to "View Shipping Label", create_shipping_label_path(@transaction), :target => "_blank", :class => "button ma-s", :style => "display:inline-block;" %>              
      	      <% end %>
    	      </div>  
  	      </td>
      	</tr>
      <% end %>
      <tr class="header_row">
        <th>Tracking Number</th>
    	  <th>Shipping Cost</th>
    	  <th>Shipped Date</th>      
    	</tr>
    	<tr class="odd">
    	  <td style="width:50%;">
    	    <% if not @transaction.shipping_label.present? %>
  	          No shipping information yet
  	      <% else %>
    	        <%= link_to @transaction.shipping_label.params[:tracking_number], track_shipping_path(@transaction), :remote => true %>
              <%= content_tag(:div, "", :class => "overlay_trigger hidden", :id => "tracking_overlay_trigger", :rel => "#tracking_overlay" ) %>
              <%= content_tag(:div, "", :class => "overlay_window", :id => "tracking_overlay") %>
  	      <% end %>
    	  </td>
    	  <td style="width:25%;"><%= number_to_currency(@transaction.shipping_cost) %></td>
    	  <td style="width:25%;"> 
    	    <% if @transaction.seller_shipped_at.present? %> 
            <%= display_time(@transaction.seller_shipped_at) %>
    	    <% elsif @transaction.seller_id == current_user.id && @transaction.shipping_label.present? %>
    	      <%= link_to "Mark as Shipped", create_seller_shipment_confirmation_path(@transaction), :method => :put, :class => "button ma-s", :confirm => "Buyer will be notified of your shipment" %>
    	    <% else %>
            not yet shipped
    	    <% end %>
    	  </td>
    	</tr>  	
  	</table>
	
  	<br class="spacer"/>
	
  	<table class="data fixed">
  	  <tr class="header_row">
  	    <th colspan=2>Feedback</th>
  	  </tr>
      <tr class="header_row">
        <th style="width:50%;">Rating</th>
     	  <th>Left On</th>
     	</tr>
     	<tr class="odd">
     	  <td>
     	  <% if @transaction.feedback.present? %>
       	  <%= @transaction.feedback.display_feedback if @transaction.feedback.present? %>
       	<% elsif current_user.id == @transaction.buyer.id %>
       	  <%= link_to "Leave Feedback", create_feedback_path(@transaction), :class => "button ma-s", :style => "display:inline-block;"%>
       	<% end %>
       	</td>
     	  <td><%= display_time(@transaction.feedback.created_at) if @transaction.feedback.present? %>
     	</tr>
     	<tr class="header_row">
     	  <th colspan=2>Buyer's Comment</th>
     	</tr>
     	<tr><td colspan=2 class="odd"><%= @transaction.feedback.comment if @transaction.feedback.present? %></td></tr>
     	<tr class="header_row">
     	  <th colspan=2>Seller's Response</th>
     	</tr>
     	<tr>
     	  <td colspan=2 class="odd">
     	    <% if @transaction.feedback.present? %>
         	  <% if @transaction.feedback.seller_response_comment.present? %>
           	  <%= @transaction.feedback.seller_response_comment if @transaction.feedback.present? %>
         	  <% elsif current_user.id == @transaction.seller.id %>     	  
              <%= link_to "Respond to Comment", new_feedback_response_path(@transaction), :class => "button ma-s", :style => "display:inline-block;" %>
            <% else %>
              <i>none</i>
         	  <% end %>
         	<% end %>
     	  </td>
     	</tr>
  	</table>
 
 <% end # end of sections if statement %>

</div>