<% title "Transaction Information" %>

<h1>Transaction Information</h1>

<div id="content">

  <div class="group center_wrap">
    <ul class="tabs center">
        <li <%= "class=selected" if not params[:section].present? %>> <%= link_to "Details", url_for(params.merge(:section => nil, :message => nil)) %> </li>
        <li <%= "class=selected" if params[:section] == "items" %>> <%= link_to "Sale Items", url_for(params.merge(:section => "items", :message => nil)) %> </li>        
        <li <%= "class=selected" if params[:section] == "communication" %>> <%= link_to "Communication", url_for(params.merge(:section => "communication", :message => nil)) %> </li>                
    </ul>
  </div>

  <br class="spacer"/>  

  <% if params[:section] == "items" %>

  	<table class="data">
      <%= render :partial => "mtg/transaction_items/teaser_header" %>
      <%= render :partial => "mtg/transaction_items/teaser", :collection => @items, :as => "item" %>  
  	</table>

    <div class="center_wrap paginator">
      <%= paginate @items, :collection => @items %>
    </div>
    <br/>
  
  <% elsif params[:section] == "communication" # end of section listings %> 

    <table class="data fixed">
  	  <tr class="header_row">
    	  <th width="15%">Sent On</th>
    	  <th width="25%">Sender</th>      
    	  <th width="60%">Message</th>
    	</tr>

      <% @communications.each do |communication| %>  
        <tr class="<%= communication.sender.id == @transaction.buyer.id ? "odd" : "even" %>">
          <td><%= display_time(communication.created_at) %></td>
          <td><%= communication.sender.username %></td>          
          <td><p class="ma-s"><%= communication.message %></p></td>
        </tr>
      <% end %>
      
      <% if @communications.length == 0 %>
        <tr><td colspan=3 class="odd"><i>None</i></td></tr>
      <% end %>
    
  	</table>
    <br class="spacer"/>
    
    <div class="center_wrap paginator">
      <%= paginate @communications, :collection => @items %>
    </div>
    
    <% if @transaction.valid_for_communication? %>
      <%= render :partial => "communications/transaction_form", :locals => {:transaction => @transaction} %>
    <% else %>
      <br class="spacer"/>
      <p class="center_wrap">Communication for this transaction has been closed...</p>
    <% end %>
  
  <% else # end of communication section %>
  
    <table class="data">
    	<tr class="header_row">
    	  <th>Buyer</th>
    	  <th colspan=2>Seller</th>      
    	</tr>
    	<tr class="odd">
    	  <td>  <%= link_to @transaction.buyer.username, user_path(@transaction.buyer.username) %> </td>
    	  <td colspan=2>  <%= link_to @transaction.seller.username, user_path(@transaction.seller.username) %> </td>
    	</tr>      
  	  <tr class="header_row">
    	  <th style="width:50%;">Transaction ID</th>      	    
    	  <th style="width:25%;">Item Value</th>
    	  <th style="width:25%;">Creation Date</th>      
    	</tr>
    	<tr class="odd">
    	  <td><%= "#{@transaction.transaction_number}" %></td>
    	  <td><%= number_to_currency(@transaction.value) %> </td>  
    	  <td><%= display_time(@transaction.created_at) %> </td>
    	</tr> 
      <tr class="header_row">
        <th>Tracking Number</th>
    	  <th>Shipping Cost</th>
    	  <th>Shipped Date</th>      
    	</tr>
    	<tr class="odd">
    	  <td style="width:50%;">
    	    <% if not @transaction.shipping_label.present? %>
  	          No shipping information yet
  	      <% else %>
    	        <%= link_to @transaction.shipping_label.params[:tracking_number], track_shipping_path(@transaction), :remote => true %>
              <%= content_tag(:div, "", :class => "overlay_trigger hidden", :id => "tracking_overlay_trigger", :rel => "#tracking_overlay" ) %>
              <%= content_tag(:div, "", :class => "overlay_window", :id => "tracking_overlay") %>
  	      <% end %>
    	  </td>
    	  <td style="width:25%;"><%= number_to_currency(@transaction.shipping_cost) %></td>
    	  <td style="width:25%;"> 
    	    <% if @transaction.seller_shipped_at.present? %> 
            <%= display_time(@transaction.seller_shipped_at) %>
    	    <% else %>
            not yet shipped
    	    <% end %>
    	  </td>
    	</tr>	
    </table>

    <%# STEP 1 %>
    <% if current_user.id == @transaction.seller_id %>
      <br class="spacer"/>
      <table class="data fixed">
        <tr class="header_row">
          <th colspan=3>Step 1: Confirmation</th>
      	</tr>    
      	<tr class="odd">
      	  <td colspan=2><p>Please print out an invoice for this transaction and confirm your inventory matches the order.  If there is an issue, please contact the buyer promptly to work out a solution.</p></td>      	  
        	<td> 
  	   	    <% if not @transaction.seller_shipped_at.present? %>
            	<%= link_to 'View & Print Invoice', show_invoice_path(@transaction), :class => "button", :target => "_blank" %>
            <% else %>
              <i>Items Confirmed</i>
            <% end %>
          </td>
      	</tr>
    	</table>  
  	<% end %>

    <%# STEP 2 %>
    <% if current_user.id == @transaction.seller_id %>
      <br class="spacer"/>
      <table class="data fixed">
        <tr class="header_row">
          <th colspan=3>Step 2: Shipping</th>
      	</tr>   
        <tr class="odd">
          <td colspan=2><p>Once you have organized your item(s) and prepared them for shipment, please print a shipping label (pre-paid by buyer) and ship your package.</p></td>
          <td>
        	  <div id="shipping_label_button" class="center">
        	    <% if not @transaction.seller_shipped_at.present? %>
        	      <% if not @transaction.shipping_label.present? %>
                  <%= link_to "Create Shipping Label", create_shipping_label_path(@transaction), :remote => true, :class => "button ma-s", :style => "display:inline-block;", :confirm => "To avoid issues with USPS, Package should be shipped within 24-hours after creating label. Please mark package as shipped once sent." %>  	      
        	      <% else @transaction.seller_shipped_at.nil? %>
                  <%= link_to "View Shipping Label", create_shipping_label_path(@transaction), :target => "_blank", :class => "button ma-s", :style => "display:inline-block;" %>              
        	      <% end %>
      	      <% else %>
        	      <i>Order Shipped</i>
        	      <br class="spacer"/>
        	      <%= link_to "view shipping label", create_shipping_label_path(@transaction), :target => "_blank", :class => "t-s", :style => "display:inline-block;" if @transaction.seller_shipped_at > 2.days.ago %>
      	      <% end %>
    	      </div>
          </td>
      	</tr>      	 
        <tr class="odd">
          <td colspan=2><p>After shipping, please notify the buyer that their package has shipped. This notifies them to expect the package and allows them to track the shipment.</p></td>
      	  <td>
      	    <% if @transaction.seller_shipped_at.present? %> 
              <i>Shipping Notification Sent</i>
      	    <% else %>
              <%= link_to "Mark as Shipped", create_seller_shipment_confirmation_path(@transaction), :method => :put, :class => "button ma-s", :confirm => "Buyer will be notified of your shipment" %>
      	    <% end %>      	    
      	  </td>
        </tr>
    	</table>
  	<% end %>

    <%# STEP 3 %>
    <br class="spacer"/>  		
	  <% if current_user.id == @transaction.seller_id %>    
  
    	<table class="data fixed">
        <tr class="header_row">
    	    <th colspan=3>Step 3: Feedback</th>
    	  </tr>
    	  <% if @transaction.feedback.present? %>
          <tr class="header_row">
         	  <th colspan=2>Buyer's Comment</th>           
            <th>Buyer Rated You</th>
         	</tr>
         	<tr class="odd">
            <td colspan=2 rowspan=3 class="odd"><p><%= @transaction.feedback.comment rescue "None" %></p></td>
         	  <td><%= @transaction.feedback.display_rating %></td>
         	</tr>
         	<tr>
            <th class="header_row">Feedback Left On</td>
         	</tr>
         	<tr>
         	  <td class="odd"><%= display_time(@transaction.feedback.created_at) %>
         	</tr>
         	<tr class="header_row">
         	  <th colspan=3>Your Response</th>
         	</tr>
         	<tr class="odd">
         	  <% if @transaction.feedback.seller_response_comment.present? %>
	           	  <td colspan=3>
             	  <p><%= @transaction.feedback.seller_response_comment %></p>
             	</td>
            <% else %>
              <td colspan=2><p>The buyer has left you feedback.  If you disagree with this feedback or want to comment on the buyer, you can leave a message here for all users on the site to see.</p></td>
              <td><%= link_to "Respond to Feedback", new_feedback_response_path(@transaction), :class => "button ma-s", :style => "display:inline-block;" %></td>
         	  <% end %>
         	</tr>    	
        <% else %>
          <td class="odd" colspan=3><p>Buyer has not left feedback for this transaction yet.</p></td>
        <% end %>  
    	</table>

    <% else %>
    
    	<table class="data fixed">
        <tr class="header_row">
          <th colspan=3>Feedback</th>
        </tr>
    	  <% if @transaction.feedback.present? %>
          <tr class="header_row">
         	  <th colspan=2>Your Comment</th>           
            <th>You Rated Seller</th>
         	</tr>
         	<tr class="odd">
            <td colspan=2 rowspan=3 class="odd"><p><%= @transaction.feedback.comment  || "<i>None</i>".html_safe rescue "" %></p></td>
         	  <td><%= @transaction.feedback.display_rating %></td>
         	</tr>
         	<tr>
            <th class="header_row">Feedback Left On</td>
         	</tr>
         	<tr>
         	  <td class="odd"><%= display_time(@transaction.feedback.created_at) %>
         	</tr>
         	<tr class="header_row">
         	  <th colspan=3>Seller's Response</th>
         	</tr>
         	<tr class="odd">
         	  <td colspan=3><p><%= @transaction.feedback.seller_response_comment || "<i>None</i>".html_safe rescue "" %></p></td>
         	</tr>    	
        <% else %>
          <tr class="odd">
            <td colspan=2><p>Once this transaction is complete, you may leave feedback for the seller so that others on the site know whether to do business with this person in the future.</p></td>
            <td><%= link_to "Leave Feedback", create_feedback_path(@transaction), :class => "button ma-s", :style => "display:inline-block;"%></td>
          </tr>
        <% end %>
    	</table>
    	
    <% end %>

 
 <% end # end of sections if statement %>

</div>