<% title "#{@transaction.transaction_number}" %>

<h1>Transaction <%= @transaction.transaction_number %></h1>

<div class="ma">
  
  <h2>Details</h2>
  <div><%= "Buyer: #{@transaction.buyer.username}" %></div>  
  <div class="mb-s"><%= "Seller: #{@transaction.seller.username}" %></div>    
  <div class="mb-s"><%= "Status: #{@transaction.status.capitalize}" %></div>
  <div><%= "Confirmed on: #{@transaction.seller_confirmed_at.strftime("%d-%b-%Y")}" if @transaction.seller_confirmed_at.present? %> </div>
  <div><%= "Rejected on: #{@transaction.seller_rejected_at.strftime("%d-%b-%Y")}" if @transaction.seller_rejected_at.present? %> </div>
  <div><%= "Shipped on: #{@transaction.seller_shipped_at.strftime("%d-%b-%Y")}" if @transaction.seller_shipped_at.present? %>  </div>
  <div class="mb-s"><%= "Delivered on: #{@transaction.seller_delivered_at.strftime("%d-%b-%Y")}" if @transaction.seller_delivered_at.present? %> </div>
  <div><%= "Total Value: #{ number_to_currency(@transaction.total_value) }" %></div>

  <h2> <%= pluralize @transaction.item_count, "Item", "Items" %> </h2>
  <div class="mb">
    <%= render :partial => "mtg/transaction_items/teaser", :collection => @items, :as => "item" %>  
  </div>
  <div class="left">
    <%= paginate @items, :collection => @items %>
  </div>
  <br/>
</div>