<%= simple_form_for @listing, :html => {:multipart => true} do |f| %>
  <div class="inputs">
    <br class="spacer"/>
    <br class="spacer"/>  
    <%= f.input :card_id,       :as => :hidden,
                                :input_html => { :value => ( params[:card_id] != "" ? params[:card_id] : @listing.card.id ), 
                                                 :name => :card_id } %>
                          
    <%= f.input :name,          :label => "Card",
                                :input_html => { :value => "#{@listing.card.name}" },
                                :disabled => true,
                                :required => 'false' %>
                              
    <%= f.input :set,           :label => "Set",
                                :as => :string,
                                :input_html => { :value => "#{@listing.card.set.name}" },
                                :disabled => true,                                
                                :required => 'false' %>

    <%= f.input :condition,     :label => "Condition",
                                :as => :select,
                                :collection => condition_list,
                                :default => "NM",
                                :input_html => { :class => "chzn-select chzn-nosearch" },
                                :required => 'true' %>
                              
    <%= f.input :quantity,      :label => "Quantity for sale",
                                :as => :string,
                                :input_html => { :style => "width:50px;" },
                                :required => 'true' %>                                
              
    <%#= f.input :price_options, :label => "Asking Price",
                                :as => :radio,
                                :collection => [["Low ($#{@listing.card.statistics.price_low})".html_safe,      @listing.card.statistics.price_low], 
                                                ["Average ($#{@listing.card.statistics.price_med})".html_safe,  @listing.card.statistics.price_med], 
                                                ["High ($#{@listing.card.statistics.price_high})".html_safe,    @listing.card.statistics.price_high],
                                                ["Other $ #{text_field_tag "mtg_listing[price]", "",:style => "width:50px;"}".html_safe, "other"]],
                                :checked => @listing.card.listing_price_med,                                                                                                
                                :required => 'true' %>
                              
    <%#= f.input :price,         :label => "Asking Price",
                                :as => :currency,
                                :required => 'true' %>

    <%= f.input :price_options, :label => "Asking Price",
                                :as => :select,
                                :collection => [["Low ($#{@listing.card.statistics.price_low})",      @listing.card.statistics.price_low], 
                                                ["Average ($#{@listing.card.statistics.price_med})",  @listing.card.statistics.price_med], 
                                                ["High ($#{@listing.card.statistics.price_high})",    @listing.card.statistics.price_high],
                                                ["Other", "other"]],
                                :default => "#{@listing.card.statistics.price_med}",
                                :input_html => { :class => "chzn-select chzn-nosearch" },                                  
                                :required => 'true' %>

    <div id="Custom_Pricing_Block" style="display:none;"> 
      <%= f.input :price,         :label => "Custom Pricing",
                                  :as => :string,
                                  :input_html => { :class => "currency_input", :maxlength => 9, :value => "$ #{@listing.card.statistics.price_med}" },   
                                  :required => true %>                                  
    </div>

    <%= f.input :language,      :label => "Language",
                                :as => :select,
                                :collection => @listing.card.list_language_options,
                                :default => "EN",
                                :input_html => { :class => "chzn-select chzn-nosearch" },
                                :required => false %>    

   	<%= f.input :scan,     		  :label => "Upload Scan",
  							                :as => :file %>
						                                                          

    <%= f.input :description,   :label => "Description",
                                :hint => "Optional",
                                :as => :string,
                                :input_html => { :maxlength => 100 } %>
                              
    <%= f.label "Options" %>

    <%= f.input :foil,          :label => "Foil stamped",
                                :default => false %>                                     

    <%= f.input :signed,        :label => "Signed by the artist",
                                :default => false %> 

    <%= f.input :misprint,      :label => "Misprinted",
                                :default => false %>

    <%= f.input :altart,        :label => "Contains alternate art",
                                :default => false %>    

  </div>
  <br class="spacer"/>
  <br class="spacer"/>  
  <div class="center">
    <%= f.button :submit, "Submit Listing", :class => "center" %>
  </div>
  <br class="spacer"/>

<% end %>
