<tr class=<%= cycle("odd","even") %>>
  <td>
    <%= display_name(listing.card.name) %>
  </td>
  <td>
    <%= display_set_symbol(listing.card.set) %>
  </td> 
  <td>
    <%= number_to_currency(listing.price) %>
  </td> 
  <td>
    <%= display_condition(listing.condition) %>
  </td>
  <td>
    <%= display_flag_symbol(listing.language) %>
  </td>
  <td align="center" style="text-align:center;max-width:60px">
      <% if listing.foil %>
        <%= listing_option_foil_icon %>
      <% end %>
      <% if listing.misprint %>
        <%= listing_option_misprint_icon %>
      <% end %>
      <% if listing.signed %>
        <%= listing_option_signed_icon %>
      <% end %>
      <% if listing.altart %>
        <%= listing_option_altart_icon %>
      <% end %>    
      <% if listing.description != "" %>
        <%= listing_option_description_icon(listing) %>
      <% end %>
  		<% if listing.scan.present? %>
        <%= listing_option_scan_icon(listing) %>
        <%= listing_option_scan_overlay(listing) %>
      <% end %> 
  </td>
  <td>
    <%= listing.quantity %>
  </td>
  <td class="teaser_row_actions">
    <div class="teaser_row_actions_icon center">
     <%= menu_icon %>
    </div>
    <div class="teaser_row_actions_list" style="display:none">
      <ul>
        <li> <%= link_to "Edit", edit_mtg_listing_path(listing)%> </li>
        <li> <%= link_to "Set as Active", mtg_listing_set_active_path(listing), :method => :put if not listing.active %> </li>  
        <li> <%= link_to "Set as Inactive", mtg_listing_set_inactive_path(listing), :method => :put if listing.active %> </li>          
        <li> <%= link_to "Remove", mtg_listing_path(listing), :method => :delete , :confirm => "Are you sure you want to permanently delete this listing?"%> </li>
      </ul>
    </div>
  </td>
  
</tr>     
