<% title "Edit Listing"%>

<h1>Edit listing</h1>

<%= simple_form_for @listing, :url => mtg_listing_path, :method => :put do |f| %>
  <br class="spacer"/>
  <br class="spacer"/>
  <div class="inputs">
    <%= f.input :name,          :label => "Card Name",
                                :as => :string,
                                :input_html => { :value => "#{@listing.card.name}" , :disabled => 'disabled'},
                                :required => false %>
                                
    <%= f.input :set,           :label => "Set",
                                :as => :string,
                                :input_html => { :value => "#{@listing.card.set.name}" , :disabled => 'disabled'},
                                :required => false %>

    <%#= f.input :price,         :label => "Asking Price",
                                :as => :currency,
                                :input_html => { :value => @listing.price },
                                :required => true %>
                                
                                
    <%= f.input :price_options, :label => "Asking Price",
                                :as => :radio,
                                :collection => [["Low (#{@listing.card.listing_price_low})".html_safe,      @listing.card.listing_price_low], 
                                                ["Average (#{@listing.card.listing_price_med})".html_safe,  @listing.card.listing_price_med], 
                                                ["High (#{@listing.card.listing_price_high})".html_safe,    @listing.card.listing_price_high],
                                                ["Other $ #{text_field_tag "mtg_listing[price]", @listing.price, :style => "width:50px;"}".html_safe, "other"]],
                                :checked => "other",                                                                                                
                                :required => 'true' %>  

    <%= f.input :condition,     :label => "Condition",
                                :as => :select,
                                :collection => condition_list,
                                :default => "NM",
                                :input_html => { :class => "chzn-select" },
                                :required => true %>

    <%= f.input :language,      :label => "Language",
                                :as => :select,
                                :collection => @listing.card.list_language_options,
                                :default => "EN",
                                :input_html => { :class => "chzn-select" },
                                :required => false %>                                

    <%= f.input :description,   :label => "Description",
                                :as => :string %>

    <%= f.label "", :label => "Unique Options"%>

    <%= f.input :foil,          :label => "This card is foil stamped",
                                :default => false %>                                     

    <%= f.input :signed,        :label => "This card is signed by the artist",
                                :default => false %> 

    <%= f.input :misprint,      :label => "This card has a rare print mistake",
                                :default => false %>
                                
    <%= f.input :altart,        :label => "This card has alternate art",
                                :default => false %>                                
                                

  </div>
  <br class="spacer"/>
  <br class="spacer"/>
  <br class="spacer"/>  
  <div class="center">
    <%= f.button :submit, "Update Listing", :class => "center" %>
  </div>
<% end %>
