<% title "Create a listing"%>

<h1>Create a listing</h1>

<%= simple_form_for @listing, :url => mtg_listings_path, :method => :post do |f| %>


  <div class="inputs">
    <br class="spacer"/>
    <br class="spacer"/>  
    <%= f.input :card_id,       :as => :hidden,
                                :input_html => { :value => params[:card_id], :name => :card_id } %>
                            
    <%= f.input :name,          :label => "Card",
                                :input_html => { :value => "#{@listing.card.name}" },
                                :disabled => true,
                                :required => 'false' %>
                                
    <%= f.input :set,           :label => "Set",
                                :input_html => { :value => "#{@listing.card.set.name}" },
                                :disabled => true,                                
                                :required => 'false' %>
                                
    <%= f.input :quantity,      :label => "Quantity",
                                :as => :select,
                                :collection => [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
                                :default => 1,
                                :input_html => { :class => "chzn-select" },
                                :required => 'true' %>

    <%= f.input :condition,     :label => "Condition",
                                :as => :select,
                                :collection => condition_list,
                                :default => "NM",
                                :input_html => { :class => "chzn-select" },
                                :required => 'true' %>
                                                                
    <%= f.input :price_options, :label => "Asking Price",
                                :as => :radio,
                                :collection => [["Low (#{@listing.card.listing_price_low})".html_safe,      @listing.card.listing_price_low], 
                                                ["Average (#{@listing.card.listing_price_med})".html_safe,  @listing.card.listing_price_med], 
                                                ["High (#{@listing.card.listing_price_high})".html_safe,    @listing.card.listing_price_high],
                                                ["Other $ #{text_field_tag "mtg_listing[price]", "",:style => "width:50px;"}".html_safe, "other"]],
                                :checked => @listing.card.listing_price_med,                                                                                                
                                :required => 'true' %>
                                
    <%#= f.input :price,         :label => "Asking Price",
                                :as => :currency,
                                :required => 'true' %>

    <%= f.input :language,      :label => "Language",
                                :as => :select,
                                :collection => @listing.card.list_language_options,
                                :default => "EN",
                                :input_html => { :class => "chzn-select" },
                                :required => false %>    
                                
    <%= f.input :description,   :label => "Optional Description",
                                :as => :string %>
                                
    <%= f.label "", :label => "Unique Options"%>
    
    <%= f.input :foil,          :label => "This card is foil stamped",
                                :default => false %>                                     
                                
    <%= f.input :signed,        :label => "This card is signed by the artist",
                                :default => false %> 
                                
    <%= f.input :misprint,      :label => "This card has a rare print mistake",
                                :default => false %> 
                                
    <%= f.input :altart,        :label => "This card has alternate art",
                                :default => false %>                                

  </div>
  <br class="spacer"/>
  <br class="spacer"/>
  <br class="spacer"/>  
  <div class="center">
    <%= f.button :submit, "Create Listing", :class => "center" %>
  </div>
<% end %>
