<% title "Create a listing"%>

<h1>Create a listing</h1>

<%= simple_form_for @listing, :url => mtg_listings_path, :method => :post do |f| %>
  <br class="spacer"/>
  <br class="spacer"/>
  <div class="inputs">
    <%#= f.label "Card Name" %>
    <%= f.input :card_id,       :as => :hidden,
                                :input_html => { :value => params[:card_id] } %>
                            
    <%= f.input :name,          :label => "Card",
                                :input_html => { :value => "#{@listing.card.name}" , :disabled => 'disabled' },
                                :required => 'false' %>
                                
    <%= f.input :set,           :label => "Set",
                                :input_html => { :value => "#{@listing.card.set.name}" , :disabled => 'disabled'},
                                :required => 'false' %>

    <%= f.input :price,         :label => "Asking Price",
                                :as => :currency,
                                :required => 'true' %>

    <%= f.input :condition,     :label => "Condition",
                                :as => :select,
                                :collection => condition_list,
                                :default => "NM",
                                :input_html => { :class => "chzn-select" },
                                :required => 'true' %>
    <%= f.input :description,   :label => "Description",
                                :as => :string %>
    <%= f.input :foil,          :label => "Foil?",
                                :default => false %>                                     
    <%= f.input :foreign,       :label => "Foreign?",
                                :default => false %> 
    <%= f.input :defect,        :label => "Rarities or miscuts?",
                                :default => false %> 
    <%= f.input :quantity,      :label => "Quantity",
                                :as => :select,
                                :collection => [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
                                :default => 1,
                                :input_html => { :class => "chzn-select" },
                                :required => 'true' %>

  </div>
  <br class="spacer"/>
  <br class="spacer"/>
  <br class="spacer"/>  
  <div class="center">
    <%= f.button :submit, "Create Listing", :class => "center" %>
  </div>
<% end %>
