<%

query = mtg_filters_query(:seller => false, :activate_filters => params[:filter], :filter_by => params[:filter_by].present? ? 'params' : 'cookies')

if params[:status] == "inactive"
  if params[:type] == "playsets"
    @listings = current_user.mtg_listings.includes(:card => :set).where(query).where(:playset => true).inactive.order("mtg_cards.name ASC").page(params[:page]).per(50)
  else
    @listings = current_user.mtg_listings.includes(:card => :set).where(query).where(:playset => false).inactive.order("mtg_cards.name ASC").page(params[:page]).per(50)
  end
else
  if params[:type] == "playsets"
    @listings = current_user.mtg_listings.includes(:card => :set).where(query).where(:playset => true).active.order("mtg_cards.name ASC").page(params[:page]).per(50)
  else
    @listings = current_user.mtg_listings.includes(:card => :set).where(query).where(:playset => false).active.order("mtg_cards.name ASC").page(params[:page]).per(50)
  end      
end

%>
<% title "Seller Panel"%>
<h1>Seller Panel</h1>

<%= render :partial => 'account/listings_tabs' %>
  
<div id="content">
  
  <%#= link_to "Create a New Listing", new_generic_mtg_cards_listings_path, :class => "right", :style => "margin-top:23px;margin-right:10px;" %>
  <div>
    <%
      if params[:status] == "inactive"
        listings_playsets_count  = current_user.mtg_listings.where(:playset => true).inactive.pluck(:quantity_available).inject(0) {|sum, value| sum + value}
        listings_singles_count   = current_user.mtg_listings.where(:playset => false).inactive.pluck(:quantity_available).inject(0) {|sum, value| sum + value}
      else
        listings_playsets_count  = current_user.mtg_listings.where(:playset => true).active.pluck(:quantity_available).inject(0) {|sum, value| sum + value}
        listings_singles_count   = current_user.mtg_listings.where(:playset => false).active.pluck(:quantity_available).inject(0) {|sum, value| sum + value}
      end
    %>
    <ul class="tabs2">
      <li <%= "class=selected" if not params[:type].present?  %>> <%= link_to "Singles (#{listings_singles_count})",  url_for(params.merge(:type => nil)), :remote => true %> </li>  
      <li <%= "class=selected" if params[:type] == "playsets" %>> <%= link_to "Playsets (#{listings_playsets_count})", url_for(params.merge(:type => "playsets")), :remote => true %> </li>  
      <li class="tab2 message">
        <%= render :partial => '/mtg/apply_filters', :locals =>  { :remote => true } %>
      </li>  
    </ul>    
  </div>
  
  <% if @listings.count > 0 %>
  
    <% if !current_user.active %>
      <p class="ma"><i>Note: All your listings are temporarily inactive due to your seller status</i></p> 
    <% end %>
    
  	<%= form_tag mtg_cards_listings_multiple_process_request_path, :id => "multiple_listing_edit_form", :method => :post do %>
      <%= hidden_field_tag "action_input" %>
      <div>
        <span class="ml mb">
            <%  grouped_options = [ ['Update Pricing', [["Set to current low pricing", "pricing_low"], ["Set to current average pricing", "pricing_med"], ["Set to current high pricing", "pricing_high"]]],
                                  ['Change Active Status', [["Set Active", "active"], ["Set Inactive", "inactive"]]],
                                  ['Other',         [["Delete Listings","delete"]]] ] %>
          <%= select_tag "action_selector" , grouped_options_for_select(grouped_options, ""), {:tabindex => "-1", :include_blank => true, "data-placeholder" => "Actions for selected listings...", :id => "multiple_listings_actions", :class => "chzn-select chzn-nosearch", :style => "min-width:200px;"} %> 
        </span>
        <%= link_to "List a New Playset", new_mtg_cards_listings_playset_path, :class => "right button mr mb" %>
        <%= link_to "List a New Card", new_generic_mtg_cards_listings_path, :class => "right button mr mb" %>
      </div>
      <table class="data fixed">
      	<tr class="header_row">
      	  <th width="5%"><%= check_box_tag "listings", 1, false, {:id => "check_all_listings"} %></th>
      		<th>Card Name</th>
      		<th width="9%">Set</th>      
      		<th width="9%">Cond.</th>
      		<th width="9%">Lang.</th>
      		<th width="10%">Options</th>
      		<th width="12%">Price</th>    		
      		<th width="9%">Qty.</th>
      		<th width="8%">Edit</th>
      	</tr>
  	
        <%= render :partial => "mtg/cards/listings/teaser" , :collection => @listings, :as => "listing" %>
    
        <% if @listings.count == 0 %>
          <tr>          
            <% if (not current_user.active) && params[:section] == "active" %>
              <td colspan=9 class="odd"><i>Note: All your listings are temporarily inactive due to your seller status</i></td>
            <% else %>
              <td colspan=9 class="odd"><i>None</i></td>            
            <% end %>
          </tr>
        <% end %>

      </table>

    <% end %>
    
  <% else %>
  
    <% if (not current_user.active) && params[:status] == "active" %>
      <p class="ma"><i>Note: All your listings are temporarily inactive due to your seller status</i></p>
    <% elsif params[:filter] == "true" %>
      <%= render :partial => "mtg/no_results", :locals => { :filter_by => "cookies", :use_seller_filter => false } %>
    <% else %>  
      <%= link_to "Create New Listing", new_generic_mtg_cards_listings_path, :class => "right button mr mb" %>  
      <p class="ma"><i>No Listings...</i></p>
    <% end %>

  
  <% end %>
  
  <br class="spacer"/>
  
  <div class="center_wrap">
    <div class="paginator center">
      <%= paginate @listings, :method => :get %>
    </div>
  </div>
    
</div>



<div id="dialog-confirm" class="hidden" title="Empty the recycle bin?">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>