
<%= simple_form_for @contact, :url => { :action => "create" }, :html => { :method => :post, :honeypot => true } do |f| %>
  
<%= f.input :sender_name,   :label => "Your Name", :required => true%>
  
  <%= f.input :email,         :required => true %>
  
  <%= f.input :support_type,  :label => "Reason for Contact", 
                              :include_blank => false , 
                              :collection => [["Give us Kudos","Kudos"],
																							["Ask a Question","Question"], 
																							["Give a Suggestion", "Suggestion"],
																							["Inquire About Advertising", "Ads"],
																							["The Username I Requested is Reserved", "Reserved Username"],
																						  ["MTGBazaar is Missing a Product on the Site", "Missing Product"]],
                              :input_html => { :class => "chzn-select" } %>
                              
  <%= f.input :content,       :label => "Your Message", 
                              :as => :text, 
                              :required => true, 
                              :input_html => {:maxlength => "500"} %>

  <br class = "spacer"/>  
  <%#= render :partial => "shared/recaptcha_box" unless current_user %> 
  
  <br class = "spacer"/>
  <div class="center_wrap">
    <%= f.submit 'Submit' , :class => 'center' %>
  </div>
  
<% end %>
