<% title @video_series.title %>
<% page_description @video_series.description %>

<h1><%= @video_series.title %></h1>

<div id='content'>
  <div class='team_z_profile'>
    <%= render :partial => 'team_z/profiles/show_header', :locals => {:profile => @video_series.profile, :section => 'mtgo_videos' } %>
  </div>

  <%= link_to 'View all Videos', team_z_profile_path(@video_series.profile, :section => 'mtgo_videos'), :remote => true, :class => 'right mr' %>
  <div class="fb-comments" data-href="http://www.mtgbazaar.com" data-width="500" data-num-posts="2"></div>
  <br class='spacer'/>
  <div class='center_wrap'>
    <% videos = @video_series.videos.page(params[:page]).per(1) %>
    <% video  = videos.first %>
    <div class='team_z_mtgo_video'>
      <h2><%= @video_series.title %></h2>          
      <%= video.video_embed_object.html_safe %>
    </div>
    <div class='paginator'>
      <%= paginate videos, :method => :get, :remote => true, :theme => 'dots', :window => 15 %>
    </div>
  </div>
  <div class='mt'>
    <div class="fb-comments" data-href="<%= team_z_mtgo_video_series_url(@video_series) %>" data-width="520" data-num-posts="5"></div>
  </div>  
  
</div>