<%= form_for @decklist, :remote => (request.format == 'text/javascript') do |f| %>
  <div class='mt center_wrap'>
    <div class='input center mr' style='text-align:left;'>
      <%= f.label 'Deck Name:', :class => 'pl' %></br>      
      <%= f.text_field :name %></br>
    </div>
    <br class='spacer'/>
    <br class='spacer'/>
    <div class='input center mr' style='text-align:left;'>
      <%= f.label 'Paste Main Deck Here:', :class => 'pl' %></br>      
      <%= f.text_area :decklist_text_main, :style => 'height:300px;width:200px;' %>
    </div>
    <div class='input center'  style='text-align:left;'>
      <%= f.label 'Paste Sideboard Here:', :class => 'pl' %></br>      
      <%= f.text_area :decklist_text_sideboard, :style => 'height:300px;width:200px;' %>
    </div>
    <br class='spacer'/>
    <br class='spacer'/>    
    <%= f.submit 'Submit' %>    
  </div>

<% end %>