<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="shortcut icon" href="/favicon.ico" />            
    <title><%= 'MTGBazaar' + yield(:title) %></title>

    <meta name="description" content="MTG Bazaar: A marketplace for buying and selling Magic the Gathering cards">
    <meta name="keywords" content="MTG Bazaar: A marketplace for buying and selling Magic the Gathering cards">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>

    <% #--------- YIELD STUFF TO PUT IN HEADING SUCH AS JAVASCRIPT INCLUDES, ETC...----# %>
    <%= yield(:head) %>
  
    <%# cross site forgery protection %>
    <%= csrf_meta_tags %>  
  </head>

  <body>
    
    <% # DISPLAY FLASH NOTICES --------------------------------------- %>  
    <% if flash[:notice] %>
      <div id="flash" class="flash_notice">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div id="flash" class="flash_alert">
        <%= flash[:alert] %>
      </div>
    <% elsif flash[:error] %>
      <div id="flash" class="flash_error">
        <%= flash[:error] %>
      </div>
    <% elsif flash[:warning] %>
      <div id="flash" class="flash_warning">
        <%= flash[:warning] %>
      </div>
    <% end %>
      
    <div id="site">

      <%= render :partial => 'shared/header' %>
      <%= render 'shared/navbar' %>

      <div id="main" class="group">        
        <%= render :partial => 'shared/user_login' %>
        <br class="spacer"/>                
        <div class="left">
          <%= render :partial => 'shared/left_bar' %>

                          
        </div>
        <div id="center_bar">
            <%= yield %>
        </div>        
        <%= render :partial => 'shared/right_bar' %>
        <%= render :partial => 'shared/right_bar2' %>
        <%= render :partial => 'shared/right_bar3' %>    
      </div>

      <%= render 'shared/bottomnav' %>
      <%= render :partial => 'shared/footer' %>
      
    </div>
    
    
    
    
  </body>

</html>