<!DOCTYPE html>
<html lang="en">

  <head>
    <%= favicon_link_tag %>           
    <title><%= 'MTGBazaar' + yield(:title) %></title>

    <meta name="description" content="MTGBazaar: A marketplace for buying and selling Magic the Gathering cards">
    <meta name="keywords" content="MTGBazaar: A marketplace for buying and selling Magic the Gathering (MTG) cards">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <%= stylesheet_link_tag    "application" %>    
    <%= javascript_include_tag "application" %>

    <% #--------- YIELD STUFF TO PUT IN HEADING SUCH AS JAVASCRIPT INCLUDES, ETC...----# %>
    <%= yield(:head) %>
  
    <%# cross site forgery protection %>
    <%= csrf_meta_tags %>

    <% if Rails.env.production? %>
      <%# GOOGLE ANALYTICS CODE %>
      <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34432189-1']);
        _gaq.push(['_setDomainName', 'mtgbazaar.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
    
  </head>

  <body>
    <div id="loader"></div>  

    <% # DISPLAY FLASH NOTICES --------------------------------------- %>  
    <% if flash[:notice] %>
      <div id="flash" class="flash_notice">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div id="flash" class="flash_alert">
        <%= flash[:alert] %>
      </div>
    <% elsif flash[:error] %>
      <div id="flash" class="flash_error">
        <%= flash[:error] %>
      </div>
    <% elsif flash[:warning] %>
      <div id="flash" class="flash_warning">
        <%= flash[:warning] %>
      </div>
    <% end %>
      
    <div id="site">

      <%= render :partial => 'shared/header' %>
      <%= render 'shared/navbar' %>

      <div id="main" class="group">        
        <%= render :partial => 'shared/user_login' %>
        <br class="spacer"/>                
        <div class="left">
          <%= render :partial => 'shared/left_bar' %>

                          
        </div>
        <div id="center_bar_wrapper">
          <%= back_link(:message => "Back", :path => back_path) unless request.fullpath == root_path %>       
          <div id="center_bar">
            <%= yield %>
          </div>        
        </div>
        <div id="right_bar">
          <%= render :partial => 'shared/right_bar' %>
        </div>                
        <%= render :partial => 'shared/right_bar2' %>
        <%= render :partial => 'shared/right_bar3' %>    
      </div>

      <%= render 'shared/bottomnav' %>
      <%= render :partial => 'shared/footer' %>
      
    </div>
    
    
  </body>

</html>