<% title 'Edit Account' %>

<h1>Edit Account Information</h1>


<%# use @user instance variable to capture changes in @account for incorrect form entry%>
<%= simple_form_for(@user.with_account, :as => @user, :url => registration_path(@user)) do |f| %>

  <% flash[:error] = devise_error_messages! if !devise_error_messages!.empty? %>

  <br class = "spacer"/>
  <h2>Account Setup</h2>   
  <br class = "spacer"/>

  <%= f.input :email , :required => 'true' %>
  <%= f.input :password , :label => "Change password", :hint => "leave empty to keep existing password" %>
  <%= f.input :password_confirmation, :label => "Confirm password" %>

  <br class = "spacer"/>
  <h2>Profile Information</h2>
  <br class = "spacer"/>

  <%= f.simple_fields_for :account do |a| %>
    <%= a.input :first_name %>
    <%= a.input :last_name , :required => 'true' %>
    <%= a.input :address1, :label => "Address 1" , :required => 'true' %>
    <%= a.input :address2, :label => 'Address 2', :hint => "additional line for address if needed" %>
    <%= a.input :city , :required => 'true' %>
    <%= a.input :state , :required => 'true' %>
    <%= a.input :zipcode , :label => "Zip" , :required => 'true' %>    
    <%= a.input :country , :required => 'true' , :collection => [ "United States", "Canada" ] , :include_blank => false %>
  <% end %>
  
  <br class = "spacer"/>
  <h2>Confirm Changes</h2>
  <br class = "spacer"/>
  
  <%= f.input :current_password, :required => "true", :hint => "enter current password to confirm changes"%>
  <br class = "spacer"/>
  <div class = "center">
    <%= f.submit 'Confirm Changes' %>
  </div>

<% end %>

<br class = "spacer"/>
<br class = "spacer"/>  