<% title 'Edit Account' %>

<h1> Edit Account </h1>

<%# use @user instance variable to capture changes in @account for incorrect form entry%>
<%= simple_form_for(@user.with_account, :as => @user, :url => registration_path(@user)) do |f| %>
  <% flash[:error] = "There were one or more errors while trying to process your request" if !devise_error_messages!.empty? %>
  <%# flash[:error] = devise_error_messages! if !devise_error_messages!.empty? %>
  <%= f.simple_fields_for :account do |a| %>
    <br class = "spacer"/>
    <h2>Account Setup</h2>   

    <%= f.input :email , :required => true %>
    <%= a.input :paypal_username, :label => "Paypal Email", :required => false, :hint => "Required only for account withdraws" %>    
    
    <%= f.input :password, :label => "New password", :hint => "leave empty to keep existing password" %>
    <%= f.input :password_confirmation, :label => "Confirm password" %>

    <br class = "spacer"/>
    <h2>Profile Information</h2>


    <%= a.input :first_name %>
    <%= a.input :last_name , :required => true %>

    <%= a.input :address1, :label => "Street Address" , :required => true, :placeholder => "ex. 50202 Planeswalker Place" %>
    <%= a.input :address2, :label => 'Apt./Suite', :placeholder => "ex. Apt. 201"%>
    <%= a.input :city , :required => true %>
    <%= a.input :state ,        :as => :select,
                                :input_html => { :class => 'chzn-select' },
                                :collection => us_states,
                                :required => true %>
    <%= a.input :zipcode , :label => "Zip" , :required => true %>    
    <%= a.input :country , :required => true ,
                           :collection => [ ["United States", "USA"] ] , 
                           :include_blank => false, 
                           :input_html => {:class => "chzn-select"},
                           :disabled => true,
                           :hint => "currently we only support USA" %>
  <% end %>
  
  <br class = "spacer"/>
  <h2>Confirmation</h2>
  
  <%= f.input :current_password, :required => true, :hint => "enter current password to confirm changes"%>
  <br class = "spacer"/>
  <%= f.submit 'Confirm Changes', :class => "center" %>

<% end %>

<br class = "spacer"/>
<br class = "spacer"/>  