<% title 'Sign up' %>

<h1>Sign up</h1>


<%# use @user instance variable to capture changes in @account for incorrect form entry%>
<%= simple_form_for(@user.with_account, :as => @user, :url => registration_path(@user)) do |f| %>

  <% flash[:error] = "There were one or more errors while trying to process your request" if !devise_error_messages!.empty? %>

  <h2>Account Setup</h2>

  <%= f.input :username,              :required => 'true' , :hint => "no special characters or spaces"  %>
  <%= f.input :email ,                :required => 'true' %>
  <%= f.input :password,              :required => 'true', :hint => "must be at least 6 characters"  %>
  <%= f.input :password_confirmation, :label => "Confirm Password", :required => 'true' %>
  <%= f.simple_fields_for :account do |a| %>
    <%= a.input :security_question,   :label => "Security Question", 
                                      :collection => [  "What was the make of your first car?",
                                                        "What is your mother's maiden name?",
                                                        "What was your childhood nickname?",
                                                        "What is your oldest sibling's name?",
                                                        "Who was your childhood hero?",
                                                        "What is your grandmother's name?" ] , 
                                      :include_blank => false ,
                                      :input_html => { :class => 'chzn-select'} %>
    <%= a.input :security_answer,     :label => "Answer", 
                                      :required => 'true',
                                      :hint => "please remember for identity confirmation" %>
  <% end %>

  
  <h2>Personal Information</h2>

  <%= f.simple_fields_for :account do |a| %>
    <%= a.input :first_name %>
    <%= a.input :last_name ,    :required => 'true' %>
    <%= a.input :address1,      :label => "Address 1" , :required => 'true' %>
    <%= a.input :address2,      :label => 'Address 2', :hint => "additional line for address if needed" %>
    <%= a.input :city ,         :required => 'true' %>
    <%= a.input :state ,        :required => 'true' %>
    <%= a.input :zipcode ,      :label => "Zip" , :required => 'true' %>    
    <%= a.input :country ,      :required => 'true' , :collection => [ "United States", "Canada" ] , :include_blank => false , :input_html => { :class => 'chzn-select' }  %>

  <% end %>
  <h2>Confirmation</h2>


  <%# Recaptcha box %>
  <%= javascript_tag "var RecaptchaOptions = { theme : 'white' };" %>
  <div class = "center" style = "width: 300px;">
    <%= recaptcha_tags %>
  </div>

  <br class = "spacer"/>
  <%# Check boxes for age and agree-to-terms %>
  <%= f.input :age,           :label => '',
                              :as => :check_boxes ,
                              :required => 'true' ,
                              :collection => [["I am over the age of 18 years",1]] %>
  <%= f.input :terms,         :label => '',
                              :as => :check_boxes ,
                              :required => 'true' ,
                              :collection => [["I agree to Terms of Service",1]]%>


    
  <br class = "spacer"/>
  <%= f.submit 'Sign up' , :class => 'center' %>

<% end %>


<%= render :partial => "devise/shared/links" %>
